node_modules/
.env
.env.*
!.env.example
coverage/
dist/
build/
tmp/
*.sqlite
*.sqlite-journal
prisma/dev.db
prisma/dev.db-journal
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

/generated/prisma
