USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_GetMarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Report_GetMarks] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	declare @year nvarchar(10)
	declare @class nvarchar(10)
	declare @group nvarchar(10)
	set @year=SUBSTRING(@Criteria,23,4)
	set @class=SUBSTRING(@Criteria,58,2)
	set @group=SUBSTRING(@Criteria,90,2)
	

	if(@Criteria<>'')
	begin
	   set @sql='select rs_ObtainMarks.*,er_StudentToClass.ClassId,er_StudentToClass.GroupId,er_StudentToClass.ShiftId,er_StudentToClass.SectionId,
st_Person.NameEng,st_Person.FatherNameEng,st_Person.MotherNameEng,er_SubjectToClass.SubjectId as SubId,er_SubjectToClass.PaperNo,er_SubjectToClass.CategoryId,er_SubjectToClass.IsOptional,
ss_Student.RegNo,bs_SubjectName.SubjectName,SubjectiveMarks+ObjectiveMarks+PracticalMarks+OtherMarks as Total,  
(select Max(SubjectiveMarks+ObjectiveMarks+PracticalMarks+OtherMarks) 
   from rs_ObtainMarks inner join er_StudentToClass on rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id 
   where rs_ObtainMarks.YearId='+@year+' and er_StudentToClass.ClassId='+@class+' and er_StudentToClass.GroupId='+@group+') as highest,
''FFF'' as GradeLetter,''-1111'' as GradePoint,
	case when BaseMarks=50.00 
		 then
			cast(((SubjectiveMarks+ObjectiveMarks+PracticalMarks+OtherMarks)*100)/BaseMarks as decimal(5,2))
		 else
		    cast((SubjectiveMarks+ObjectiveMarks+PracticalMarks+OtherMarks)as decimal(5,2)) end as ConvertedMarks

from rs_ObtainMarks
inner join er_StudentToClass on rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id 
inner join er_SubjectToClass on rs_ObtainMarks.SubjectId=er_SubjectToClass.Id
inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
 where ' + @Criteria +' order by ss_Student.RegNo'
		EXECUTE sp_executesql @sql
	end
END


GO
