USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[lb_Book]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lb_Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Author] [nvarchar](250) NULL,
	[ISBN] [nvarchar](50) NULL,
	[EditionId] [int] NULL,
	[CountryId] [int] NULL,
	[PublisherId] [int] NULL,
	[LanguageId] [int] NULL,
	[PublishDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[Stock] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[Subtitle] [nvarchar](250) NULL,
	[VolumeNo] [int] NULL,
	[CellNo] [varchar](10) NULL,
	[SelfNo] [varchar](10) NULL,
	[Description] [nvarchar](max) NULL,
	[Keywords] [nvarchar](50) NULL,
	[CoverPhoto] [nvarchar](250) NULL,
 CONSTRAINT [PK_lb_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
