USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherPin_GetInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
Create PROCEDURE [dbo].[USP_TeacherPin_GetInfo] 


	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT CASE 
            WHEN m.YearStyle = 1  
               THEN DATEPART(yy,Getdate())%100
            When m.YearStyle = 2  
            THEN DATEPART(yy,Getdate())   
               ELSE null
       END as YearFormate, * 
FROM bs_TeacherPin m left outer join bs_RegNoFormat f on f.Id=m.StyleId

  
END


GO
