USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_AccPayable]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[USP_Report_AccPayable] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select A.*, C.* From 
(
SELECT     ta.AccountCodeId, ta.AccountName, ta.AId, ta.SubHeadId as HEADID, ta.AppPId, ta.Description, 
           ta.Status, ta.AccountTypeId, SUM(l.CrAmount) AS BALANCE, l.TDate
FROM         tbl_Sub_AccounHead sah INNER JOIN
             tbl_Account ta ON sah.SubHeadCodeId = ta.SubHeadId
              RIGHT OUTER JOIN
                tbl_Lgledger l ON ta.AccountCodeId = l.AccountCodeId

GROUP BY ta.AccountCodeId, ta.AccountName, ta.AId, 
ta.SubHeadId, ta.AppPId, ta.Description, 
                      ta.Status, ta.AccountTypeId, l.TDate) A, 
                      
                      (Select * from bs_SchoolInformation) C   where ' +@Criteria
	EXECUTE sp_executesql @sql
END


GO
