USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_Journal]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Journal](
	[JrTranId] [int] NOT NULL,
	[TDate] [datetime] NOT NULL,
	[VNo] [nvarchar](25) NULL,
	[MrNo] [nvarchar](200) NULL,
	[Purpose] [nvarchar](200) NULL,
	[AId] [bigint] NULL,
	[AccountCodeId] [nvarchar](25) NOT NULL,
	[HeadCodeId] [bigint] NULL,
	[DrAmount] [float] NULL,
	[CrAmount] [float] NULL,
	[Flag] [nvarchar](5) NULL,
	[Remarks] [nvarchar](200) NULL,
	[VType] [nvarchar](50) NULL,
	[PurchaseDate] [datetime] NULL,
	[TentaiveDate] [datetime] NULL,
	[ChequeNo] [nvarchar](200) NULL,
	[TrnId] [bigint] NULL,
	[CDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[IsLgledger] [bit] NULL,
 CONSTRAINT [PK_tbl_Journal] PRIMARY KEY CLUSTERED 
(
	[JrTranId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
