USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Setting_SchoolInfoUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 18-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Setting_SchoolInfoUpdate] (
@Name nvarchar(250),
@Code nvarchar(20),
@Logo nvarchar(250),
@Year nvarchar(5),
@EstdBy nvarchar(50),
@Address nvarchar(250),
@Description nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update bs_SchoolInformation set 
	Name=@Name,
	Code=@Code,
	Logo=@Logo,
	EstablishedYear=@Year,
	EstablishedBy=@EstdBy,
	Address=@Address,
	Description=@Description
	where Id=1
END


GO
