USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_HealthInformationOfStudent_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_HealthInformationOfStudent_Insert] (
@StudentID int,
@Height nvarchar(50),
@Weight nvarchar(50),
@HealthDate datetime,
@PhysicalDrawBack nvarchar(50),
@DrawBackDetails nvarchar(250),
@AllergyProblem nvarchar(50),
@AvoidForAllergy nvarchar(50),
@MedicinesGropName nvarchar(50)

)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_HealthInformation (StudentID,Height,Weight,HealthDate,PhysicalDrawBack,DrawBackDetails,AllergyProblem,AvoidForAllergy,MedicinesGropName)
	values
	(@StudentID,@Height,@Weight,@HealthDate,@PhysicalDrawBack,@DrawBackDetails,@AllergyProblem,@AvoidForAllergy,@MedicinesGropName)
	
END


GO
