USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetPaymentByEmployee]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetPaymentByEmployee](

@EmployeeId int,
@YearId int
)
AS BEGIN
		IF EXISTS(SELECT * FROM tbl_EmployeeSalary WHERE EmployeeId=@EmployeeId AND YearId=@YearId)
			BEGIN
				SELECT * FROM tbl_EmployeeSalary WHERE EmployeeId=@EmployeeId AND YearId=@YearId
			END
		ELSE
			BEGIN
				SELECT * FROM tbl_PayrollSetup WHERE YearId=@YearId 
			END		
	END
GO
