USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetInformationByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Student_GetInformationByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select distinct st_Person.*,ss_Student.Id as StudentId,ss_Student.RegNo as RegistrationNo,er_StudentToClass.Id as StudentToClassId,er_StudentToClass.*,st_PresentAddress.Address,
fee_PaymentForStudent.Remarks,bs_Status.Status,ss_Student.StatusId,

	   (select ClassName from bs_ClassName where bs_ClassName.Id=er_StudentToClass.ClassId) as ClassName,
	   (select GroupName from bs_Group where bs_Group.Id=er_StudentToClass.GroupId) as GroupName,
	   (select Shift from bs_Shift where bs_Shift.Id=er_StudentToClass.ShiftId) as Shift,
	   (select Section from bs_Section where bs_Section.Id=er_StudentToClass.SectionId) as Section,
	   (select CampusName from bs_CampusName where bs_CampusName.Id=er_StudentToClass.CampusId) as CampusName,
	   (select Year from bs_Year where bs_Year.Id=er_StudentToClass.Year) as YearName,
	   (select MediumName from bs_Medium where bs_Medium.Id=er_StudentToClass.MediumId) as MediumName
	   
	   
        from ss_Student  
		inner join er_StudentToClass on ss_Student.Id=er_StudentToClass.StudentId
		inner join st_Person on ss_Student.PersonId=st_Person.Id
		left join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId
		left join fee_PaymentForStudent on er_StudentToClass.Id=fee_PaymentForStudent.StudentToClassId
		left join bs_Status on ss_Student.StatusId=bs_Status.Id where ' + @Criteria

		 + 'order by ss_Student.RegNo ASC'

		EXECUTE sp_executesql @sql
	end
END
GO
