USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_AccLedger]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_Report_AccLedger] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='SELECT l.SrNo, l.TDate, l.AccountCodeId, l.Description,
 l.OpBalance,l.DrAmount,l.CrAmount, l.ClBalance, l.AID,l.JrTranId,
 a.AccountName , s.Name, s.Address 
 FROM tbl_Lgledger l LEFT OUTER JOIN 
 tbl_Account a ON l.AId = a.AId ,bs_SchoolInformation s  where ' +@Criteria
	EXECUTE sp_executesql @sql
END


GO
