USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insert_EmployeeAccount]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Insert_EmployeeAccount](

@PersonId INT,
@DesignationId INT,
@CampusId INT,
@IsActive bit,
@AccountNumber NVARCHAR(50),
@CreatedBy NVARCHAR(50),
@CreatedDate DATETIME
)

AS BEGIN
		UPDATE tr_Teacher 
		SET AccountNumber=@AccountNumber, IsActive=@IsActive
		WHERE PersonId=@PersonId AND DesignationId=@DesignationId AND Campus=@CampusId
		END
GO
