USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherPin_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Md. S. I. Shojib
-- Create date: 22-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_TeacherPin_Insert] (

@Prefix nvarchar(50),
@YearFormat int,
@StyleId int,
@IsRegNoUse bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into bs_TeacherPin values (@Prefix,@YearFormat,@StyleId,@IsRegNoUse)
	select SCOPE_IDENTITY()
  
END


GO
