USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetMonthlyPaymentByType]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_GetMonthlyPaymentByType] (
@StudentToClassId int,
@YearId int,
@ClassId int,
@PaymentTypeId int,
@MonthId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select bs_Year.Year, * from ss_Payment 
	inner join bs_Year on ss_Payment.Year=bs_Year.Id
	
where StudentToClassId=@StudentToClassId and ss_Payment.Year=@YearId and (@PaymentTypeId=-1 or ss_Payment.PaymentTypeId=@PaymentTypeId) 
and ss_Payment.ClassId=@ClassId and ss_Payment.Month=@MonthId
END

GO
