USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Routine_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Routine_GetByCriteria] (
@Criteria nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select distinct cr.Period,(Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+CHAR(10)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Saturday'' and t.Period=cr.Period) as ''Saturday'',
	 
	 (Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+CHAR(10)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Sunday'' and t.Period=cr.Period) as ''Sunday'',
	 
	 (Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+CHAR(10)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+CHAR(10)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Monday'' and t.Period=cr.Period) as ''Monday'',
	 
	 (Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+CHAR(10)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Tuesday'' and t.Period=cr.Period) as ''Tuesday'',
	 
	 (Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+CHAR(10)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Wednesday'' and t.Period=cr.Period) as ''Wednesday'',
	
	 (Select cl from (Select Period,StartTime+''-''+EndTime+CHAR(13)+CHAR(10)+(select case when er_SubjectToClass.PaperNo=0 then SubjectName else SubjectName+''-''+ 
cast(PaperNo as nvarchar(50)) end as SubjectName from er_SubjectToClass inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id where er_SubjectToClass.Id=csr.SubjectId)
	 +CHAR(13)+(select NameEng from st_Person tr where tr.Id=csr.TeacherId) as cl, Day from bs_ClassRoutine csr where '+@Criteria+') as t where t.Day=''Thursday'' and t.Period=cr.Period) as ''Thursday''
	 
	 from bs_ClassRoutine cr where '+@Criteria 
		EXECUTE sp_executesql @sql
	end
END


GO
