USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Task_GetParent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Task_GetParent] (
@Role int)
	
As
	select sa_TaskManager.* from sa_RoleToTask 
			inner join  sa_TaskManager on sa_RoleToTask.TaskId=sa_TaskManager.Id 
			where parentId=0 and sa_RoleToTask.RoleId=@Role


GO
