USE [DB_A12E6A_queenschool]
GO
/****** Object:  UserDefinedTableType [dbo].[dtEdu]    Script Date: 2025-10-28 6:47:17 PM ******/
CREATE TYPE [dbo].[dtEdu] AS TABLE(
	[DegreeName] [nvarchar](256) NULL,
	[Board] [nvarchar](256) NULL,
	[Grade] [nvarchar](50) NULL,
	[PassingYear] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[GPAScale] [nvarchar](50) NULL,
	[ResultDivision] [nvarchar](50) NULL
)
GO
