USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[StudentByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[StudentByUserName]
AS
SELECT sp.UserName, sp.NameEng, st.Id AS StudentId, m.MediumName, cn.ClassName, grp.GroupName, sft.Shift, sec.Section, smp.CampusName, y.Year, stc.Id AS StudenToClassId
FROM     dbo.er_StudentToClass AS stc INNER JOIN
                  dbo.ss_Student AS st ON st.Id = stc.StudentId INNER JOIN
                  dbo.st_Person AS sp ON sp.Id = st.PersonId INNER JOIN
                  dbo.bs_Medium AS m ON stc.MediumId = m.Id INNER JOIN
                  dbo.bs_ClassName AS cn ON cn.Id = stc.ClassId INNER JOIN
                  dbo.bs_Group AS grp ON grp.Id = stc.GroupId INNER JOIN
                  dbo.bs_Shift AS sft ON sft.Id = stc.ShiftId INNER JOIN
                  dbo.bs_Section AS sec ON sec.Id = stc.ShiftId INNER JOIN
                  dbo.bs_CampusName AS smp ON smp.Id = stc.CampusId INNER JOIN
                  dbo.bs_Year AS y ON y.Id = stc.Year
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[25] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "stc"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "st"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 504
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sp"
            Begin Extent = 
               Top = 7
               Left = 552
               Bottom = 170
               Right = 797
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "m"
            Begin Extent = 
               Top = 7
               Left = 845
               Bottom = 170
               Right = 1039
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cn"
            Begin Extent = 
               Top = 7
               Left = 1087
               Bottom = 126
               Right = 1281
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "grp"
            Begin Extent = 
               Top = 126
               Left = 1087
               Bottom = 245
               Right = 1281
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sft"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 294
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'StudentByUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    End
         Begin Table = "sec"
            Begin Extent = 
               Top = 175
               Left = 290
               Bottom = 294
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "smp"
            Begin Extent = 
               Top = 175
               Left = 532
               Bottom = 294
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "y"
            Begin Extent = 
               Top = 175
               Left = 774
               Bottom = 316
               Right = 968
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'StudentByUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'StudentByUserName'
GO
