USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Gender_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Gender_Insert] (
@Gender nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Gender where Gender=@Gender)
		begin
			select -1
		end
	else
		begin
			insert into bs_Gender(Gender) values (@Gender)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
