USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tr_Teacher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DesignationId] [int] NULL,
	[TeacherPin] [nvarchar](50) NULL,
	[Joindate] [datetime] NULL,
	[UserName] [nvarchar](250) NULL,
	[PersonId] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[NId] [nvarchar](50) NULL,
	[EmployeeId] [int] NULL,
	[IsActive] [bit] NULL,
	[Campus] [int] NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[GradeId] [int] NULL,
	[LevelId] [int] NULL,
 CONSTRAINT [PK_tr_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tr_Teacher]  WITH CHECK ADD  CONSTRAINT [FK_tr_Teacher_st_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[st_Person] ([Id])
GO
ALTER TABLE [dbo].[tr_Teacher] CHECK CONSTRAINT [FK_tr_Teacher_st_Person]
GO
