USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ContactInfo_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 23-07-2017
-- =============================================
create PROCEDURE [dbo].[USP_ContactInfo_GetByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='Select Name,Email,Mobile,Subject,Message,Date
	from dbo.bs_ContactInfo where ' +@Criteria
	EXECUTE sp_executesql @sql
END
GO
