USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AttendenceType_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 25-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AttendenceType_Update] (
@Id int,
@AttendenceType nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_AttendenceType set
	AttendenceType=@AttendenceType
	where Id=@Id
  
END


GO
