USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Routine_ExamRoutineInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Routine_ExamRoutineInsert] (
@Xml nvarchar(MAX),
@Year int,
@ClassId int,
@GroupId int,
@ShiftId int,
@ExamTypeId int
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into bs_ExamRoutine
	(
	  Year,ClassId,GroupId,ShiftId,SubjectId,StartTime,EndTime,ExamDate,ExamTypeId
	)
	SELECT @Year,@ClassId,@GroupId,@ShiftId,SubjectId,StartTime,EndTime,ExamDate,@ExamTypeId
	FROM OPENXML(@pointerDoc, 'dsRoutine/dtRoutine',2)
	WITH (
		SubjectId int,
		StartTime nvarchar(20),
		EndTime nvarchar(20),
		ExamDate date
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
