USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_EventCalendar]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_EventCalendar](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](200) NULL,
	[title] [nvarchar](200) NULL,
	[event_start] [datetime] NULL,
	[event_end] [datetime] NULL,
	[all_day] [bit] NULL,
 CONSTRAINT [PK_ECICalendarEvent_Test] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
