USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notes_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_Notes_Insert](
@SubjectToClassId int,
@TitleInBangla nvarchar (250),
@Title nvarchar(250),
@ShortDescriptionInBangla nvarchar (250),
@ShortDescription nvarchar(250),
@DetailsInBangla nvarchar(max),
@Details nvarchar(max),
@Date datetime,
@CreatedBy nvarchar(50),
@CreatedDate DateTime
)

AS
BEGIN
	SET NOCOUNT ON;
		IF EXISTS (select * from bs_Notes where Title=@Title and Date=@Date and SubjectToClassId=@SubjectToClassId)
		begin
			select -1
		end
	else
		begin
			insert into bs_Notes(SubjectToClassId,TitleInBangla,Title,ShortDescriptionInBangla,ShortDescription,DetailsInBangla,Details,Date,CreatedBy,CreatedDate)
			values(@SubjectToClassId,@TitleInBangla,@Title,@ShortDescriptionInBangla,@ShortDescription,@DetailsInBangla,@Details,@Date,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end

END
GO
