USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertExamRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 01-12-2016
-- =============================================
CREATE proc [dbo].[USP_InsertExamRoutine]
@Year int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@ExamTypeId int,
@SubjectId int,
@StartTime nvarchar(50),
@EndTime nvarchar(50),
@ExamDate DATE
as
INSERT Into bs_ExamRoutine
	(
	  Year,MediumId,CampusId,ClassId,GroupId,ShiftId,ExamTypeId,SubjectId,StartTime,EndTime,ExamDate
	)
	values (@Year,@MediumId,@CampusId,@ClassId,@GroupId,@ShiftId,@ExamTypeId,@SubjectId,@StartTime,@EndTime,@ExamDate)
	
Select max(Id) from bs_ExamRoutine


GO
