USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetForStudentPromotion]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[USP_Student_GetForStudentPromotion] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select *, er_StudentToClass.Id as StudentToClassId
from er_StudentToClass 
--left outer join er_StudentToClass on rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id 
inner join bs_ClassName on bs_ClassName.Id=er_StudentToClass.ClassId
inner join bs_Group on bs_Group.Id=er_StudentToClass.GroupId
inner join bs_Shift on bs_Shift.Id=er_StudentToClass.ShiftId
inner join bs_Section on bs_Section.Id=er_StudentToClass.SectionId
left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId    where ' +@Criteria
+' order by er_StudentToClass.RollNo ASC '
	EXECUTE sp_executesql @sql
END




GO
