USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentType_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PaymentType_Update] (
@Id int,
@Type nvarchar(250),
@IsMonthly bit,
@IsDefault bit,
@UpdatedBy nvarchar(200),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update fee_PaymentType set
	PaymentType=@Type,
	IsMonthly=@IsMonthly,
	IsDefault=@IsDefault,
	UpdatedBy=@UpdatedBy,
	UpdatedDate=@UpdatedDate
	where Id=@Id
  
END
GO
