USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_HomeMenuUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_HomeMenuUpdate]
@MenuID int,
@TextBan varchar(max),
@TextEng varchar(max),
@URL varchar(max),
@ParentId int,
@UpdatedBy varchar(50),
@UpdatedDate date,
@Order int,
@PageContentID int
as
Update  HomeMenu set 
TextBan =@TextBan,
TextEng=@TextEng ,
URL =@URL,
ParentId= @ParentId,
UpdatedBy=@UpdatedBy ,
UpdatedDate =@UpdatedDate,
[Order]=@Order,
PageContentID=@PageContentID
Where MenuID=@MenuID


GO
