USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateASPnet_UserByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 03-10-2017
-- =============================================
create PROCEDURE [dbo].[USP_UpdateASPnet_UserByUserName] (

@UserName nvarchar(256),
@User nvarchar(256),
@LoweredUserName nvarchar(56)
)
AS
BEGIN
	SET NOCOUNT ON;
	update aspnet_Users set
	UserName=@User,
	LoweredUserName=@LoweredUserName

	where UserName=@UserName
END
GO
