USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Status_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Status_Insert] (
@Status nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Status where Status=@Status)
		begin
			select -1
		end
	else
		begin
			insert into bs_Status(Status) values (@Status)
			select SCOPE_IDENTITY()
		end

	
  
END
GO
