USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Student_Insert] (
@PersonId int,
@RegNo nvarchar(50),
@AddmissionDate datetime,
@AddmissionYear nvarchar(50),
@CreatedBy nvarchar(50),
@CreatedDate datetime,
@IsActive bit,
@StatusId int,
@AdaborId int,
@ZigatolaId int,
@CollegeScience int,
@CollegeBusiness int,
@EMediumAdaborId int,
@EMediumZigatolaId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from ss_Student where RegNo=@RegNo)
		begin
		    delete  from st_Person where Id=@PersonId
			select -1
		end
	else
		begin
			insert into ss_Student(PersonId,RegNo,AdmissionDate,AdmissionYear,CreatedBy,CreatedDate,IsActive,StatusId,Adabor,Zigatola,CollegeScience,CollegeBusiness,EMediumAdabor,EMediumZigatola) values (
			@PersonId,@RegNo,@AddmissionDate,@AddmissionYear,@CreatedBy,@CreatedDate,@IsActive,@StatusId,@AdaborId,@ZigatolaId,@CollegeScience,@CollegeBusiness,@EMediumAdaborId,@EMediumZigatolaId)
			select SCOPE_IDENTITY()
		end

	
  
END
GO
