USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Library_TeacherIssuedBookByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Library_TeacherIssuedBookByCriteria] (
@Criteria nvarchar(max),
@IsReturn bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select NameEng,lb_IssueBook.*,tr_Teacher.*,lb_Book.*,lb_Publisher.Publisher
		
		from  tr_Teacher
		inner join st_Person on tr_Teacher.PersonId=st_Person.Id
		inner join lb_IssueBook on lb_IssueBook.PersonId=st_Person.Id
		inner join lb_Book on lb_IssueBook.BookId=lb_Book.Id 
		inner join lb_Publisher on lb_Publisher.Id=lb_Book.PublisherId where IsReturn='+cast(@IsReturn as nvarchar(10))+' and ' + @Criteria
		EXECUTE sp_executesql @sql
	end
END


GO
