USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAutoStudentIDAdaborEMedium]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_GetAutoStudentIDAdaborEMedium] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select Max(EMediumAdabor)+1 from  dbo.ss_Student
END
GO
