USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentType_GetByYear]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_PaymentType_GetByYear] (
@YearId int,
@Month nvarchar(50),
@ClassId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select *,
	(select SUM(Amount) from fee_PaymentForClass where fee_PaymentForClass.YearId=@YearId and fee_PaymentForClass.ClassId=@ClassId and fee_PaymentForClass.Month=@Month) as Total
	 from fee_PaymentForClass 
	inner join fee_PaymentType on fee_PaymentForClass.PaymentTypeId=fee_PaymentType.Id 
	where fee_PaymentForClass.YearId=@YearId and fee_PaymentForClass.ClassId=@ClassId and fee_PaymentForClass.Month=@Month
	
END


GO
