USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetMarksForPromotion]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_Student_GetMarksForPromotion] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select StudentToClassId
	,ExamTypeId	
	,sum(SubjectiveMarks) as SubjectiveMarks
	,sum(ObjectiveMarks) as ObjectiveMarks
	,sum(PracticalMarks) as PracticalMarks
	,sum(OtherMarks) as OtherMarks
	,sum(AttendanceMarks) as AttendanceMarks
	,sum(MonthlyMarks) as MonthlyMarks
	,sum(SubjectiveMarks + ObjectiveMarks + PracticalMarks + OtherMarks+AttendanceMarks+MonthlyMarks) as TotalMarks
	,er_StudentToClass.StudentId
	,er_StudentToClass.ClassId
	,er_StudentToClass.GroupId
	,er_StudentToClass.ShiftId
	,er_StudentToClass.SectionId
	,er_StudentToClass.CreatedBy
	,er_StudentToClass.CreatedDate
	,er_StudentToClass.Year
	,er_StudentToClass.RollNO
	,st_Person.NameEng,
	bs_ClassName.ClassName,
	bs_Group.GroupName,
	bs_Shift.Shift,
	bs_Section.Section
from rs_ObtainMarks
INNER JOIN er_StudentToClass on rs_ObtainMarks.StudentToClassId = er_StudentToClass.Id
INNER JOIN bs_ClassName on bs_ClassName.Id = er_StudentToClass.ClassId
INNER JOIN bs_Group on bs_Group.Id = er_StudentToClass.GroupId
INNER JOIN bs_Shift on bs_Shift.Id = er_StudentToClass.ShiftId
INNER JOIN bs_Section on bs_Section.Id = er_StudentToClass.SectionId

INNER JOIN ss_Student on er_StudentToClass.StudentId = ss_Student.Id
INNER JOIN st_Person on ss_Student.PersonId = st_Person.Id  where ' +@Criteria 
   +'group by StudentToClassId 
   ,rs_ObtainMarks.ExamTypeId
	,er_StudentToClass.ClassId
	,er_StudentToClass.GroupId
	,er_StudentToClass.ShiftId
	,er_StudentToClass.SectionId
	,er_StudentToClass.CreatedBy
	,er_StudentToClass.CreatedDate
	,er_StudentToClass.StudentId
	,er_StudentToClass.year
	,er_StudentToClass.RollNO
	,st_Person.NameEng,
	bs_ClassName.ClassName,
	bs_Group.GroupName,
	bs_Shift.Shift,
	bs_Section.Section
order by er_StudentToClass.RollNo'

	EXECUTE sp_executesql @sql
	
END


GO
