USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEmployeeSalaryDetails]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetEmployeeSalaryDetails](
@YearId INT,
@CampusId INT,
@GradeId INT
)
AS BEGIN
		IF EXISTS(SELECT * FROM tbl_EmployeeAccount 
		INNER JOIN tr_Teacher ON tbl_EmployeeAccount.EmployeeId=tr_Teacher.EmployeeId		
		WHERE YearId=@YearId AND CampusId=@CampusId AND tr_Teacher.GradeId=@GradeId
		)
		BEGIN
		    SELECT * FROM tbl_EmployeeAccount 
		    INNER JOIN bs_Designation ON tbl_EmployeeAccount.DesignationId=bs_Designation.Id
		    INNER JOIN bs_CampusName ON tbl_EmployeeAccount.CampusId=bs_CampusName.Id
			INNER JOIN tr_Teacher ON tbl_EmployeeAccount.EmployeeId=tr_Teacher.EmployeeId
			INNER JOIN bs_Year ON tbl_EmployeeAccount.YearId=bs_Year.Id
			INNER JOIN bs_Month ON tbl_EmployeeAccount.MonthId=bs_Month.Id
			INNER JOIN st_Person ON tr_Teacher.PersonId=st_Person.Id
			WHERE tbl_EmployeeAccount.YearId=@YearId AND tbl_EmployeeAccount.CampusId=@CampusId AND tr_Teacher.GradeId=@GradeId
		END
		ELSE
		BEGIN
			SELECT * FROM tbl_PayrollSetup
			INNER JOIN tr_Teacher ON tbl_PayrollSetup.DesignationId=tr_Teacher.DesignationId
			INNER JOIN bs_Designation ON tbl_PayrollSetup.DesignationId=bs_Designation.Id
			INNER JOIN bs_CampusName ON tbl_PayrollSetup.CampusId=bs_CampusName.Id
			WHERE YearId=@YearId AND CampusId=@CampusId AND tr_Teacher.GradeId=@GradeId
		END
	END
GO
