USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_UnseenNoticeForTeacher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Notice_UnseenNoticeForTeacher] (
@TeacherId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
		begin
			select bs_Notice.*,nt_NoticeForTeacher.IsSeen,nt_NoticeForTeacher.TeacherId from nt_NoticeForTeacher inner join bs_Notice
			on nt_NoticeForTeacher.NoticeId=bs_Notice.Id where nt_NoticeForTeacher.TeacherId=@TeacherId
		end
END


GO
