USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentToClass_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 04-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentToClass_Insert] (
@StudentId int,
@MediumId int,
@Year nvarchar(50),
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@CampusId int,
@RollNo int
)
	
AS

insert into er_StudentToClass
		(StudentId,MediumId,Year,ClassId,GroupId,ShiftId,SectionId,CampusId,RollNo)
 values (@StudentId,@MediumId,@Year,@ClassId,@GroupId,@ShiftId,@SectionId,@CampusId,@RollNo)

Select MAX(StudentId) from er_StudentToClass



--BEGIN
--	SET NOCOUNT ON;
--	IF EXISTS (select * from er_StudentToClass where Year=@Year and StudentId=@StudentId)
--		begin
--			select -1
--		end
--	else
--		begin
--		    declare @roll int
--		    set @roll=   cast((select Max(RollNo) from er_StudentToClass where Year=@Year and ClassId=@ClassId and GroupId=@GroupId and ShiftId=@ShiftId and SectionId=@SectionId) as int)
--			insert into er_StudentToClass(StudentId,Year,ClassId,GroupId,ShiftId,SectionId,RollNo) values (
--			@StudentId,@Year,@ClassId,@GroupId,@ShiftId,@SectionId,@roll+1)
--			select SCOPE_IDENTITY()
--		end

	
  
--END


GO
