USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_GetNoticeForStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Notice_GetNoticeForStudent] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from
	((select NoticeId from nt_NoticeForStudent where nt_NoticeForStudent.SutdentToClassId=@Id) 
	 union 
	(select NoticeId from nt_NoticeForClass where nt_NoticeForClass.ClassId=(select ClassId from er_StudentToClass where Id=@Id))) as t
	inner join bs_Notice as n on t.NoticeId=n.Id order by CreatedDate desc
	
END


GO
