USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_OutOfMarks_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 04-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_OutOfMarks_Insert](
@OutOfMarks DECIMAL(5,0)=NULL
)
AS
BEGIN
   SET NOCOUNT ON;
   IF EXISTS (SELECT * FROM bs_OutOfMarks WHERE OutOfMarks=@OutOfMarks)
      BEGIN
	      SELECT -1
	  END
   ELSE
      BEGIN
	      INSERT INTO bs_OutOfMarks(OutOfMarks) VALUES(@OutOfMarks)
		  SELECT SCOPE_IDENTITY()
	  END
END
GO
