USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Grade_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Grade_Insert] (
@GradeName nvarchar(50),
@GradePoint decimal(5,2),
@StartMarks decimal(5,2),
@EndMarks decimal(5,2),
@Remarks nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from rs_Grade where GradeName=@GradeName)
		begin
			select -1
		end
	else
		begin
			insert into rs_Grade(GradeName,GradePoint,StartMarks,EndMarks,Remarks) values (@GradeName,@GradePoint,@StartMarks,@EndMarks,@Remarks)
			select SCOPE_IDENTITY()
		end

	
  
END
GO
