USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_LevelToGrade]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LevelToGrade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GradeId] [int] NULL,
	[DesignationId] [int] NULL,
 CONSTRAINT [PK_tbl_LevelToGrade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
