USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_NotesBangla_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_NotesBangla_GetByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select  bs_Notes.Id,TitleInBangla as Title ,Date,ShortDescriptionInBangla as ShortDescription,DetailsInBangla as Details
	from bs_Notes 
	inner join er_SubjectToClass on bs_Notes.SubjectToClassId=er_SubjectToClass.Id
	inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
	where ' +@Criteria
	EXECUTE sp_executesql @sql
END
GO
