USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Medium_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Medium_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT CASE 
            WHEN m.YearStyle = 1  
               THEN DATEPART(yy,Getdate())%100
            When m.YearStyle = 2  
            THEN DATEPART(yy,Getdate())   
               ELSE null
       END as YearFormate, * 
FROM bs_Medium m LEFT OUTER join bs_RegNoFormat f on f.Id=m.StyleId
where m.Id=@Id
  
END


GO
