USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Class_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 28-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Class_Update] (
@Id int,
@Class nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_ClassName set
	ClassName=@Class
	where Id=@Id
  
END


GO
