USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AttendenceType_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 25-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AttendenceType_Insert] (
@AttendenceType nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_AttendenceType where AttendenceType=@AttendenceType)
		begin
			select -1
		end
	else
		begin
			insert into bs_AttendenceType(AttendenceType) values (@AttendenceType)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
