USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ExamType_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_ExamType_Insert] (
@Name nvarchar(250),
@IsDailyOrWeekly bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_ExamType where ExamType=@Name)
		begin
			select -1
		end
	else
		begin
			insert into bs_ExamType(ExamType,IsDailyOrWeekly) values (@Name,@IsDailyOrWeekly)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
