USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetSubjectById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetSubjectById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from bs_SubjectName

inner join er_SubjectToClass on bs_SubjectName.Id=er_SubjectToClass.SubjectId

 where er_SubjectToClass.Id=@Id
END
GO
