USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateExamRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 01-12-2016
-- =============================================
CREATE proc [dbo].[USP_UpdateExamRoutine]
@Id int,
@Year int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@ExamTypeId int,
@SubjectId int,
@StartTime nvarchar(50),
@EndTime nvarchar(50),
@ExamDate DATE
as
Update  bs_ExamRoutine
Set
Year=@Year,
MediumId=@MediumId,
CampusId=@CampusId,
ClassId=@ClassId,
GroupId=@GroupId,
ShiftId=@ShiftId,
ExamTypeId=@ExamTypeId,
SubjectId=@SubjectId,
StartTime=@StartTime,
EndTime=@EndTime,
ExamDate=@ExamDate

Where Id=@Id
	
Select * from bs_ExamRoutine where Id=@Id


GO
