USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_InsertAmount]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_Payroll_InsertAmount]
@YearId int,
@CampusId int,
@GradeId int,
@LevelId int,
@PayrollTypeId int,
@Amount decimal(18,2),
@StartMonth int,
@EndMonth int,
@CreatedBy nvarchar(50),
@CreatedDate date

AS BEGIN
	IF EXISTS(SELECT * FROM tbl_PayrollSetup WHERE YearId=@YearId AND CampusId=@CampusId AND GradeId=@GradeId AND LevelId=@LevelId  AND PayrollTypeId=@PayrollTypeId)
		BEGIN
			RETURN -1
		END

	ELSE

		BEGIN
			Insert into tbl_PayrollSetup (YearId,CampusId,GradeId,LevelId,PayrollTypeId,StartMonth,EndMonth,Amount,CreatedBy,CreatedDate)
			values (@YearId,@CampusId,@GradeId,@LevelId,@PayrollTypeId,@StartMonth,@EndMonth,@Amount,@CreatedBy,@CreatedDate)
		END
END
GO
