USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_LocalGuardianInfoUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 12-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_LocalGuardianInfoUpdate] (
@Id int,
@NameLocalGuardian1 nvarchar(50),
@NameLocalGuardian2 nvarchar(50),
@LocalGuardian1Mobile nvarchar(20),
@LocalGuardian2Mobile nvarchar(20)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_Person set
	NameLocalGuardian1=@NameLocalGuardian1,
	NameLocalGuardian2=@NameLocalGuardian2,
	LocalGuardian1Mobile=@LocalGuardian1Mobile,
	LocalGuardian2Mobile=@LocalGuardian2Mobile
	where Id=@Id
END


GO
