USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetLedgerJrTranId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
CREATE PROCEDURE [dbo].[USP_GetLedgerJrTranId]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT MAX(JrTranId) FROM dbo.tbl_Journal 
END


GO
