USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StaticContent_GetByPageName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_StaticContent_GetByPageName]
	@PageName nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
    select * from bs_StaticContent
	 where PageName=@PageName
	 
END


GO
