USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Setting_SMSGetwayUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Setting_SMSGetwayUpdate] (
@URL nvarchar(250),
@UserName nvarchar(50),
@Password nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update bs_SMSGetway set URL=@URL,UserName=@UserName,Password=@Password
END


GO
