USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_AttendenceInsertXML]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_AttendenceInsertXML] (
@XML nvarchar(max),
@Year nvarchar(50),
@Month nvarchar(50),
@Date datetime,
@CreatedBy nvarchar(50)
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into ss_Attendence
	(
	  StudentToClassId,IsPresent,AttendenceType,Year,Month,Date,CreatedBy,CreatedDate
	)
	SELECT StId,Present,TypeAtt,@Year,@Month,@Date,@CreatedBy,GETDATE()
	FROM OPENXML(@pointerDoc, 'dsAttendence/dtAttendence',2)
	WITH (
		StId int,
		Present bit,
		TypeAtt tinyint

	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
