USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_GetStudentMarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 02-02-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Report_GetStudentMarks] (
@Criteria nvarchar(max)
)
	
AS
BEGIN

	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
	   set @sql='Select * from (
Select 
rs_ObtainMarks.StudentToClassId,
rs_ObtainMarks.AttendanceMarks,
rs_ObtainMarks.MonthlyMarks,
rs_ObtainMarks.SubjectiveMarks,
rs_ObtainMarks.ObjectiveMarks,
rs_ObtainMarks.PracticalMarks,
rs_ObtainMarks.OtherMarks ,
rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks+rs_ObtainMarks.OtherMarks as ConvertedMarks,
rs_ObtainMarks.SubjectID 
from rs_ObtainMarks
join er_StudentToClass
on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id  
Where ' + @Criteria + ' )tbl2
join 
(
Select Max(SubjectiveMarks + ObjectiveMarks+ PracticalMarks + OtherMarks) as highest  , SubjectName,SubjectID from rs_ObtainMarks
join bs_SubjectName on bs_SubjectName.Id=rs_ObtainMarks.SubjectID
 group by SubjectName, SubjectID  )tbl
on tbl2.SubjectID =tbl.SubjectID '
		EXECUTE sp_executesql @sql
	end
END


GO
