USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_EmployeeSalaryMonthly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Get_EmployeeSalaryMonthly](

@EmployeeId INT,
@YearId INT,
@MonthId INT,
@GradeId INT,
@LevelId INT
)
AS BEGIN
		IF EXISTS(SELECT * FROM tbl_EmployeeSalary WHERE EmployeeId=@EmployeeId AND YearId=@YearId AND MonthId=@MonthId)
			BEGIN
				SELECT * FROM tbl_EmployeeSalary WHERE EmployeeId=@EmployeeId AND YearId=@YearId AND MonthId=@MonthId
			END
		ELSE
			BEGIN
				SELECT * FROM tbl_PayrollSetup WHERE YearId=@YearId AND GradeId=@GradeId AND LevelId=@LevelId
			END		
	END
GO
