USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Report_CostOfGoodsSold]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Usp_Report_CostOfGoodsSold] 
	

AS

	BEGIN
select x.openStockRowMat,y.purchaseRowMat,x.openStockRowMat+y.purchaseRowMat as 'stock+purch',z.CloseStockRowMat,(x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat as 'Row Materials Used' ,
m.openStolckPackMat ,n.PurchPackMat,m.openStolckPackMat +n.PurchPackMat 'Add',o.closeStockPackMat,(m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat as 'PackMaterUsed',
p.directLabor,((x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat)+((m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat)+p.directLabor as 'Prim Cost'
,q.factoryManfacOH,(((x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat)+((m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat)+p.directLabor)+q.factoryManfacOH as 'Manufacturing Cost',
r.OpeningWIP,s.ClosingWIP,(r.OpeningWIP-s.ClosingWIP) as 'less',
((((x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat)+((m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat)+p.directLabor)+q.factoryManfacOH)+(r.OpeningWIP-s.ClosingWIP) as CostOfGoodsManufacture,
t.openFinishGoods,(((((x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat)+((m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat)+p.directLabor)+q.factoryManfacOH)+(r.OpeningWIP-s.ClosingWIP) )+t.openFinishGoods as goodsavailableforsales
,u.closeFinishGoods ,((((((x.openStockRowMat+y.purchaseRowMat)-z.CloseStockRowMat)+((m.openStolckPackMat +n.PurchPackMat)-o.closeStockPackMat)+p.directLabor)+q.factoryManfacOH)+(r.OpeningWIP-s.ClosingWIP) )+t.openFinishGoods )-u.closeFinishGoods as costofgoodsSold
from

( SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as openStockRowMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003001')x,

(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as purchaseRowMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003002')y,

(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as CloseStockRowMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003003')z,

(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as openStolckPackMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003004')m,

(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as PurchPackMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003005')n
,
( SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as closeStockPackMat
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003006')o
,
(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as directLabor
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003007')p,

(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as factoryManfacOH
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='4003008')q,
( SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as OpeningWIP
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where tbl_Account.SubHeadId='4003009')r,
(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as ClosingWIP
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='40030010')s,
(SELECT     isnull(sum(tbl_Lgledger.DrAmount),0) as openFinishGoods
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='40030011')t,
(SELECT     isnull(sum(tbl_Lgledger.CrAmount),0) as closeFinishGoods
FROM         tbl_Account INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                      tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
where  tbl_Account.SubHeadId='40030012')u

	END


GO
