USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Student_DueByMonthly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Shojib
-- Create date: 08-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_Student_DueByMonthly] (
@StudentId int,
@Year int,
@Month int

)
As



BEGIN
    select SUM(Amount) as Amount, Month from fee_PaymentForClass where ClassId=@StudentId and Month=@Month and YearId=@Year
   group by Month
   
    
END


GO
