USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_AccTrialBalance]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_Report_AccTrialBalance] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='SELECT     ta.SubHeadId, 
case when (ta.SubHeadId like + ''900%'+' or ta.SubHeadId like '+'400%'') 
then SUM(l.DrAmount - l.CrAmount) else SUM(l.DrAmount)   end as DrAmount , 
case when (ta.SubHeadId like +''900%'+' or ta.SubHeadId like '+'400%'') 
then SUM(0) else SUM(l.CrAmount) end as CrAmount,tah.MainCodeId, sah.SubHeadName             
FROM tbl_Sub_AccounHead sah INNER JOIN
tbl_Account ta ON sah.SubHeadCodeId = ta.SubHeadId INNER JOIN
tbl_AccountHead tah ON sah.HeadCodeId = tah.HeadCodeId LEFT OUTER JOIN
tbl_Lgledger l ON ta.AccountCodeId = l.AccountCodeId Where '
+@Criteria+
' GROUP BY ta.SubHeadId, sah.SubHeadName,tah.MainCodeId

ORDER BY ta.SubHeadId' 
	EXECUTE sp_executesql @sql
END


GO
