USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ExamType_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_ExamType_Update] (
@Id int,
@Name nvarchar(250),
@IsDailyOrWeekly bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_ExamType set ExamType=@Name, IsDailyOrWeekly=@IsDailyOrWeekly
	where Id=@Id
END


GO
