USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_AttendenceInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_AttendenceInsert] (
@Xml nvarchar(MAX),
@Year nvarchar(50),
@Month nvarchar(50),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into tr_Attendence
	(
	  Date,TeacherId,InTime,OutTime,Year,Month,CreatedBy,CreatedDate
	)
	SELECT Dt,TId,timeIn,OutTime,@Year,@Month,@CreatedBy,@CreatedDate
	FROM OPENXML(@pointerDoc, 'dsAttendence/dtAttendence',2)
	WITH (
		Dt datetime,
		TId int,
		timeIn nvarchar(50),
		OutTime nvarchar(50)
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
