USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetStudentEmtyMarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_GetStudentEmtyMarks] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select er_StudentToClass.Id as StudentToClassId,er_StudentToClass.*,
st_Person.*,rs_ObtainMarks.*
from er_StudentToClass 
left JOIN dbo.rs_ObtainMarks ON er_StudentToClass.Id=dbo.rs_ObtainMarks.StudentToClassId
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id 
left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId where ' +@Criteria 
	EXECUTE sp_executesql @sql
END


GO
