USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_StudentPaymentInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_StudentPaymentInsert] (
@Year nvarchar(50),
@Month nvarchar(50),
@StudentId int,
@Total decimal(18,2),
@GivenAmount decimal(18,2),
@CreatedBy nvarchar(50)
)
AS
BEGIN
	IF EXISTS (select * from ss_Payment where Year=@Year and Month=@Month and StudentId=@StudentId)
		begin
			update ss_Payment set
			Amount=@Total,
			TotalGiven=@GivenAmount,
			DueAmount=@Total-@GivenAmount
			where Year=@Year and Month=@Month and StudentId=@StudentId
		end
	else
	begin
		insert into ss_Payment (Year,Month,Date,StudentId,Amount,TotalGiven,DueAmount,CreatedBy,CreatedDate)
		values
		(@Year,@Month,GETDATE(),@StudentId,@Total,@GivenAmount,@Total-@GivenAmount,@CreatedBy,GETDATE())
	end
END


GO
