USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_District_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_District_Insert] (
@DivisionId int,
@District nvarchar(250)
)
	
AS
BEGIN

	IF EXISTS (select * from bs_District where District=@District and DivisionId=@DivisionId)
		begin
			select -1
		end
	else
		begin
			insert into bs_District(DivisionId,District) values (@DivisionId,@District)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
