USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEmployeeByDesignation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetEmployeeByDesignation](
@CampusId INT,
@DesignationId INT
)
AS BEGIN
		SELECT * FROM tr_Teacher 
		WHERE Campus=@CampusId AND DesignationId=@DesignationId	
		END
GO
