USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_AllStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Get_AllStudent] 
AS
BEGIN
	SET NOCOUNT ON;
	select 
	st_Person.*, 
	st_Person.Id as PersonId,
	ss_Student.RegNo AS RegistratinNo,
	ss_Student.AdmissionYear,
	ss_Student.AdmissionDate, 
	ss_Student.Id as StudentId,
	ss_Student.IsActive
	from ss_Student 
	inner join st_Person on ss_Student.PersonId = st_Person.Id 
	ORDER BY dbo.ss_Student.RegNo ASC
END
GO
