USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherPin_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Md. S. I. Shojib
-- Create date: 22-03-2017
-- =============================================
Create PROCEDURE [dbo].[USP_TeacherPin_Update] (
@Id int,
@Prefix nvarchar(50),
@YearFormat int,
@StyleId int,
@IsRegNoUse bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_TeacherPin set
	Prefix=@Prefix,
	YearStyle=@YearFormat,
	StyleId=@StyleId,
	IsAutomatic=@IsRegNoUse	
	where Id=@Id
  Select Max(ID) ID from dbo.bs_TeacherPin
END


GO
