USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[InfoGeneral_ZTL]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoGeneral_ZTL](
	[Branch] [nvarchar](255) NULL,
	[Sl] [int] NULL,
	[Code] [nvarchar](255) NULL,
	[Source] [nvarchar](255) NULL,
	[Level] [nvarchar](255) NULL,
	[ID] [int] NULL,
	[AdmissionDate] [datetime] NULL,
	[StudentName] [nvarchar](255) NULL,
	[District] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[BirthDate] [datetime] NULL,
	[Section] [nvarchar](255) NULL,
	[OptionalSub] [nvarchar](255) NULL,
	[AdditionalSub] [nvarchar](255) NULL,
	[Father] [nvarchar](255) NULL,
	[Mother] [nvarchar](255) NULL,
	[SpecialNotes] [nvarchar](max) NULL,
	[Counselor] [nvarchar](255) NULL,
	[Studentship] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
