USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TecherTraining_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TecherTraining_Update] (
@Id int,
@TrainingName nvarchar(50),
@InstituteName  nvarchar(50),
@StartDate date,
@EndDate date,
@Topics  nvarchar(50),
@Duration  nvarchar(200)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
Update dbo.tr_Training set 
TrainingName=@TrainingName,
InstituteName=@InstituteName,
StartDate=@StartDate,
EndDate=@EndDate,
Topics=@Topics,
Duration=@Duration

where Id=@Id
	
END

GO
