USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_PreviousSchoolInformation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_PreviousSchoolInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[PreSchoolName] [nvarchar](250) NULL,
	[PreAddress] [nvarchar](250) NULL,
	[PreTelephone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[LastGradeOrClass] [nvarchar](50) NULL,
	[PreAnnualResult] [nvarchar](50) NULL,
 CONSTRAINT [PK_bs_PreviousSchoolInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_PreviousSchoolInformation]  WITH CHECK ADD  CONSTRAINT [FK_st_PreviousSchoolInformation_ss_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[st_PreviousSchoolInformation] CHECK CONSTRAINT [FK_st_PreviousSchoolInformation_ss_Student]
GO
