USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_PermanentAddressUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_PermanentAddressUpdate] (
@PersonId int,
@DivisionId int,	
@DistrictId int,
@ThanaId int,
@PostOffice nvarchar(250),
@PostCode nvarchar(50),
@Address nvarchar(256)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_ParmanentAddress set
	DivisionId=@DivisionId,
	DistrictId=@DistrictId,
	ThanaId=@ThanaId,
	PostOffice=@PostOffice,
	PostalCode=@PostCode,
	Address=@Address

	where PersonId=@PersonId
	
END


GO
