USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Thana_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_Thana_Insert] (
@DistrictId int,
@Thana nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Thana where DistrictId=@DistrictId and Thana=@Thana)
		begin
			select -1
		end
	else
		begin
			insert into bs_Thana(DistrictId,Thana) values (@DistrictId,@Thana)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
