USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notes_GetLatest]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_Notes_GetLatest]
	
AS
BEGIN
	SET NOCOUNT ON;
	select top(5) * from bs_Notes 
END
GO
