USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Journal_Delete]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
CREATE PROCEDURE [dbo].[USP_Journal_Delete](
@Id INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DELETE dbo.tbl_Journal WHERE JrTranId=@Id
END


GO
