USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Version_GetById]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Version_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from bs_Medium
where Id=@Id
  
END
GO
