USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DailyOrWeeklyMarks_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_DailyOrWeeklyMarks_Insert] (
@DailyOrWeeklyMarks nvarchar(200),
@Isdefault bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_DailyOrWeeklyMarks where DailyOrWeeklyMarks=@DailyOrWeeklyMarks)
		begin
			select -1
		end
	else
		begin
			insert into bs_DailyOrWeeklyMarks(DailyOrWeeklyMarks,IsDefault) values (@DailyOrWeeklyMarks,@Isdefault)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
