USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Book_Stock_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 18-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Book_Stock_Update] (
@Id int,
@IsAvailable bit,
@Stock int

)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update lb_Book  set 
	Status=@IsAvailable,
	Stock=@Stock
	where Id=@Id
	
END


GO
