USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_Account]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountCodeId] [nvarchar](25) NOT NULL,
	[AccountName] [nvarchar](50) NULL,
	[AId] [bigint] NULL,
	[SubHeadId] [bigint] NULL,
	[AppPId] [bigint] NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[AccountTypeId] [bigint] NULL,
	[Balance] [float] NULL,
	[OpenDate] [datetime] NULL,
	[ReferanceNo] [nvarchar](25) NULL,
	[Incentive_AMT] [float] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
