USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PreviousSchoolInformation_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PreviousSchoolInformation_Insert] (
@StudentID int,
@PreSchoolName nvarchar(50),
@PreAddress nvarchar(50),
@PreTelephone nvarchar(50),
@Email nvarchar(50),
@Fax nvarchar(50),
@LastGradeOrClass nvarchar(50),
@PreAnnualResult nvarchar(50)

)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_PreviousSchoolInformation (StudentID,PreSchoolName, PreAddress,PreTelephone,Email,Fax,LastGradeOrClass,PreAnnualResult)
	values
	(@StudentID,@PreSchoolName,@PreAddress,@PreTelephone,@Email,@Fax,@LastGradeOrClass,@PreAnnualResult)
	
END


GO
