USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Person_GetByPersonId] (
@PersonId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select ss_Student.RegNo,
	ss_Student.Id as StudentId,
	er_StudentToClass.Id as StudentToClassId,
	st_Person.*,er_StudentToClass.*,
	bs_BloodGroup.BloodGroup as BloodGroupName,
	bs_Gender.Gender,
	bs_Religion.Religion,
	st_ParmanentAddress.DivisionId,
	st_ParmanentAddress.DistrictId,
	st_ParmanentAddress.ThanaId,
	st_ParmanentAddress.Address,
	st_ParmanentAddress.PostalCode,
	st_ParmanentAddress.PostOffice,
	
	(select Division from bs_Division where bs_Division.Id=st_ParmanentAddress.DivisionId) as DivName,
	(select District  from bs_District where bs_District.Id=st_ParmanentAddress.DistrictId) as DisName,
	(select Thana from bs_Thana where bs_Thana.Id=st_ParmanentAddress.ThanaId) as Thana,
	st_PresentAddress.DivisionId as presentDiv,
	st_PresentAddress.DistrictId as presentDis,
	st_PresentAddress.ThanaId as presentThana,
	st_PresentAddress.PostOffice as presentPO,
	st_PresentAddress.PostalCode as presentPC,
	st_PresentAddress.Address as presentAddress,
	bs_Status.Status,
	(select Division from bs_Division where bs_Division.Id=st_PresentAddress.DivisionId) as presentDivName,
	(select District  from bs_District where bs_District.Id=st_PresentAddress.DistrictId) as presentDisName,
	(select Thana from bs_Thana where bs_Thana.Id=st_PresentAddress.ThanaId) as presentThanaName,

	(select Id from bs_Qualification where bs_Qualification.Id=st_Person.FatherQualificationId) as FatherEduId,
	(select Qualification from bs_Qualification where bs_Qualification.Id=st_Person.FatherQualificationId) as FatherEdu,
	(select Profession  from bs_Profession where bs_Profession.Id=st_Person.FatherProfessionId) as FatherProfession,
	(select Id  from bs_Profession where bs_Profession.Id=st_Person.FatherProfessionId) as FatherProId,

	(select Qualification from bs_Qualification where bs_Qualification.Id=st_Person.MotherQualificationId) as MotherEdu,
	(select Id from bs_Qualification where bs_Qualification.Id=st_Person.MotherQualificationId) as MotherEduId,
	(select Profession  from bs_Profession where bs_Profession.Id=st_Person.MotherProfessionId) as MotherProfession,
	(select Id  from bs_Profession where bs_Profession.Id=st_Person.MotherProfessionId) as MotherProfessionId,

	(select Year from bs_Year where bs_Year.Id=er_StudentToClass.Year) as AcademicYear,
	(select MediumName from bs_Medium where bs_Medium.Id=er_StudentToClass.MediumId) as Medium,
	(select CampusName from bs_CampusName where bs_CampusName.Id=er_StudentToClass.CampusId) as Campus,
	(select ClassName from bs_ClassName where bs_ClassName.Id=er_StudentToClass.ClassId) as Class,
	(select GroupName from bs_Group where bs_Group.Id=er_StudentToClass.GroupId) as stuGroup,
	(select Shift from bs_Shift where bs_Shift.Id=er_StudentToClass.ShiftId) as stuShift,
	(select Section from bs_Section where bs_Section.Id=er_StudentToClass.SectionId) as Section



	from st_Person 
	left outer join bs_Gender on st_Person.GenderId=bs_Gender.Id
	left outer join bs_Religion on st_Person.ReligionId=bs_Religion.Id
	left outer join bs_BloodGroup on st_Person.BloodGroup=bs_BloodGroup.Id
	left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId
	left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId
	left outer join ss_Student on st_Person.Id=ss_Student.PersonId
    left outer join er_StudentToClass on ss_Student.Id=er_StudentToClass.StudentId
	left outer join bs_Status on ss_Student.StatusId=bs_Status.Id


	where st_Person.Id=@PersonId

END
GO
