USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdatePageContent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================
--Author: LITON
--Date:26-02-2017
--========================================
CREATE proc [dbo].[USP_UpdatePageContent]
@PageContentID int,
@PageName nvarchar(50),
@PageTitel nvarchar(50),
@PageContent varchar(max),
@PageContentBangla nvarchar(max)


as
Update PageContent
Set PageName=@PageName,
PageTitel= @PageTitel,
PageContent=@PageContent,
PageContentBangla=@PageContentBangla

where PageContentID=@PageContentID

Select PageContentID from PageContent where PageContentID=@PageContentID

GO
