USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Setting_NotificationInset]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Setting_NotificationInset] (
@Title nvarchar(250),
@SendEmail bit,
@SendSMS bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Insert into bs_Notification(Title, SendEmail, SendSMS) Values(@Title, @SendEmail, @SendSMS)
END


GO
