USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentType_GetByIsMonthly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shojib
-- Create date: 26-10-2017
-- =============================================
Create PROCEDURE [dbo].[USP_PaymentType_GetByIsMonthly] (

@IsMonthly bit

)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from  dbo.fee_PaymentType 
	where IsMonthly=@IsMonthly 
END
GO
