USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_GetBySubjectAndClassId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_FailSystem_GetBySubjectAndClassId] (
@YearId int,
@CampusId int,
@ExamTypeId int,
@SubjectToClassId int,
@ClassId int,
@GroupId int,
@MediumId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from rs_FailSystem 

inner Join er_SubjectToClass on rs_FailSystem.SubjectToClassId=er_SubjectToClass.Id
where @SubjectToClassId=SubjectToClassId and @ClassId=ClassId and @GroupId=GroupId and @MediumId=MediumId and rs_FailSystem.YearId=@YearId and rs_FailSystem.CampusId=@CampusId and rs_FailSystem.ExamTypeId=@ExamTypeId
  
END
GO
