USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_AllowanceUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_AllowanceUpdate] (
@Id int,
@Allowance nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update pr_Allowance set
	Allowance=@Allowance
	where Id=@Id
  
END


GO
