USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Routine_GetClassRoutineByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Routine_GetClassRoutineByCriteria] (
@Criteria nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select bs_ClassRoutine.*, st_Person.NameEng,bs_SubjectName.SubjectName
	 from bs_ClassRoutine 
	 inner join  bs_SubjectName on bs_ClassRoutine.SubjectId=bs_SubjectName.Id  	 
	 inner join st_Person on st_Person.Id=bs_ClassRoutine.TeacherId  where '+@Criteria 
		EXECUTE sp_executesql @sql
	end
END


GO
