USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Year_GetDefault]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Year_GetDefault] 
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from bs_Year where IsDefault=1
END


GO
