USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[er_StudentToClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[er_StudentToClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[MediumId] [int] NULL,
	[ClassId] [int] NULL,
	[GroupId] [int] NULL,
	[ShiftId] [int] NULL,
	[SectionId] [int] NULL,
	[CampusId] [int] NULL,
	[Year] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[RollNo] [int] NULL,
	[IsPromoted] [bit] NULL,
 CONSTRAINT [PK_ss_StudentToClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[er_StudentToClass] ADD  CONSTRAINT [DF_er_StudentToClass_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[er_StudentToClass]  WITH CHECK ADD  CONSTRAINT [FK_ss_StudentToClass_ss_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[er_StudentToClass] CHECK CONSTRAINT [FK_ss_StudentToClass_ss_Student]
GO
