USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_Update] (
@PaymentId int,
@DueAmount  decimal(18,2),
@Amount decimal(18,2),
@Remarks nvarchar(250),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update ss_Payment 
	set 	
	DueAmount=@DueAmount,
	Amount=@Amount,	
	Remarks=@Remarks, 
	UpdatedBy=@UpdatedBy, 
	UpdatedDate=@UpdatedDate 
	where Id=@PaymentId 
END

GO
