USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_GetforTeacherIdCard]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 14-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Report_GetforTeacherIdCard]
	
AS
BEGIN
select tr_Teacher.Id,tr_Teacher.TeacherPin,tr_Teacher.Joindate,st_Person.NameEng,st_Person.Email,st_Person.Mobile,bs_BloodGroup.BloodGroup,st_Person.Mobile,st_Person.PersonImage,bs_Designation.Designation
from tr_Teacher
inner join st_Person on tr_Teacher.PersonId=st_Person.Id
left outer join bs_BloodGroup on st_Person.BloodGroup=bs_BloodGroup.Id 
inner join bs_Designation on tr_Teacher.DesignationId=bs_Designation.Id 

END

--CONVERT(VARCHAR(10),tr_Teacher.Joindate,103) as Joindate

GO
