USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_Sub_Voucher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sub_Voucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubVoucherId] [nvarchar](20) NOT NULL,
	[VoucherCodeId] [nvarchar](20) NULL,
	[SubVoucherName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Sub_Voucher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
