USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Email_ConfigurationUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Email_ConfigurationUpdate] (
	@DisplayName nvarchar(256),
	@DisplayEmail nvarchar(256),
	@ReplyToEmail nvarchar(256),
	@SMTPServer nvarchar(250),
	@Port int,
	@SSL bit,
	@Authentication bit,
	@UserName nvarchar(250),
	@Password nvarchar(250),
	@IsEmailSent bit
)
AS
BEGIN
	update [EmailConfig]
           set [DisplayName]=@DisplayName
           ,[DisplayEmail]=@DisplayEmail
           ,[ReplyToEmail]=@ReplyToEmail
           ,[SMTPServer]=@SMTPServer
           ,Port=@Port
           ,[SSL]=@SSL
           ,[Authentication]=@Authentication
           ,UserName=@UserName
           ,[Password]=@Password
           ,IsEmailSent=@IsEmailSent
END


GO
