USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetAttendenceByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Student_GetAttendenceByCriteria] (
@Criteria nvarchar(max),
@StudentToClassId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select ss_Attendence.*,st_Person.NameEng,ss_Attendence.CreatedDate as CreatedTime,er_StudentToClass.RollNo
	   from ss_Attendence inner join er_StudentToClass
	on ss_Attendence.StudentToClassId=er_StudentToClass.Id inner join ss_Student
	on er_StudentToClass.StudentId=ss_Student.Id inner join st_Person
	on ss_Student.PersonId=st_Person.Id where '+ @Criteria+' order by ss_Attendence.CreatedDate asc'
		EXECUTE sp_executesql @sql 
	end
END


GO
