USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Book_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Book_Update] (
@Id int,
@CategoryId int,
@SubCategoryId int,
@CountryId int,
@PublisherId int,
@LanguageId int,
@EditionId int,
@Title nvarchar(250),
@Author nvarchar(250),
@ISBN nvarchar(50),
@VolumeNo nvarchar(50),
@SelfNo nvarchar(10),
@CellNo nvarchar(10),
@IsAvailable bit,
@Stock int,
@SubTitle nvarchar(250),
@KeyWords nvarchar(250),
@Description nvarchar(Max),
@CoverPhoto nvarchar(250),
@PublishedDate Date,
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update lb_Book  set 
	CategoryId=@CategoryId,
	SubCategoryId=@SubCategoryId,
	PublisherId=@PublisherId,
	LanguageId=@LanguageId,
	EditionId=@EditionId,
	CountryId=@CountryId,
	Title=@Title,
	Subtitle=@SubTitle,
	Author=@Author,ISBN=@ISBN,VolumeNo=@VolumeNo,SelfNo=@SelfNo,CellNo=@CellNo,Status=@IsAvailable,
	Stock=@Stock,Keywords=@KeyWords,Description=@Description,CoverPhoto=@CoverPhoto,
	PublishDate=@PublishedDate,UpdatedBy=@UpdatedBy,UpdatedDate=@UpdatedDate
	where Id=@Id
	
END


GO
