USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetPasswordAndUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetPasswordAndUserName]
@USER_NAME NVARCHAR(100),
@USER_PASSWORD NVARCHAR(30)
as
SELECT * FROM TBL_USER 
where USER_NAME=@USER_NAME
--AND USER_PASSWORD=@USER_PASSWORD


GO
