USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetById] (
@Table nvarchar(250),
@Column nvarchar(250),
@Condition nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	set @sql='Select * from '+@Table+' where '+@Column+'='+@Condition
	EXECUTE sp_executesql @sql
END


GO
