USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_User_Insert]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_User_Insert] (
@UserName nvarchar(50),
@Email nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from st_Person where UserName=@UserName)
		begin
			select -1
		end
	else
		begin
			insert into st_Person(UserName,Email) values (@UserName,@Email)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
