USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetByAllClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_Student_GetByAllClass] 
(
@Year int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select count(er_StudentToClass.Id) as Student,bs_ClassName.ClassName from er_StudentToClass 
	inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
	inner join bs_Year on er_StudentToClass.Year=bs_Year.Id 
    where bs_Year.Year=@Year group by ClassId,ClassName
END


GO
