USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[sa_TaskManager]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sa_TaskManager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TextBan] [nvarchar](256) NULL,
	[TextEng] [nvarchar](256) NULL,
	[URL] [nvarchar](256) NULL,
	[ParentId] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[ForAll] [bit] NULL,
	[Order] [int] NULL,
	[Icon] [nvarchar](100) NULL,
 CONSTRAINT [PK_sa_TaskManager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sa_TaskManager] ADD  CONSTRAINT [DF_sa_TaskManager_ForAll]  DEFAULT ((0)) FOR [ForAll]
GO
