USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Marks_PublishedMarksUpdateXml]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 02-02-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Marks_PublishedMarksUpdateXml] (
@XML nvarchar(max),
@Year int,
@BaseMarks decimal(5,2),
@ExamType int,
@UpdatedBy nvarchar(50),
@IsPublishMarks BIT=NULL,
@IsFinishMarks BIT=NULL

)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	Update rs_ObtainMarks set
	StudentToClassId=StId,
	SubjectId=SubId,
	AttendanceMarks=Attendence,
	MonthlyMarks=Monthly,
	SubjectiveMarks=Theory,
	ObjectiveMarks=Objective,
	PracticalMarks=Pracrical,
	OtherMarks=SBS,
	UpdatedBy=@UpdatedBy,
	YearId=@Year,
	ExamTypeId=@ExamType,
	BaseMarks=@BaseMarks,
	IsPublishMarks=@IsPublishMarks,
	PublishDate=SYSDATETIME(),
	IsFinishMarks=@IsFinishMarks
	
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
		MarksId int,
		StId int,
		SubId int,
		Attendence decimal(18,2),
		Monthly decimal(18,2),
		Theory decimal(18,2),
		Objective decimal(18,2),
		Pracrical decimal(18,2),
		SBS decimal(18,2)
	) XMLReceiveDetailsTable
	
	where Id=MarksId
	EXEC sp_xml_removedocument @pointerDoc
END


GO
