USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_FeeUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_FeeUpdate]
@id int,
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@StartMonth int,
@EndMonth int,
@Amount decimal(18,2),
@UpdateBy nvarchar(50),
@UpdateDate datetime
as

Update fee_PaymentSetup Set
YearId=@YearId,
MediumId=@MediumId,
CampusId=@CampusId,
 ClassId=@ClassId,
 GroupId=@GroupId,
 ShiftId=@ShiftId,
 SectionId=@SectionId,
 Amount=@Amount,
 StartMonth=@StartMonth,
 EndMonth=@EndMonth,
 UpdateBy=@UpdateBy,
 UpdateDate=@UpdateDate 
 where Id=@id

GO
