USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_View_Marksheet_SubjectWise]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[USP_View_Marksheet_SubjectWise](

@Criteria nvarchar(max)
)

AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	BEGIN
	   set @sql='SELECT * FROM View_Marksheet
				 where '+@Criteria 
		EXECUTE sp_executesql @sql
	END
END
GO
