USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[MessageCredit]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageCredit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseDate] [datetime] NULL,
	[PurchaseQuantity] [int] NULL,
	[SendQuantity] [int] NULL,
	[Balance] [decimal](10, 2) NULL,
	[AvailableBalance] [decimal](10, 2) NULL,
	[TransactionNumber] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[IsDefault] [bit] NULL,
 CONSTRAINT [PK_MessageCredit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
