USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[view_TeacherAttendance]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_TeacherAttendance] 
AS
select tr_Teacher.Id as TeacherId, NameEng
		
		from  st_Person
		inner join tr_Teacher on tr_Teacher.PersonId=st_Person.Id
		where tr_Teacher.IsActive=1
GO
