USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[Viewprofit]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Viewprofit]
AS
SELECT     x.Costofgoods, y.netsales, y.netsales - x.Costofgoods AS GrossProfit, z.opretaingExpenses + D.Deprecition AS opretaingExpenses, 
                      (y.netsales - x.Costofgoods) - (z.opretaingExpenses + D.Deprecition) AS InterestAndTex, m.financialExpen, (y.netsales - x.Costofgoods) 
                      - (z.opretaingExpenses + D.Deprecition) - m.financialExpen AS beforetex, n.incomeTex, (y.netsales - x.Costofgoods) 
                      - (z.opretaingExpenses + D.Deprecition) - m.financialExpen - n.incomeTex AS aftertex, o.offadminExp, p.Markselldis, D.Deprecition AS 'Depreciation', 
                      q.Advertisement
FROM         (SELECT     ISNULL(costofgoodsSold, 0) AS Costofgoods
                       FROM          dbo.costgoods) AS x CROSS JOIN
                          (SELECT     ISNULL(SUM(dbo.tbl_Lgledger.CrAmount), 0) AS netsales
                            FROM          dbo.tbl_Account INNER JOIN
                                                   dbo.tbl_Sub_AccounHead ON dbo.tbl_Account.SubHeadId = dbo.tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead ON dbo.tbl_Sub_AccounHead.HeadCodeId = dbo.tbl_AccountHead.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger ON dbo.tbl_Account.AccountCodeId = dbo.tbl_Lgledger.AccountCodeId
                            WHERE      (dbo.tbl_Account.SubHeadId = '5001001')) AS y CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_6.DrAmount), 0) AS opretaingExpenses
                            FROM          dbo.tbl_Account AS TBLACCOUNT_6 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_6 ON TBLACCOUNT_6.SubHeadId = TBLSUBACCHEAD_6.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_6 ON TBLSUBACCHEAD_6.HeadCodeId = TBLACCHEAD_6.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_6 ON TBLACCOUNT_6.AccountCodeId = TBLGLEDGER_6.AccountCodeId
                            WHERE      (TBLACCHEAD_6.HeadCodeId = 4001)) AS z CROSS JOIN
                          (SELECT     ISNULL(SUM([Auddition Depre]), 0) AS Deprecition
                            FROM          dbo.View_AssetShedule) AS D CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_5.DrAmount), 0) AS financialExpen
                            FROM          dbo.tbl_Account AS TBLACCOUNT_5 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_5 ON TBLACCOUNT_5.SubHeadId = TBLSUBACCHEAD_5.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_5 ON TBLSUBACCHEAD_5.HeadCodeId = TBLACCHEAD_5.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_5 ON TBLACCOUNT_5.AccountCodeId = TBLGLEDGER_5.AccountCodeId
                            WHERE      (TBLACCHEAD_5.HeadCodeId = 4004)) AS m CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_4.DrAmount), 0) AS incomeTex
                            FROM          dbo.tbl_Account AS TBLACCOUNT_4 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_4 ON TBLACCOUNT_4.SubHeadId = TBLSUBACCHEAD_4.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_4 ON TBLSUBACCHEAD_4.HeadCodeId = TBLACCHEAD_4.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_4 ON TBLACCOUNT_4.AccountCodeId = TBLGLEDGER_4.AccountCodeId
                            WHERE      (TBLACCHEAD_4.HeadCodeId = 4005)) AS n CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_3.DrAmount), 0) AS offadminExp
                            FROM          dbo.tbl_Account AS TBLACCOUNT_3 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_3 ON TBLACCOUNT_3.SubHeadId = TBLSUBACCHEAD_3.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_3 ON TBLSUBACCHEAD_3.HeadCodeId = TBLACCHEAD_3.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_3 ON TBLACCOUNT_3.AccountCodeId = TBLGLEDGER_3.AccountCodeId
                            WHERE      (TBLACCOUNT_3.SubHeadId = 4001001)) AS o CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_2.DrAmount), 0) AS Markselldis
                            FROM          dbo.tbl_Account AS TBLACCOUNT_2 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_2 ON TBLACCOUNT_2.SubHeadId = TBLSUBACCHEAD_2.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_2 ON TBLSUBACCHEAD_2.HeadCodeId = TBLACCHEAD_2.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_2 ON TBLACCOUNT_2.AccountCodeId = TBLGLEDGER_2.AccountCodeId
                            WHERE      (TBLACCOUNT_2.SubHeadId = 4001002)) AS p CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_1.DrAmount), 0) AS Advertisement
                            FROM          dbo.tbl_Account AS TBLACCOUNT_1 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_1 ON TBLACCOUNT_1.SubHeadId = TBLSUBACCHEAD_1.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_1 ON TBLSUBACCHEAD_1.HeadCodeId = TBLACCHEAD_1.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_1 ON TBLACCOUNT_1.AccountCodeId = TBLGLEDGER_1.AccountCodeId
                            WHERE      (TBLACCOUNT_1.SubHeadId = 4001003)) AS q



GO
