USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Marks_GetDailyMarksStuByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Marks_GetDailyMarksStuByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select * from dbo.rs_ObtainDailyMarks inner join er_StudentToClass on dbo.rs_ObtainDailyMarks.StudentToClassId=er_StudentToClass.Id
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join bs_SubjectName on rs_ObtainDailyMarks.SubjectId=bs_SubjectName.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id 
left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId  where ' +@Criteria
	EXECUTE sp_executesql @sql
END


GO
