USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SchoolFeedback_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SchoolFeedback_Insert] (
@StudentID int,
@FeedBack nvarchar(50),
@ChosenCauseOfSc nvarchar(50),
@ExpectationFromSc nvarchar(50),
@IsKnownAnyone nvarchar(50),
@KnownName nvarchar(50),
@KnowDesignation nvarchar(50)

)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_SchoolFeedback (StudentID,FeedBack,ChosenCauseOfSc,ExpectationFromSc,IsKnownAnyone,KnownName,KnowDesignation)
	values
	(@StudentID,@FeedBack,@ChosenCauseOfSc,@ExpectationFromSc,@IsKnownAnyone,@KnownName,@KnowDesignation)
	
END

GO
