USE [DB_A12E6A_queenschool]
GO
/****** Object:  UserDefinedTableType [dbo].[dtTraining]    Script Date: 2025-10-28 6:47:17 PM ******/
CREATE TYPE [dbo].[dtTraining] AS TABLE(
	[TrainingName] [nvarchar](256) NULL,
	[InstituteName] [nvarchar](256) NULL,
	[StartDate] [nvarchar](50) NULL,
	[EndDate] [nvarchar](50) NULL,
	[Topics] [nvarchar](256) NULL,
	[Duration] [nvarchar](50) NULL
)
GO
