USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_TypeGetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payroll_TypeGetById] (
@Id int
)
AS
BEGIN
	SET NOCOUNT ON;
	select pr_Type.*,pr_SalaryScale.Scale from pr_Type inner join pr_SalaryScale on pr_Type.ScaleId=pr_SalaryScale.Id
	where pr_Type.Id=@Id
END


GO
