USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_Medium]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_Medium](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediumName] [nvarchar](50) NULL,
	[Prefix] [nvarchar](50) NULL,
	[YearStyle] [int] NULL,
	[StyleId] [int] NULL,
	[IsRegNoUse] [bit] NULL,
 CONSTRAINT [PK_bs_Medium] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
