USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_EmailTemplate_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_EmailTemplate_Insert] (
	@TemplateName nvarchar(2500),
	@Subject	nvarchar(200),
	@Variables nvarchar(500),
	@Body	Text
)
AS
BEGIN
if exists(select * from EmailTemplate where TemplateName=@TemplateName)
	select -1
else
Begin
	
	INSERT INTO EmailTemplate
	(
		TemplateName,
		Subject,
		Variables,
		Body
	)
	VALUES
	(
		@TemplateName,
		@Subject,
		@Variables,
		@Body
	)
	select SCOPE_IDENTITY()
end
END


GO
