USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetExistingClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2017
-- =============================================
CREATE Proc [dbo].[USP_GetExistingClassRoutine]
@Year int,
@MediumId int,
@CampusId int,
@ClassID int,
@GroupID int,
@SectionID int,
@ShiftID int,
@Day nvarchar(50)
as
Select ROW_NUMBER() over (order by bs_ClassRoutine.Id ) as PeriodNo , * , bs_Year.Id AS YearId
FROM dbo.bs_ClassRoutine 
JOIN dbo.bs_Year ON bs_Year.Id = bs_ClassRoutine.Year
Where bs_ClassRoutine.Year=@Year and bs_ClassRoutine.MediumId=@MediumId and bs_ClassRoutine.CampusId=@CampusId and ClassID=@ClassID and GroupID=@GroupID and SectionID=@SectionID and ShiftId=@ShiftID and Day=@Day

GO
