USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_AccVoucher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_Report_AccVoucher] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select 
j.JrTranId,j.TDate,j.VNo,j.MrNo,j.Purpose,j.AccountCodeId,j.AId,j.HeadCodeId,j.DrAmount,j.CrAmount,
j.Flag,j.Remarks,mv.VoucherCodeId,mv.VoucherName,sv.SubVoucherId,sv.SubVoucherName

from tbl_Journal j inner join tbl_Main_Voucher mv on mv.VoucherCodeId = j.VType
inner join tbl_Sub_Voucher sv on sv.VoucherCodeId = mv.VoucherCodeId where ' +@Criteria
	EXECUTE sp_executesql @sql
	END

GO
