USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetSalaryDEtails]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetSalaryDEtails](
@YearId int,
@MonthId int,
@CampusId int
)
AS BEGIN
		SELECT * FROM tbl_EmployeeAccount
		INNER JOIN tr_Teacher ON tbl_EmployeeAccount.EmployeeId=tr_Teacher.EmployeeId
		INNER JOIN tbl_Grade ON tr_Teacher.GradeId=tbl_Grade.Id
		INNER JOIN tbl_Level ON tr_Teacher.LevelId=tbl_Level.Id
		INNER JOIN bs_Month ON tbl_EmployeeAccount.MonthId=bs_Month.Id
		INNER JOIN bs_Year ON tbl_EmployeeAccount.YearId=bs_Year.Id
		INNER JOIN bs_CampusName ON tbl_EmployeeAccount.CampusId=bs_CampusName.Id

		WHERE YearId=@YearId AND MonthId=@MonthId AND CampusId=@CampusId
	END
GO
