USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Task_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Task_Insert] (
@TextEng nvarchar(256),
@TextBan nvarchar(256),
@URL nvarchar(256),
@ParentId int,
@CreatedBy nvarchar(256),
@CreatedDate datetime,
@Icon nvarchar(100)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from sa_TaskManager where TextEng=@TextEng and ParentId=@ParentId)
		begin
			select -1
		end
	else
		begin
			insert into sa_TaskManager(TextEng,TextBan,URL,ParentId,CreatedBy,CreatedDate,Icon) values
			(@TextEng,@TextBan,@URL,@ParentId,@CreatedBy,@CreatedDate,@Icon)
			select 1
		end
END


GO
