USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_GetAllowanceBytypeId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payroll_GetAllowanceBytypeId] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select pr_AllowanceToType.*,pr_Allowance.Allowance,pr_Type.Basic,
	cast((pr_Type.Basic*pr_AllowanceToType.AllowancePercent)/100 as decimal(10,2)) as AllowanceAmount
	 from pr_AllowanceToType inner join pr_Allowance 
	on pr_AllowanceToType.AllowanceId=pr_Allowance.Id inner join pr_Type
	on pr_AllowanceToType.TypeId=pr_Type.Id

	where TypeId=2
END


GO
