USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[wr_Date]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wr_Date](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpireDate] [datetime] NULL,
	[Paid] [bit] NULL,
 CONSTRAINT [PK_wr_Date] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
