USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_Lgledger]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Lgledger](
	[SrNo] [bigint] NOT NULL,
	[TDate] [datetime] NOT NULL,
	[AccountCodeId] [nvarchar](25) NULL,
	[Description] [nvarchar](500) NULL,
	[OpBalance] [float] NULL,
	[DrAmount] [float] NULL,
	[CrAmount] [float] NULL,
	[ClBalance] [float] NULL,
	[AId] [bigint] NULL,
	[JrTranId] [bigint] NULL,
	[Createby] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK__tbl_Lgledger__108B795B] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
