USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Journal_GetJournalDataById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
CREATE PROCEDURE [dbo].[USP_Journal_GetJournalDataById]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM dbo.tbl_Journal 
	INNER JOIN dbo.tbl_Account ON tbl_Account.AccountCodeId = tbl_Journal.AccountCodeId
	WHERE dbo.tbl_Journal.Flag='N'
END


GO
