USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SubCategory_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_SubCategory_Update] (
@Id int,
@CategoryId int,
@SubCategory nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update lb_SubCategory set 
	CategoryId=@CategoryId,
	SubCategory=@SubCategory
	where Id=@Id
END


GO
