USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_LeaveInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_LeaveInsert] (
@Name nvarchar(50),
@Designation int,
@PinCode nvarchar(250),
@Subject nvarchar(MAX),
@FromDate datetime,
@ToDate	datetime,
@Desctiption nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO tr_Leave(Name,PinCode,DesignationId,[Subject],FromDate,ToDate,[Description],AppliedDate) VALUES
	(@Name,@PinCode,@Designation,@Subject,@FromDate,@ToDate,@Desctiption,GETDATE())
END


GO
