USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[StudentPayment]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[StudentPayment]
@StudentID int,
@Year nvarchar(50),
@Month nvarchar(50),
@DueAmount decimal(18,2),
@Amount decimal(18,2),
@TotalGiven decimal(18,2),
@CreatedBy nvarchar(50)

as

insert into ss_Payment (StudentId,Year,Month,Date,DueAmount,Amount,TotalGiven,CreatedBy,CreatedDate)
		values
		(@StudentId,@Year,@Month,GETDATE(),@DueAmount,@Amount,@TotalGiven,@CreatedBy,GETDATE())


GO
