USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Roll_GetAdminRole]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Roll_GetAdminRole] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select sa_Role.* from aspnet_Roles 
	inner join sa_Role on aspnet_Roles.RoleId=sa_Role.RoleId 
	where sa_Role.RoleName not in ('Systemadmin','Student','Admin') order by RoleName desc
END


GO
