USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_GetPayrollForTeacher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payroll_GetPayrollForTeacher] (
@Pin nvarchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;
	select pr_Type.*,pr_SalaryScale.Scale,st_Person.NameEng,bs_Designation.Designation,tr_Teacher.TeacherPin from pr_StaffToType inner join pr_Type 
	on pr_StaffToType.TypeId=pr_Type.Id inner join pr_SalaryScale
	on pr_Type.ScaleId=pr_SalaryScale.Id inner join tr_Teacher
	on pr_StaffToType.PinCode=tr_Teacher.TeacherPin inner join st_Person
	on tr_Teacher.PersonId=st_Person.Id inner join bs_Designation
	on tr_Teacher.DesignationId=bs_Designation.Id
	where pr_StaffToType.PinCode=@Pin
END


GO
