USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Designation_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Designation_Insert] (
@Designation nvarchar(250)
)
	
AS
BEGIN

	IF EXISTS (select * from bs_Designation where Designation=@Designation)
		begin
			select -1
		end
	else
		begin
			insert into bs_Designation(Designation) values (@Designation)		
		end

	
  
END


GO
