USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DailyOrWeeklyMarks_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_DailyOrWeeklyMarks_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from bs_DailyOrWeeklyMarks where Id=@Id
END


GO
