USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_Insert2]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_Insert2] (
@PersonId int,
@DesignationId int,
@GradeId int,
@LevelId int,
@CampusId int,
@TeacherPin nvarchar(50),
@EmployeeId nvarchar(50),
@NId nvarchar(50),
@JoinDate datetime,
@CreatedBy nvarchar(50),
@CreatedDate datetime,
@IsActive bit,
@dtEducation dtEdu ReadOnly,
@dtTraining dtTrain ReadOnly
) 
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @TeacherId int
	declare @pointerDocEdu int
	declare @pointerDocTrain int

	IF EXISTS (select * from tr_Teacher where TeacherPin=@TeacherPin and EmployeeId=@EmployeeId)
		begin
		    delete  from st_Person where Id=@PersonId
			select -1
		end
	else
		begin
			insert into tr_Teacher(PersonId,DesignationId,GradeId,LevelId,Campus,TeacherPin,EmployeeId,NId,Joindate,CreatedBy,CreatedDate,IsActive) values (
			@PersonId,@DesignationId,@GradeId,@LevelId,@CampusId,@TeacherPin,@EmployeeId,@NId,@JoinDate,@CreatedBy,@CreatedDate,@IsActive)
			set @TeacherId=SCOPE_IDENTITY()

			------insert education----------------
			
		
	
			INSERT Into tr_Education
			(
			  TeacherId,
			  DegreeName,			  
			  Board,
			  Grade,
			  PassingYear,Subject,GPAScale, ResultDivision
			)
			SELECT @TeacherId, DegreeName, Board,Grade,PassingYear,Subject,GPAScale,ResultDivision
			From @dtEducation
			
			--------------------------------------------------------------------------------------------------------------
			-------------Training Insert-----------------
            
			
	
			INSERT Into tr_Training
			(
			  TeacherId,TrainingName,InstituteName,StartDate,EndDate,Topics,Duration
			)
			SELECT @TeacherId, TrainingName, InstituteName,StartDate, EndDate,Topics,Duration 
			FROM @dtTraining
			

			select @TeacherId
		end
END
GO
