USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[PageContent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContent](
	[PageContentID] [int] IDENTITY(1,1) NOT NULL,
	[PageTitel] [nvarchar](50) NULL,
	[PageName] [nvarchar](50) NULL,
	[PageContent] [nvarchar](max) NULL,
	[PageContentBangla] [nvarchar](max) NULL,
	[MenuID] [int] NULL,
 CONSTRAINT [PK_PageContent] PRIMARY KEY CLUSTERED 
(
	[PageContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
