USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillNo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 08-11-2017
-- =============================================
Create PROCEDURE [dbo].[USP_GetBillNo] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select MAX(Id) + 1 from ss_Payment
END
GO
