USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_LeaveApprove]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Teacher_LeaveApprove] (
@Id int,
@ApproveFromDate datetime,
@ApproveToDate datetime,
@ApprovedBy nvarchar(50),
@ApprovedDate datetime,
@Status bit,
@Comment nvarchar(250)
)
AS
BEGIN
SET NOCOUNT ON;
	Update tr_Leave set
	ApprovalFrom=@ApproveFromDate,
	ApprovalTo=@ApproveToDate,
	ApprovedBy=@ApprovedBy,
	ApprovedDate=@ApprovedDate,
	Status=@Status,
	Comments= @Comment
	where Id=@Id
END


GO
