USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherTraining_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_TeacherTraining_GetByPersonId] (
@TeacherId int
)
	
AS
BEGIN
	select Id,TrainingName,InstituteName,Topics,Duration,TeacherId,CONVERT(VARCHAR(10),dbo.tr_Training.StartDate,103 ) as StartDate,CONVERT(VARCHAR(10),dbo.tr_Training.EndDate,103 ) as EndDate 
	from tr_Training where TeacherId=@TeacherId
END


GO
