USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[GetByClassAndGroupIdforTestByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetByClassAndGroupIdforTestByCriteria] (
@Criteria nvarchar(max)

)
	
AS
BEGIN
declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
set @sql='select er_SubjectToClass.Id as SubjectToClassId,er_SubjectToClass.*,rs_FailSystem.*,
	bs_Group.GroupName,bs_SubjectName.SubjectName,bs_ClassName.ClassName,bs_Medium.MediumName
	from er_SubjectToClass 
	inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
	inner join bs_Group on er_SubjectToClass.GroupId = bs_Group.Id
	inner join bs_ClassName on er_SubjectToClass.ClassId=bs_ClassName.Id
	inner join bs_Medium on er_SubjectToClass.MediumId=bs_Medium.Id
	left outer join rs_FailSystem on er_SubjectToClass.Id=rs_FailSystem.SubjectToClassId
	where ' + @Criteria +
	'order by er_SubjectToClass.OrderBy'
  	EXECUTE sp_executesql @sql
	end
END
GO
