USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Promotion_InserXml]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Promotion_InserXml] (
@XML nvarchar(max),
@IsPromotion bit
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into rs_Promotion
	(
	  ObtainMarksId,TotalMarks,PreviousRoll,NewRoll,IsPromotion
	)
	SELECT ObtainMarksId,TotalMarks,PreviousRoll,NewRoll,@IsPromotion
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
		ObtainMarksId int,
		TotalMarks decimal(18,2),
		PreviousRoll int,
		NewRoll int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
