USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tr_Leave]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_Leave](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DesignationId] [int] NULL,
	[Subject] [nvarchar](100) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[ApprovalFrom] [datetime] NULL,
	[ApprovalTo] [datetime] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedDate] [datetime] NULL,
	[Comments] [nvarchar](250) NULL,
	[AppliedDate] [datetime] NULL,
	[PinCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_tr_Leave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tr_Leave] ADD  CONSTRAINT [DF_tr_Leave_Status]  DEFAULT ((0)) FOR [Status]
GO
