USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentReferences_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentReferences_Insert] (
@StudentID int,
@ReferenceName nvarchar(50),
@RefNationality nvarchar(50),
@RefNationalID nvarchar(50),
@RefRelation nvarchar(50),
@RefQualification nvarchar(50),
@RefDesignation nvarchar(50),
@RefProfession nvarchar(50),
@RefMobileNo nvarchar(50),
@RefEmail nvarchar(50),
@RefYearlyIncome float,
@RefResidenceAddress nvarchar(50)


)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_StudentReferences(StudentID,ReferenceName, RefNationality,RefNationalID,RefRelation,RefQualification,RefDesignation,RefProfession,RefMobileNo,RefEmail,RefYearlyIncome,RefResidenceAddress)
	values
	(@StudentID,@ReferenceName,@RefNationality,@RefNationalID,@RefRelation,@RefQualification,@RefDesignation,@RefProfession,@RefMobileNo,@RefEmail,@RefYearlyIncome,@RefResidenceAddress)
	
END


GO
