USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Account_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Account_Insert] (
@AccountCodeId NVARCHAR(25),
@AccountName NVARCHAR(50),
@AId BIGINT,
@SubHeadId BIGINT,
@Description NVARCHAR(500),
@Status NVARCHAR(50),
@Balance FLOAT,
@OpenDate DATETIME,
@CreatedBy NVARCHAR(50),
@CreatedDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_Account where AccountCodeId=@AccountCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_Account
			(
			AccountCodeId,
			AccountName,
			AId,
			SubHeadId,
			Description,
			Status,
			Balance,
			OpenDate,
			CreatedBy,
			CreatedDate
			) 
			VALUES 
			(
			@AccountCodeId,
			@AccountName,
			@AId,
			@SubHeadId,
			@Description,
			@Status,
			@Balance,
			@OpenDate,
			@CreatedBy,
			@CreatedDate
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
