USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DailyMarks_UpdateXml]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 03-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_DailyMarks_UpdateXml] (
@XML nvarchar(max),
@Year int,
@ExamType int,
@OutOfMarks decimal(5,2),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	Update rs_ObtainDailyMarks set
	StudentToClassId=StId,
	SubjectId=SubId,
	DailyGetMarks=DailyMarks,
	YearId=@Year,
	ExamTypeId=@ExamType,
	OutOfMarks=@OutOfMarks,
	UpdatedBy=@UpdatedBy,
	UpdatedDate=@UpdatedDate
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
	    MarksId int,
		StId int,
		SubId int,
		DailyMarks decimal(5,2),
		Remarks nvarchar(200)
	) XMLReceiveDetailsTable
	
	where Id=MarksId
	EXEC sp_xml_removedocument @pointerDoc
END


GO
