USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_TypeInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_TypeInsert] (
@Type nvarchar(50),
@ScaleId int,
@Basic decimal(10,2)
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from pr_Type where Type=@Type)
		begin
			select -1
		end
	else
		begin
			insert into pr_Type([Type],ScaleId,[Basic]) values (@Type,@ScaleId,@Basic)
			select SCOPE_IDENTITY()
		end
END


GO
