USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentFee_Get]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PaymentFee_Get] (
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from (
	         select fee_PaymentSetup.Id as PaymentToClassID, PaymentTypeID as Id, PaymentType,IsDefault, 
	         Amount,(select SUM(Amount) from fee_PaymentSetup where fee_PaymentSetup.YearId=@YearId and fee_PaymentSetup.MediumId=@MediumId and fee_PaymentSetup.CampusId=@CampusId and fee_PaymentSetup.ClassId=@ClassId and 
			 fee_PaymentSetup.GroupId=@GroupId and fee_PaymentSetup.ShiftId=@ShiftId and fee_PaymentSetup.SectionId=@SectionId) as Total,fee_PaymentSetup.StartMonth,fee_PaymentSetup.EndMonth
	         from fee_PaymentSetup 
             join fee_PaymentType on fee_PaymentSetup.PaymentTypeId=fee_PaymentType.Id 	
	         where fee_PaymentSetup.YearId=@YearId and fee_PaymentSetup.MediumId=@MediumId and fee_PaymentSetup.CampusId=@CampusId and fee_PaymentSetup.ClassId=@ClassId and 
			 fee_PaymentSetup.GroupId=@GroupId and fee_PaymentSetup.ShiftId=@ShiftId and fee_PaymentSetup.SectionId=@SectionId
	         union
	         Select '0' PaymentToClassID , Id, PaymentType,IsDefault, '0' as Amount ,'0' as Total,null,null 
	         from fee_PaymentType
	         Where id Not in (Select PaymentTypeId from fee_PaymentSetup where fee_PaymentSetup.YearId=@YearId and fee_PaymentSetup.MediumId=@MediumId and fee_PaymentSetup.CampusId=@CampusId and fee_PaymentSetup.ClassId=@ClassId and 
			 fee_PaymentSetup.GroupId=@GroupId and fee_PaymentSetup.ShiftId=@ShiftId and fee_PaymentSetup.SectionId=@SectionId)
	              ) tbl Order by Id
END

GO
