USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_AccountType]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AccountType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountTypeCodeId] [nvarchar](50) NOT NULL,
	[AccountTypeName] [nvarchar](50) NULL,
	[AId] [bigint] NULL,
	[NoOfInstallment] [nvarchar](50) NULL,
	[GrossAmount] [float] NULL,
	[PerDateFine] [float] NULL,
	[InstallmentAmount] [float] NULL,
	[ProfitEquation] [float] NULL,
	[ProfitTo] [nvarchar](50) NULL,
	[ProfitPayable] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_AccountType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
