USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MessageLog_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 21-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MessageLog_GetByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='Select MessageLogID,SendDate,MobileNumber,MessageBody,Status,Sender,MessageType
	from dbo.MessageLog where ' +@Criteria
	EXECUTE sp_executesql @sql
END


GO
