USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_UnassignStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_UnassignStudent] 
(
@Year int
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	select 
	ss_Student.RegNo AS RegNo,
	st_Person.*, 
	st_Person.Id as PersonId,
	ss_Student.RegNo AS RegistratinNo,
	ss_Student.AdmissionYear,
	ss_Student.AdmissionDate, 
	ss_Student.Id as StudentId,
	bs_BloodGroup.BloodGroup as BloodGroupName
	from ss_Student 
	inner join st_Person on ss_Student.PersonId = st_Person.Id 
	left outer join bs_BloodGroup on st_Person.BloodGroup=bs_BloodGroup.Id
	where ss_Student.Id 	
	not in(
	select StudentId from er_StudentToClass WHERE er_StudentToClass.Year=@Year)
	
	ORDER BY dbo.ss_Student.RegNo ASC
END

GO
