USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notes_GetByIdBangla]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_Notes_GetByIdBangla] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select Id,TitleInBangla as Title ,Date,ShortDescriptionInBangla as ShortDescription,DetailsInBangla as Details from bs_Notes
	where Id=@Id
END
GO
