USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[vwStudentRoll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStudentRoll]
AS
SELECT TOP 100 PERCENT 
s.PersonId, c.RollNo, s.Id, c.MediumId, c.ClassId, c.ShiftId, c.SectionId, c.GroupId, c.Year, c.CampusId, s.RegNo
FROM dbo.er_StudentToClass AS c 
INNER JOIN dbo.ss_Student AS s ON s.Id = c.StudentId
where s.IsActive=1


order by s.RegNo ASC
GO
