USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_News_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_News_Insert] (
@TitleInBangla nvarchar (250),
@Title nvarchar(250),
@ShortDescriptionInBangla nvarchar (250),
@ShortDescription nvarchar(250),
@DetailsInBangla nvarchar(max),
@Details nvarchar(max),
@Date datetime,
@Photo nvarchar(250),
@CreatedBy nvarchar(50),
@CreatedDate DateTime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_News where Title=@Title and Date=@Date)
		begin
			select -1
		end
	else
		begin
			insert into bs_News(TitleInBangla,Title,ShortDescriptionInBangla,ShortDescription,DetailsInBangla,Details,Date,Photo,CreatedBy,CreatedDate)
			values(@TitleInBangla,@Title,@ShortDescriptionInBangla,@ShortDescription,@DetailsInBangla,@Details,@Date,@Photo,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
