USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sub_AccounHead_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Sub_AccounHead_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from tbl_Sub_AccounHead where Id=@Id
END


GO
