USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tr_Attendence]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_Attendence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NULL,
	[Date] [datetime] NULL,
	[InTime] [nvarchar](50) NULL,
	[OutTime] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Month] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[EntryTime] [time](7) NULL,
	[ExitTime] [time](7) NULL,
 CONSTRAINT [PK_tr_Attendence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tr_Attendence]  WITH CHECK ADD  CONSTRAINT [FK_tr_Attendence_tr_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[tr_Teacher] ([Id])
GO
ALTER TABLE [dbo].[tr_Attendence] CHECK CONSTRAINT [FK_tr_Attendence_tr_Teacher]
GO
