USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PageContentChild]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PageContentChild]
(
@ParentId int
)
AS
BEGIN
	SET NOCOUNT ON;
	select p.PageContentID,p.PageName,p.PageTitel,p.PageContent,M.URL,M.ParentId, m.MenuID,m.TextBan,m.TextEng,
	PageContentBangla as PageContentAll from PageContent p left outer join HomeMenu m on m.PageContentID = p.PageContentID
	where M.ParentId=@ParentId
END

GO
