USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_StudentReferences]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_StudentReferences](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ReferenceName] [nvarchar](50) NULL,
	[RefNationality] [nvarchar](50) NULL,
	[RefNationalID] [varchar](50) NULL,
	[RefRelation] [nvarchar](50) NULL,
	[RefQualification] [nvarchar](50) NULL,
	[RefDesignation] [nvarchar](50) NULL,
	[RefProfession] [nvarchar](50) NULL,
	[RefMobileNo] [nvarchar](50) NULL,
	[RefEmail] [nvarchar](50) NULL,
	[RefYearlyIncome] [float] NULL,
	[RefResidenceAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentReferences] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_StudentReferences]  WITH CHECK ADD  CONSTRAINT [FK_StudentReferences_StudentReferences] FOREIGN KEY([StudentID])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[st_StudentReferences] CHECK CONSTRAINT [FK_StudentReferences_StudentReferences]
GO
