USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_GetByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select st_Person.*,
		st_PresentAddress.*,
		st_ParmanentAddress.*,
		tr_Teacher.Id as TeacherId,
		tr_Teacher.TeacherPin,
		tr_Teacher.Joindate,
		tr_Teacher.NId,
		tr_Teacher.AccountNumber,
		tr_Teacher.LevelId,
		tr_Teacher.GradeId,
		Gender,
		bs_CampusName.Id as CampusId,
		bs_CampusName.CampusName as Campus,
		tbl_Grade.Type as Grade,
		tbl_Level.LevelName as Level,
		Convert(varchar(50),tr_Teacher.EmployeeId) as EmployeeId,
		bs_BloodGroup.BloodGroup as BloodGroupName,
		Designation,Religion,CampusName,
		bs_Designation.Id as DesignationId,	
		st_PresentAddress.Address as PresentAddress
		from tr_Teacher 
		inner join st_Person on tr_Teacher.PersonId=st_Person.Id 
		inner join bs_Designation on tr_Teacher.DesignationId=bs_Designation.Id
		inner join bs_Gender on st_Person.GenderId=bs_Gender.Id
		inner join tbl_Grade on tr_Teacher.GradeId=tbl_Grade.Id
		inner join tbl_Level on tr_Teacher.LevelId=tbl_Level.Id
		inner join bs_Religion on st_Person.ReligionId=bs_Religion.Id
		inner join bs_CampusName on tr_Teacher.Campus=bs_CampusName.Id
		inner join bs_BloodGroup on st_Person.BloodGroup=bs_BloodGroup.Id
		left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
		left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId where ' + @Criteria
		EXECUTE sp_executesql @sql
	end
END

GO
