USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Marks_StudentMeritPositionByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Marks_StudentMeritPositionByCriteria] (
@Criteria nvarchar(max)

)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='WITH SumMarks AS(
Select StudentToClassId, (rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.MonthlyMarks + rs_ObtainMarks.AttendanceMarks + rs_ObtainMarks.PracticalMarks) as ConvertedMarks,NameEng,er_StudentToClass.*,
"IsFail"=(CASE   
      WHEN (rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.MonthlyMarks + rs_ObtainMarks.AttendanceMarks + rs_ObtainMarks.PracticalMarks)*100/rs_ObtainMarks.BaseMarks <= 32 THEN ''Fail''   
      WHEN (rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.MonthlyMarks + rs_ObtainMarks.AttendanceMarks + rs_ObtainMarks.PracticalMarks)*100/rs_ObtainMarks.BaseMarks >= 33 THEN ''Ok''  
   END  )
from rs_ObtainMarks
join er_StudentToClass on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id
join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
join st_Person on ss_Student.PersonId=st_Person.Id
Where '+@Criteria+'
)
Select ROW_NUMBER() OVER(PARTITION BY CampusId,MediumId,ClassId ORDER BY Sum(ConvertedMarks) DESC) AS Position,StudentToClassId,Year,ClassId,GroupId,ShiftId,SectionId,CampusId,MediumId,Sum(ConvertedMarks) as TotalMarks
From SumMarks where StudentToClassId not in( select StudentToClassId from SumMarks  where IsFail=''Fail'')
Group by StudentToClassId,Year,ClassId,GroupId,ShiftId,SectionId,CampusId,MediumId' 
		EXECUTE sp_executesql @sql
	end
END
GO
