USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Income_GetAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Income_GetAll] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select acc_Income.*, acc_IncomeCategory.IncomeCategory from acc_Income inner join
	acc_IncomeCategory on acc_Income.IncomeCategoryId=acc_IncomeCategory.Id order by Id Desc
END


GO
