USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_AllowanceInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_AllowanceInsert] (
@Allowance nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from pr_Allowance where Allowance=@Allowance)
		begin
			select -1
		end
	else
		begin
			insert into pr_Allowance(Allowance) values (@Allowance)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
