USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sheet1$_Queen_ADB]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		Liton
-- Create date: 27-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_Sheet1$_Queen_ADB] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *
	  FROM Sheet1$
END


---CONVERT(VARCHAR(24),InfoGeneral.BirthDate,103) as SBirthDate,CONVERT(VARCHAR(24),InfoGeneral.AdmissionDate,103) as SadmissionDate



GO
