USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_NewsBangla_GetLatest]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_NewsBangla_GetLatest]
	
AS
BEGIN
	SET NOCOUNT ON;
	select top(5) Id,TitleInBangla as Title ,Date,ShortDescriptionInBangla as ShortDescription,DetailsInBangla as Details,Photo from bs_News 
END


GO
