USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Routine_GetExamRoutineByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Routine_GetExamRoutineByCriteria] (
@Criteria nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select bs_ExamRoutine.*,(bs_ExamRoutine.StartTime+'' - ''+bs_ExamRoutine.EndTime)  as ExamTime,
case when er_SubjectToClass.PaperNo=0 
		 then
			SubjectName
		 else
		   SubjectName+''-''+ cast(PaperNo as nvarchar(50)) end as SubjectName
	 from bs_ExamRoutine inner join er_SubjectToClass 
	 on bs_ExamRoutine.SubjectId=er_SubjectToClass.Id inner join bs_SubjectName 
	 on er_SubjectToClass.SubjectId=bs_SubjectName.Id where '+@Criteria 
		EXECUTE sp_executesql @sql
	end
END


GO
