USE [DB_A12E6A_queenschool]
GO
/****** Object:  UserDefinedTableType [dbo].[dtTrain]    Script Date: 2025-10-28 6:47:17 PM ******/
CREATE TYPE [dbo].[dtTrain] AS TABLE(
	[TrainingName] [nvarchar](256) NULL,
	[InstituteName] [nvarchar](256) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Topics] [nvarchar](256) NULL,
	[Duration] [nvarchar](50) NULL
)
GO
