USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentToClass_InsertXML]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentToClass_InsertXML] (
@XML nvarchar(max),
@Year nvarchar(50),
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int
)
	
AS
DECLARE 
		@pointerDoc int
		Declare @RollNo int
BEGIN
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	set @RollNo= cast((select isnull( Max(RollNo),0) from er_StudentToClass where Year=@Year and ClassId=@ClassId and GroupId=@GroupId and ShiftId=@ShiftId and SectionId=@SectionId) as int)
	INSERT Into er_StudentToClass
	(
	  StudentId,Year,ClassId,GroupId,ShiftId,SectionId,RollNo
	)
	

	SELECT StId,@Year,@ClassId,@GroupId,@ShiftId,@SectionId,@RollNo+1
	FROM OPENXML(@pointerDoc, 'dsAssign/dtAssign',2)
	WITH (
		StId int
	) XMLReceiveDetailsTable
	EXEC sp_xml_removedocument @pointerDoc
END


GO
