USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_SalaryScaleUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_SalaryScaleUpdate] (
@Id int,
@Scale nvarchar(50),
@Description nvarchar(250)
)
AS
BEGIN
	SET NOCOUNT ON;
	Update pr_SalaryScale set
	Scale=@Scale,
	Description=@Description
	where Id=@Id
END


GO
