USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_BalanceSheet]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
Create PROCEDURE [dbo].[USP_Report_BalanceSheet] 


	
AS
BEGIN
	SET NOCOUNT ON;
	

select x.TotalFixedAssest,y.TotalCurrentAssest,z.TotalInvenTories ,m.TotalReceivable ,n.TotalMargin,o.totalAdvances,p.TotalCash
                        ,q.TotalBank,p.TotalCash+q.TotalBank as Cash_Bank,(r.TotalCurrentLIB) as TotalCurrentLIB,s.TotalAccountsPayable,(t.TotalAccruedExp) as TotalAccruedExp,
                        (y.TotalCurrentAssest-r.TotalCurrentLIB) as NetCurrentAssOrLib,u.LongLoan,v.ShortLoan,w.LeaseLoan,
                        (u.LongLoan+v.ShortLoan+w.LeaseLoan+((RetainedEarn)+shareMoneyDeposit+sharecapital)) TotalCapital_Fund,x.TotalFixedAssest+((y.TotalCurrentAssest-r.TotalCurrentLIB)) as TotalAsset,
                        (RetainedEarn)as RetainedEarnings ,shareMoneyDeposit,sharecapital,((RetainedEarn)+shareMoneyDeposit+sharecapital) as ShareholdersEquity,
                        prepaidExp,incometex ,bs_SchoolInformation.Name, bs_SchoolInformation.Address
                        from
                        (
                        select IsNull(sum(Writtenvalue),0)  as TotalFixedAssest from View_AssetShedule)x,


                        (SELECT  IsNull(tbank.TotalBank,0)+  IsNull(cc1.TotalCurrentAssest,0)+ IsNull(cc2.TotalCash,0)+ IsNull(cc3.TotalInvenTories,0) as TotalCurrentAssest
                        FROM         cc1 CROSS JOIN
                                              cc2 CROSS JOIN
                                              cc3 CROSS JOIN TBank)y,

                        (SELECT     IsNull(sum(tbl_Lgledger.DrAmount),0) as TotalInvenTories
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId in ('4003003','4003006','4003010','4003012'))z,
                        (SELECT     IsNull(sum(tbl_Lgledger.DrAmount),0) as TotalReceivable
                        FROM        tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001003')m,

                        (SELECT     IsNull(sum(tbl_Lgledger.DrAmount),0) as TotalMargin
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001005')n
                        ,
                        (SELECT     IsNull(sum(tbl_Lgledger.DrAmount),0) as prepaidExp
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001004')pr,
                        ( SELECT     IsNull(sum(tbl_Lgledger.DrAmount),0) as totalAdvances
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001007')o
                        ,

                        (SELECT     (IsNull(sum(tbl_Lgledger.DrAmount),0)-IsNull(sum(tbl_Lgledger.CrAmount),0)) as TotalCash
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001001')p,
                        (SELECT     (IsNull(sum(tbl_Lgledger.DrAmount),0)-IsNull(sum(tbl_Lgledger.CrAmount),0)) as TotalBank
                       FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='9001002')q,

                        ( SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as TotalCurrentLIB
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_AccountHead.HeadCodeId=7004)r,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as TotalAccountsPayable
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='7004001')s,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as TotalAccruedExp
                       FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='7004002')t,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as LongLoan
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_AccountHead.HeadCodeId=7001)u,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as ShortLoan
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_AccountHead.HeadCodeId=7002)v,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as LeaseLoan
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_AccountHead.HeadCodeId=7003)w,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as sharecapital
                        FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='7005001')A,
                        (SELECT     IsNull(sum(tbl_Lgledger.CrAmount),0) as shareMoneyDeposit
                       FROM         tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                        where  tbl_Account.SubHeadId='7005002')B,
                        (SELECT   IsNull(aftertex,0) as RetainedEarn from Viewprofit)C,

                        ( select balance as incometex from tbl_Account where  AccountCodeId='7004002003') D ,
                        bs_SchoolInformation


	
END


GO
