USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Year_Insert]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Year_Insert] (
@Year nvarchar(250),
@Isdefault bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Year where Year=@Year)
		begin
			select -1
		end
	else
		begin
			insert into bs_Year(Year,IsDefault) values (@Year,@Isdefault)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
