USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Account_GetByAccId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Account_GetByAccId] (
@AccId NVARCHAR(25)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from tbl_Account where AccountCodeId=@AccId
END


GO
