USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Main_Voucher_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 06-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Main_Voucher_Update] (
@Id INT,
@VoucherCodeId NVARCHAR(20),
@VoucherName NVARCHAR(50),
@UpdateBy NVARCHAR(50),
@UpdateDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Main_Voucher set
	VoucherCodeId=@VoucherCodeId,
	VoucherName=@VoucherName,
	UpdateBy=@UpdateBy,
	UpdateDate=@UpdateDate
	
	where Id=@Id
  
END


GO
