USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[lb_IssueBook]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lb_IssueBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NULL,
	[PersonId] [int] NULL,
	[IssueDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[IsReturn] [bit] NULL,
	[IssuedBy] [nvarchar](50) NULL,
	[ReceivedBy] [nvarchar](50) NULL,
	[ReceivedDate] [datetime] NULL,
 CONSTRAINT [PK_lb_IssueBook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
