USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2017
-- =============================================
CREATE proc [dbo].[USP_UpdateClassRoutine]
@Id int,
@MediumId int,
@Year int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@Day nvarchar(50),
@PeriodNo int,
@SubjectId int,
@StartTime nvarchar(50),
@EndTime nvarchar(50),
@Teacher int
as
Update  bs_ClassRoutine
Set
Year=@Year,
MediumId=@MediumId,
CampusId=@CampusId,
ClassId=@ClassId,
GroupId=@GroupId,
ShiftId=@ShiftId,
SectionId=@SectionId,
Day=@Day,
Period=@PeriodNo,
SubjectId=@SubjectId,
StartTime=@StartTime,
EndTime=@EndTime,
TeacherId=@Teacher
Where Id=@Id
	
Select * from bs_ClassRoutine where Id=@Id


GO
