USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_ClassInfoByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_ClassInfoByUserName] (
@UserName nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select er_StudentToClass.Id,bs_Year.Year,er_StudentToClass.StudentId,er_StudentToClass.ClassId,er_StudentToClass.GroupId,
	er_StudentToClass.ShiftId,er_StudentToClass.SectionId
	from st_Person 
	inner join ss_Student on st_Person.Id=ss_Student.PersonId 
	inner join er_StudentToClass on ss_Student.Id=er_StudentToClass.StudentId
	inner join bs_Year on er_StudentToClass.Year=bs_Year.Id 
	
	where UserName=@UserName
END


GO
