USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetAllAttendence]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_GetAllAttendence] 
@TeacherId int,
@Year nvarchar(50),
@Month nvarchar(50)
	
AS
BEGIN
	SET NOCOUNT ON;
		select Date,year,Month,InTime,OutTime,tr_Teacher.Id as TeacherId,st_Person.NameEng
		 from  tr_Attendence
		 inner join tr_Teacher on tr_Teacher.Id=tr_Attendence.TeacherId
		 inner join st_Person on tr_Teacher.PersonId=st_Person.Id
		where TeacherId=@TeacherId and Year=@Year and Month=@Month	
END



GO
