USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ExamType_GetDailyOrWeekly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 11-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_ExamType_GetDailyOrWeekly] 
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from bs_ExamType where IsDailyOrWeekly=1
END


GO
