USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[rs_ObtainMarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rs_ObtainMarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentToClassId] [int] NULL,
	[SubjectId] [int] NULL,
	[ExamTypeId] [int] NULL,
	[YearId] [int] NULL,
	[SubjectiveMarks] [decimal](5, 2) NULL,
	[ObjectiveMarks] [decimal](5, 2) NULL,
	[PracticalMarks] [decimal](5, 2) NULL,
	[OtherMarks] [decimal](5, 2) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[BaseMarks] [decimal](5, 2) NULL,
	[AttendanceMarks] [decimal](5, 2) NULL,
	[MonthlyMarks] [decimal](5, 2) NULL,
	[IsFinishMarks] [bit] NULL,
	[FinishDate] [datetime] NULL,
	[IsPublishMarks] [bit] NULL,
	[PublishDate] [datetime] NULL,
 CONSTRAINT [PK_rs_ObtainMarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
