USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertPageContent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================
--Author: LITON
--Date:26-02-2017
--========================================
CREATE proc [dbo].[USP_InsertPageContent]

@PageName nvarchar(50),
@PageTitel nvarchar(50),
@PageContent nvarchar(max),
@PageContentBangla nvarchar(max)

as

Insert Into dbo.PageContent
(PageName,PageTitel,PageContent,PageContentBangla) values (@PageName,@PageTitel,@PageContent,@PageContentBangla)

Select  max(PageContentID) from PageContent

GO
