USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Income_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Income_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from acc_Income where Id=@Id
END


GO
