USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentId_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 08-11-201
-- =============================================
create PROCEDURE [dbo].[USP_StudentId_GetByPersonId]

	(@PersonId int
	)
AS
BEGIN
	SET NOCOUNT ON;
	select Id from ss_Student
	where PersonId=@PersonId
END
GO
