USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insertst_ProfileLog]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[USP_Insertst_ProfileLog]
@StudentToClassId int,
@Year nvarchar(50),
@MediumId int,
@CampusId INT=NULL,
@ClassId INT=NULL,
@GroupId INT=NULL,
@ShiftId INT=NULL,
@SectionId INT=NULL,
@previousRoll nvarchar(50),
@IsPromotion bit,
@SubjectiveMarks decimal(5,2),
@ObjectiveMarks decimal(5,2),
@PracticalMarks decimal(5,2),
@OtherMarks decimal(5,2),
@AttendanceMarks decimal(5,2),
@MonthlyMarks decimal(5,2),
@TotalMarks decimal(5,2),
@NewRoll nvarchar(50),
@CreatedBy nvarchar(50),
@CreatedDate DATETIME
as
Insert into st_ProfileLog
(StudentToClassId,Year,MediumId,CampusId,ClassId,GroupId,ShiftId,SectionId,previousRoll,IsPromotion,SubjectiveMarks,ObjectiveMarks,PracticalMarks,OtherMarks,AttendanceMarks,MonthlyMarks,TotalMarks,NewRoll,CreatedBy,CreatedDate)
Values
(@StudentToClassId,@Year,@MediumId,@CampusId,@ClassId,@GroupId,@ShiftId,@SectionId,@previousRoll,@IsPromotion,@SubjectiveMarks,@ObjectiveMarks,@PracticalMarks,@OtherMarks,@AttendanceMarks,@MonthlyMarks,@TotalMarks,@NewRoll,@CreatedBy,@CreatedDate)




GO
