USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetByIdWithSix]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-05-2017
-- =============================================

CREATE PROCEDURE [dbo].[USP_GetByIdWithSix] (
@Table nvarchar(250),
@Column nvarchar(250),
@Condition nvarchar(50),
@Column1 nvarchar(250),
@Condition1 nvarchar(50),
@Column2 nvarchar(250),
@Condition2 nvarchar(50),
@Column3 nvarchar(250),
@Condition3 nvarchar(50),
@Column4 nvarchar(250),
@Condition4 nvarchar(50),
@Column5 nvarchar(250),
@Condition5 nvarchar(50),
@Column6 nvarchar(250),
@Condition6 nvarchar(50),
@Column7 nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	set @sql='Select * from '+@Table+' where '+@Column+'='+@Condition+ ' And '+@Column1+'='+@Condition1+ ' And '+@Column2+'='+@Condition2+' And '+@Column3+'='+@Condition3+' And '+@Column4+'='+@Condition4+' And '+@Column5+'='+@Condition5+ ' And ' +@Column6+ '='+@Condition6+ 
	' order by ' +  @Column7 +' ASC '
	EXECUTE sp_executesql @sql
END
GO
