USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_News_GetByIdEnglish]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_News_GetByIdEnglish] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select Id,Title ,Date,ShortDescription,Details from bs_News
	where Id=@Id
END


GO
