USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MainHeadCode_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MainHeadCode_Insert] (
@MainCodeId BIGINT,
@CodeName NVARCHAR(50),
@Description NVARCHAR(500),
@AId BIGINT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_MainHeadCode where MainCodeId=@MainCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_MainHeadCode
			(
			MainCodeId,
			CodeName,
			Description,
			AId
			) 
			VALUES 
			(
			@MainCodeId,
			@CodeName,
			@Description,
			@AId
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
