USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Student_GetByMonthly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Shojib
-- Create date: 08-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_Student_GetByMonthly] (
@StudentId int,
@Year int,
@Month int

)
	
AS
BEGIN
	SET NOCOUNT ON;
	select bs_Year.Year,bs_Month.Month, * from ss_Payment 
	inner join bs_Year on ss_Payment.Year=bs_Year.Id
	inner join bs_Month on ss_Payment.Month=bs_Month.Id
where StudentId=@StudentId and ss_Payment.Year=@Year and ss_Payment.Month=@Month
END

GO
