USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_AccStatement]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_Report_AccStatement] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select AccountCodeId,HeadCodeId,Purpose,MrNo,VNo,CONVERT(VARCHAR(24),tbl_Journal.TDate,107) as TDate ,DrAmount as Deposit,CrAmount as Withdraw,Remarks 
from tbl_Journal  where ' +@Criteria
	EXECUTE sp_executesql @sql
END


GO
