USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_GetByPersonId] (
@PersonId INT
)
	
AS
BEGIN
	SELECT * FROM tr_Teacher
	INNER JOIN tr_Status ON tr_Teacher.IsActive=tr_Status.Id
	LEFT OUTER JOIN tbl_EmployeeSalary ON tr_Teacher.PersonId=tbl_EmployeeSalary.PersonId
	LEFT OUTER JOIN	tbl_Grade ON tr_Teacher.GradeId=tbl_Grade.Id
	LEFT OUTER JOIN	tbl_Level ON tr_Teacher.LevelId=tbl_Level.Id

	WHERE tr_Teacher.PersonId=@PersonId

END
GO
