USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_BillNoExist]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE proc [dbo].[USP_Payment_BillNoExist]

@BillNo nvarchar(50)


AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (select * from ss_Payment where BillNo=@BillNo)
		begin
			select -1
		end
	else
	select 1
  
END
GO
