USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tr_Education]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DegreeName] [nvarchar](256) NULL,
	[Board] [nvarchar](256) NULL,
	[Grade] [nvarchar](50) NULL,
	[PassingYear] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[GPAScale] [nvarchar](50) NULL,
	[TeacherId] [int] NULL,
	[ResultDivision] [nvarchar](50) NULL,
 CONSTRAINT [PK_tr_Education] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tr_Education]  WITH CHECK ADD  CONSTRAINT [FK_tr_Education_tr_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[tr_Teacher] ([Id])
GO
ALTER TABLE [dbo].[tr_Education] CHECK CONSTRAINT [FK_tr_Education_tr_Teacher]
GO
