USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_OutOfMarks_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 05/04/2017
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_OutOfMarks_Update](
@Id INT,
@OutOfMarks DECIMAL(5,0)
)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [dbo].[bs_OutOfMarks] SET
    OutOfMarks=@OutOfMarks
	WHERE Id=@Id
END

GO
