USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TaskToRole_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_TaskToRole_Insert] (
@Xml nvarchar(MAX)
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into sa_RoleToTask
	(
	  TaskId,
	  RoleId,
	  CreatedBy,
	  CreatedDate
	)
	SELECT TId, RId,CdBy,CDate
	FROM OPENXML(@pointerDoc, 'ds/TaskToRole',2)
	WITH (
		TId int,
		RId int,
		CdBy nvarchar(256),
		CDate datetime
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
