USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PayrollAmount_Get]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PayrollAmount_Get] (
@YearId int,
@CampusId int,
@GradeId int,
@LevelId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from (
	         select tbl_PayrollSetup.Id as PayrollToDesignationId, PayrollTypeId as Id, PayrollType,
	         Amount,(select SUM(Amount) from tbl_PayrollSetup where tbl_PayrollSetup.YearId=@YearId and tbl_PayrollSetup.CampusId=@CampusId and tbl_PayrollSetup.GradeId=@GradeId and tbl_PayrollSetup.LevelId=@LevelId) as Total,tbl_PayrollSetup.StartMonth,tbl_PayrollSetup.EndMonth
	         from tbl_PayrollSetup 
             join tbl_PayrollType on tbl_PayrollSetup.PayrollTypeId=tbl_PayrollType.Id 	
	         where tbl_PayrollSetup.YearId=@YearId and tbl_PayrollSetup.CampusId=@CampusId and tbl_PayrollSetup.GradeId=@GradeId and tbl_PayrollSetup.LevelId=@LevelId
	         union
	         Select '0' PayrollToDesignationId , tbl_PayrollType.Id , PayrollType, '0' as Amount ,'0' as Total,StartMonth,EndMonth
	         from tbl_PayrollType
			 join tbl_PayrollSetup on tbl_PayrollType.Id=tbl_PayrollSetup.PayrollTypeId
	         Where tbl_PayrollType.Id Not in (Select PayrollTypeId from tbl_PayrollSetup where tbl_PayrollSetup.YearId=@YearId and tbl_PayrollSetup.CampusId=@CampusId and tbl_PayrollSetup.GradeId=@GradeId and tbl_PayrollSetup.LevelId=@LevelId)
	              ) tbl Order by Id
END
GO
