USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sub_Voucher_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 06-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Sub_Voucher_Insert] (
@SubVoucherId NVARCHAR(20),
@VoucherCodeId NVARCHAR(50),
@SubVoucherName NVARCHAR(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_Sub_Voucher where SubVoucherId=@SubVoucherId AND VoucherCodeId=@VoucherCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_Sub_Voucher
			(
			SubVoucherId,
			VoucherCodeId,
			SubVoucherName
			) 
			VALUES 
			(
			@SubVoucherId,
			@VoucherCodeId,
			@SubVoucherName
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
