USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTeacherByCampusIdAndGradeId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTeacherByCampusIdAndGradeId](
@CampusId INT,
@GradeId INT,
@LevelId INT
)
AS BEGIN
		SELECT * FROM tr_Teacher
		INNER JOIN st_Person ON tr_Teacher.PersonId=st_Person.Id
		INNER JOIN bs_CampusName ON tr_Teacher.Campus=bs_CampusName.Id
		INNER JOIN bs_Designation ON tr_Teacher.DesignationId=bs_Designation.Id
		INNER JOIN tbl_Grade ON tr_Teacher.GradeId=tbl_Grade.Id
		INNER JOIN tbl_Level ON tr_Teacher.LevelId=tbl_Level.Id
		WHERE Campus=@CampusId AND GradeId=@GradeId AND LevelId=@LevelId and IsActive=1
END
GO
