USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[rs_FailSystem]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rs_FailSystem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectToClassId] [int] NULL,
	[SubjectiveFailMarks] [int] NULL,
	[ObjectiveFailMarks] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[YearId] [int] NULL,
	[CampusId] [int] NULL,
	[ExamtypeId] [int] NULL,
 CONSTRAINT [PK_rs_FailSystem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
