USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentSiblingsInfo_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentSiblingsInfo_Insert] (
@StudentID int,
@Name nvarchar(50),
@Gender nvarchar(50),
@Age varchar(50),
@InstituteName nvarchar(50),
@Profession nvarchar(50), 
@Remarks nvarchar(50)
)	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_StudentSiblingsInfo(StudentID,Name,Gender,Age,InstituteName,Profession,Remarks)
	values
	(@StudentID,@Name,@Gender,@Age,@InstituteName,@Profession,@Remarks)
	
END


GO
