USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_FailSystem_Update] (
@Id int,
@YearId int,
@CampusId int,
@ExamtypeId int,
@SubjectToClassId int,
@Theory decimal(18,2),
@Objective decimal(18,2),
@UpdatedBy nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
			Update rs_FailSystem set 
			SubjectToClassId=@SubjectToClassId,
			SubjectiveFailMarks=@Theory,
			ObjectiveFailMarks=@Objective,
			UpdatedBy=@UpdatedBy,
			UpdatedDate=SYSDATETIME(),
			YearId=@YearId,
			CampusId=@CampusId,
			ExamtypeId=@ExamtypeId
			where Id=@Id
END

GO
