USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[HomeMenu]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeMenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[TextBan] [nvarchar](256) NULL,
	[TextEng] [nvarchar](256) NULL,
	[URL] [nvarchar](256) NULL,
	[ParentId] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[ForAll] [bit] NULL,
	[Order] [int] NULL,
	[Icon] [nvarchar](100) NULL,
	[PageContentID] [int] NULL,
	[IsPublish] [bit] NULL,
	[PublishStartDate] [datetime] NULL,
	[PublishEndDate] [datetime] NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_HomeMenu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HomeMenu] ADD  CONSTRAINT [DF_HomeMenu_ForAll]  DEFAULT ((0)) FOR [ForAll]
GO
ALTER TABLE [dbo].[HomeMenu]  WITH CHECK ADD  CONSTRAINT [FK_HomeMenu_PageContent] FOREIGN KEY([PageContentID])
REFERENCES [dbo].[PageContent] ([PageContentID])
GO
ALTER TABLE [dbo].[HomeMenu] CHECK CONSTRAINT [FK_HomeMenu_PageContent]
GO
