USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Publisher_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Publisher_Insert] (
@Publisher nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from lb_Publisher where Publisher=@Publisher)
		begin
			select -1
		end
	else
		begin
	INSERT INTO lb_Publisher(Publisher) VALUES
	(@Publisher)
	select SCOPE_IDENTITY()
	end
END


GO
