USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_InserAllowanceToType]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_InserAllowanceToType] (
@Xml nvarchar(MAX),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into pr_AllowanceToType
	(
	  TypeId,AllowanceId,AllowancePercent,CreatedBy,CreatedDate
	)
	SELECT TId,AId,Amount,@CreatedBy,@CreatedDate
	FROM OPENXML(@pointerDoc, 'dsAllowance/dtAllowance',2)
	WITH (
		TId int,
		AId int,
		Amount int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
