USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertAboutUs]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE proc [dbo].[USP_InsertAboutUs]


@AboutUsEnglish nvarchar(max),
@AboutUsbangla nvarchar(max),
@Remarks nvarchar(max),
@TextType nvarchar(250)

as

Insert Into dbo.tblAboutUs
(AboutUsEnglish,AboutUsbangla,Remarks,TextType) 
values (@AboutUsEnglish,@AboutUsbangla,@Remarks,@TextType)

Select  max(AboutUsID) from tblAboutUs


GO
