USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_GetDeductionBytypeId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_GetDeductionBytypeId] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select pr_DeductionToType.*,pr_Deduction.Deduction,pr_Type.Basic,
	cast((pr_Type.Basic*pr_DeductionToType.DeductionPercent)/100 as decimal(10,2)) as DeductionAmount
	 from pr_DeductionToType inner join pr_Deduction 
	on pr_DeductionToType.DeductionId=pr_Deduction.Id inner join pr_Type
	on pr_DeductionToType.TypeId=pr_Type.Id

	where TypeId=1
END


GO
