USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SubjectToClass_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 28-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SubjectToClass_Insert] (
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@SubjectId int,
@CategoryId int,
@OrderBy int,
@PaperNo int,
@IsOPtional bit,
@CreatedBy nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from er_SubjectToClass where YearId=@YearId and MediumId=@MediumId and ClassId=@ClassId and GroupId=@GroupId and SubjectId=@SubjectId and PaperNo=@PaperNo)
		begin
			select -1
		end
	else if EXISTS (select * from er_SubjectToClass where YearId=@YearId and MediumId=@MediumId and ClassId=@ClassId and GroupId=@GroupId and OrderBy=@OrderBy and PaperNo=@PaperNo)
	   begin
			select -2
		end
		else
		begin
			insert into er_SubjectToClass(YearId,MediumId,CampusId,ClassId,GroupId,SubjectId,CategoryId,OrderBy,PaperNo,IsOPtional,CreatedBy,CreatedDate) values 
			(@YearId,@MediumId,@CampusId,@ClassId,@GroupId,@SubjectId,@CategoryId,@OrderBy,@PaperNo,@IsOPtional,@CreatedBy,GETDATE())
			select SCOPE_IDENTITY()
		end

	
  
END
GO
