USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertPayrolType]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertPayrolType] (
@Type nvarchar(250),
@CreatedBy nvarchar(200),
@CreatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_PayrollType where PayrollType=@Type)
		begin
			select -1
		end
	else
		begin
			insert into tbl_PayrollType(PayrollType,CreatedBy,CreatedDate) values (@Type,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end 
END
GO
