USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_SubjectToClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 06-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Report_SubjectToClass] (
@Criteria nvarchar(max)
)

AS
BEGIN
SET NOCOUNT ON;
declare @sql nvarchar(max)
if(@Criteria<>'')
begin 
set @Sql='select er_SubjectToClass.*,bs_ClassName.ClassName,bs_Group.GroupName,bs_Medium.MediumName,
	case when er_SubjectToClass.PaperNo=0 
		 then
			SubjectName
		 else
		   SubjectName+''-''+ cast(PaperNo as nvarchar(50)) end as SubjectName
	 from er_SubjectToClass 
	inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
	inner join bs_Medium on er_SubjectToClass.MediumId=bs_Medium.Id
	inner join bs_ClassName on er_SubjectToClass.ClassId=bs_ClassName.Id
	inner join bs_Group on er_SubjectToClass.GroupId=bs_Group.Id
	Where ' + @Criteria 
		EXECUTE sp_executesql @sql
	end
END

GO
