USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TaskPermission_Delete]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TaskPermission_Delete] (
@RoleId int
)
AS
BEGIN
	SET NOCOUNT ON;
	delete from TaskPermission where RoleId=@RoleId
END


GO
