USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insert_fee_PaymentForClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[USP_Insert_fee_PaymentForClass]
@YearID int,
@Month int,
@Amount numeric,
@PaymentTypeID int,
@CreatedBy nvarchar(50),
@CreatedDate date,
@ClassID int

as

Insert into fee_PaymentForClass (YearID, Month,PaymentTypeID,Amount,CreatedBy,CreatedDate,ClassID)
values (@YearID, @Month,@PaymentTypeID,@Amount,@CreatedBy,@CreatedDate,@ClassID)


GO
