USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[fee_PaymentSetup]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fee_PaymentSetup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearId] [int] NULL,
	[MediumId] [int] NULL,
	[CampusId] [int] NULL,
	[ClassId] [int] NULL,
	[GroupId] [int] NULL,
	[ShiftId] [int] NULL,
	[SectionId] [int] NULL,
	[PaymentTypeId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[StartMonth] [int] NULL,
	[EndMonth] [int] NULL,
 CONSTRAINT [PK_fee_PaymentSetup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
