USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Subject_GetByGetByClassAndGroupId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Subject_GetByGetByClassAndGroupId] (
@YearId int,
@ClassId int,
@GroupId int,
@MediumId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select er_SubjectToClass.Id as SubjectToClassId,er_SubjectToClass.*,
	bs_Group.GroupName,bs_SubjectName.SubjectName,bs_ClassName.ClassName,bs_Medium.MediumName,bs_Year.Year,
	case when er_SubjectToClass.PaperNo=0
		 then
			case when IsOptional=0 then SubjectName else SubjectName+' (Op)' end
		 else
			case when IsOptional=0 then SubjectName+'-'+ cast(PaperNo as nvarchar(50)) else SubjectName+'-'+ cast(PaperNo as nvarchar(50))+' (Op)' end
	end as SubjectName
	from er_SubjectToClass 
	inner join bs_SubjectName on er_SubjectToClass.SubjectId =bs_SubjectName.Id
	inner join bs_Year on er_SubjectToClass.YearId = bs_Year.Id
	inner join bs_Group on er_SubjectToClass.GroupId = bs_Group.Id
	inner join bs_ClassName on er_SubjectToClass.ClassId=bs_ClassName.Id
	inner join bs_Medium on er_SubjectToClass.MediumId=bs_Medium.Id
	where ClassId=@ClassId and MediumId=@MediumId and GroupId=@GroupId and YearId=@YearId
	order by er_SubjectToClass.OrderBy
  
END
GO
