USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEmployeePaidSalary]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetEmployeePaidSalary](
@Criteria nvarchar(max)
)
AS BEGIN
		SET NOCOUNT ON;
		DECLARE @sql NVARCHAR(MAX)
		SET @sql='
		SELECT CONVERT(NVARCHAR(10),tr_Teacher.CreatedDate,101)  as JoiningDate, bs_CampusName.CampusName, tbl_EmployeeAccount.CreatedBy as CreatedBy,CONVERT(NVARCHAR(10),tbl_EmployeeAccount.CreatedDate,101) as CreatedDate, * FROM tbl_EmployeeAccount
		INNER JOIN tr_Teacher ON tbl_EmployeeAccount.EmployeeId=tr_Teacher.EmployeeId
		INNER JOIN st_Person ON tr_Teacher.PersonId=st_Person.Id
		INNER JOIN bs_Designation ON tr_Teacher.DesignationId=bs_Designation.Id
		INNER JOIN bs_CampusName ON tr_Teacher.Campus=bs_CampusName.Id
		INNER JOIN bs_Year ON tbl_EmployeeAccount.YearId=bs_Year.Id
		INNER JOIN bs_Month ON tbl_EmployeeAccount.MonthId=bs_Month.Id
		WHERE 
		'+@Criteria
		EXECUTE sp_executesql @sql
	END
GO
