USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Qualification_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Qualification_Insert] (
@Qualification nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Qualification where Qualification=@Qualification)
		begin
			select -1
		end
	else
		begin
			insert into bs_Qualification(Qualification) values (@Qualification)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
