USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_FailSystem_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select rs_FailSystem.*,bs_ClassName.Id as ClassId,bs_ClassName.ClassName,bs_Group.Id as GroupId,bs_Group.GroupName

	from rs_FailSystem 
	inner join er_SubjectToClass on rs_FailSystem.SubjectToClassId=er_SubjectToClass.Id
	inner join bs_ClassName on er_SubjectToClass.ClassId=bs_ClassName.Id
	inner join bs_Group on er_SubjectToClass.GroupId=bs_Group.Id
	where rs_FailSystem.Id=@Id
  
END


GO
