USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_HealthInformation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_HealthInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Height] [nvarchar](50) NULL,
	[Weight] [nvarchar](50) NULL,
	[HealthDate] [datetime] NULL,
	[PhysicalDrawBack] [nvarchar](50) NULL,
	[DrawBackDetails] [nvarchar](250) NULL,
	[AllergyProblem] [nvarchar](50) NULL,
	[AvoidForAllergy] [nvarchar](50) NULL,
	[MedicinesGropName] [nvarchar](50) NULL,
 CONSTRAINT [PK_bs_HealthInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_HealthInformation]  WITH CHECK ADD  CONSTRAINT [FK_st_HealthInformation_ss_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[st_HealthInformation] CHECK CONSTRAINT [FK_st_HealthInformation_ss_Student]
GO
