USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetPaymentByPayroll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetPaymentByPayroll](

@PayrollTypeId int,
@MonthId int,
@YearId int,
@GradeId int,
@LevelId int,
@CampusId int,
@EmployeeId int
)
AS BEGIN
	SET NOCOUNT ON;
	IF EXISTS (SELECT * FROM tbl_EmployeeSalary
	inner join tbl_PayrollType on tbl_EmployeeSalary.PayrollTypeId=tbl_PayrollType.Id
	WHERE PayrollTypeId=@PayrollTypeId AND YearId=@YearId AND GradeId=@GradeId AND LevelId=@LevelId AND CampusId=@CampusId AND EmployeeId=@EmployeeId AND YearId=@YearId AND MonthId=@MonthId )
	BEGIN 
	SELECT * FROM tbl_EmployeeSalary
		inner join tbl_PayrollType on tbl_EmployeeSalary.PayrollTypeId=tbl_PayrollType.Id
		WHERE PayrollTypeId=@PayrollTypeId AND YearId=@YearId AND GradeId=@GradeId AND LevelId=@LevelId AND CampusId=@CampusId AND EmployeeId=@EmployeeId AND YearId=@YearId AND MonthId=@MonthId
	END	
	ELSE
	BEGIN	
		SELECT 0 as EmployeeId, * FROM tbl_PayrollSetup
		INNER JOIN tbl_PayrollType ON tbl_PayrollSetup.PayrollTypeId=tbl_PayrollType.Id
		WHERE PayrollTypeId=@PayrollTypeId AND YearId=@YearId AND GradeId=@GradeId AND LevelId=@LevelId
	END
END
GO
