USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_Teacher_UpdateSeenInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Notice_Teacher_UpdateSeenInfo] (
@IsSeen bit,
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	begin
			Update nt_NoticeForTeacher set IsSeen=@IsSeen, SeenDate=GETDATE() Where Id=@Id 
		end
END




GO
