USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_Sub_AccounHead]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Sub_AccounHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubHeadCodeId] [bigint] NOT NULL,
	[SubHeadName] [nvarchar](50) NULL,
	[AId] [bigint] NULL,
	[Description] [nvarchar](500) NULL,
	[HeadCodeId] [bigint] NULL,
	[UpdateOn] [datetime] NULL,
	[Balance] [float] NULL,
	[AssetType] [bigint] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Sub_AccounHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
