USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Expence_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Expence_Update] (
@Id int,
@ExpenseDate datetime,
@Amount decimal(10,2),
@ExpenseCategoryId int,
@Attachment nvarchar(250),
@Purpose nvarchar(MAX),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
Update dbo.acc_Expense set 
ExpenseCategoryId=@ExpenseCategoryId,
ExpenseDate=@ExpenseDate,
Amount=@Amount,
Purpose=@Purpose,
Attachment=@Attachment,
UpdatedBy=@UpdatedBy,
UpdatedDate=@UpdatedDate
where Id=@Id
	
END


GO
