USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Journal_FlagUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
Create PROCEDURE [dbo].[USP_Journal_FlagUpdate](
@JrTranId INT,
@Flag NVARCHAR(5)=NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Journal set	
	Flag=@Flag	
	where JrTranId=@JrTranId
END


GO
