USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sub_AccounHead_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Sub_AccounHead_Insert] (
@SubHeadCodeId BIGINT,
@SubHeadName NVARCHAR(50),
@Description NVARCHAR(500),
@HeadCodeId BIGINT,
@CreatedBy NVARCHAR(50),
@CreatedDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_Sub_AccounHead where SubHeadCodeId=@SubHeadCodeId AND HeadCodeId=@HeadCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_Sub_AccounHead
			(
			SubHeadCodeId,
			SubHeadName,
			Description,
			HeadCodeId,
			CreatedBy,
			CreatedDate
			) 
			VALUES 
			(
			@SubHeadCodeId,
			@SubHeadName,
			@Description,
			@HeadCodeId,
			@CreatedBy,
			@CreatedDate
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
