USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertEmployeeSalaryPaid]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertEmployeeSalaryPaid](

@EmployeeId INT,
@GradeId INT,
@LevelId INT,
@CampusId INT,
@MonthId INT,
@YearId INT,
@PayrollTypeId INT,
@AccountNumber NVARCHAR(50),
@TotalAmount DECIMAL(18,2),
@GivenAmount DECIMAL(18,2),
@DueAmount DECIMAL(18,2),
@BillNo NVARCHAR(50),
@CreatedBy NVARCHAR(50),
@CreatedDate DATETIME
)
AS BEGIN 
		IF EXISTS(SELECT * FROM tbl_EmployeeAccount WHERE EmployeeId=@EmployeeId AND MonthId=@MonthId AND YearId=@YearId AND PayrollTypeId=@PayrollTypeId)
		BEGIN
			RETURN -1
		END
		ELSE
		BEGIN
			INSERT INTO tbl_EmployeeAccount(EmployeeId,CampusId,MonthId,YearId,PayrollTypeId,AccountNumber,Amount,GivenAmount,DueAmount,BillNo,CreatedBy,CreatedDate,GradeId,LevelId)VALUES(@EmployeeId,@CampusId,@MonthId,@YearId,@PayrollTypeId,@AccountNumber,@TotalAmount,@GivenAmount,@DueAmount,@BillNo,@CreatedBy,@CreatedDate,@GradeId,@LevelId)
		END
	END
 
GO
