USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_Notice_Insert] (
@Title nvarchar(250),
@ShortDescription nvarchar(250),
@Details nvarchar(max),
@Date datetime,
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
		begin
			insert into bs_Notice(Title, ShortDescription,Details,Date,CreatedBy,CreatedDate)
			values(@Title,@ShortDescription,@Details,@Date,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end
END


GO
