USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountBalance_UpdateForCrAmountAndProfit]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 12-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AccountBalance_UpdateForCrAmountAndProfit] (
@jr_AccountCodeId NVARCHAR(25),
@Profit FLOAT,
@acc_BALANCE FLOAT,
@jr_CrAmount FLOAT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update dbo.tbl_Account SET
	Balance=(@acc_BALANCE -(@jr_CrAmount + @Profit))
	where AccountCodeId=@jr_AccountCodeId
  
END


GO
