USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tblChairmanContent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChairmanContent](
	[ChairmanContentID] [int] IDENTITY(1,1) NOT NULL,
	[Titel] [nvarchar](500) NULL,
	[TitleBangla] [nvarchar](500) NULL,
	[Name] [nvarchar](50) NULL,
	[NameBangla] [nvarchar](250) NULL,
	[Designation] [nvarchar](500) NULL,
	[DesignationBangla] [nvarchar](500) NULL,
	[Address] [nvarchar](max) NULL,
	[AddressBangla] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DescriptionBangla] [nvarchar](max) NULL,
	[Photo] [nvarchar](250) NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblChairmanContent] PRIMARY KEY CLUSTERED 
(
	[ChairmanContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
