USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Campus_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 28-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Campus_Update] (
@Id int,
@CampusName nvarchar(200)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_CampusName set
	CampusName=@CampusName
	where Id=@Id
  
END


GO
