USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SMSTemplete_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 30-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SMSTemplete_Update] (
	@Id int,
	@Name nvarchar(250),
	@Variable nvarchar(500),
	@Message	nvarchar(max),
	@IsDefault BIT
)
AS
BEGIN
	Update SMSTemplete set
	Name=@Name,
	Variable=@Variable,
	Message=@Message,
	IsDefault=@IsDefault
	where Id=@Id
	
END


GO
