USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetExistingStudentInDaliyMarksEntry]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
Create PROCEDURE [dbo].[USP_GetExistingStudentInDaliyMarksEntry] (
@YearId int,
@StudentToClassID nvarchar(50),
@SubjectID int,
@ExamTypeID int,
@ExamDate nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from rs_ObtainDailyMarks where YearId=@YearId and SubjectID=@SubjectID and StudentToClassID  In (@StudentToClassID) and ExamTypeID  In (@ExamTypeID) and ExamDate>=''+@ExamDate+'' and ExamDate<=''+@ExamDate+''
	
END


GO
