USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PersonData_Insert_Queen]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PersonData_Insert_Queen] (
@NameEng nvarchar(250),
@FatherNameEng nvarchar(250),
@MotherNameEng nvarchar(250),
@DateofBirth DateTime,
@UserName nvarchar(50),
@GenderId int,
@ReligionId int,
@BloodGroup nvarchar(20),
@IsFreedomFighter bit,
@IsTribal bit,
@IsPhysicallyDefect bit,
@FatherQualificationId int,
@FatherProfessionId int,
@MotherQualificationId int,
@MotherProfessionId int
)
	
AS
BEGIN	

	IF EXISTS (select * from st_Person where UserName=@UserName)
		begin
			select -1
		end
	else
			insert into st_Person(
			NameEng,
			FatherNameEng,
			MotherNameEng,
			DateofBirth,
			UserName,
			GenderId,
			ReligionId,
			BloodGroup,
			IsFreedomFighter,
			IsTribal,
			IsPhysicallyDefect,
			FatherQualificationId,
			FatherProfessionId,
			MotherQualificationId,
			MotherProfessionId
			) 
			values
			(
			@NameEng,
			@FatherNameEng,
			@MotherNameEng,
			@DateofBirth,			
			@UserName,
			@GenderId,
			@ReligionId,
			@BloodGroup,
			@IsFreedomFighter,
			@IsTribal,
			@IsPhysicallyDefect,
			@FatherQualificationId,
			@FatherProfessionId,
			@MotherQualificationId,
			@MotherProfessionId
			)		
			Select Max(ID) ID from dbo.st_Person
END



GO
