USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MessageLogInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 03-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[USP_MessageLogInsert] (

@SendDate DATETIME=NULL,
@MobileNumber NVARCHAR(50)=NULL,
@MessageBody  NVARCHAR(MAX)=NULL,
@Status BIT=NULL,
@Sender NVARCHAR(50)=NULL,
@MessageType NVARCHAR(50)=NULL

)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO dbo.MessageLog
	        ( SendDate ,
	          MobileNumber ,
	          MessageBody ,
	          Status ,
	          Sender,
	          MessageType
	        )
	VALUES  ( 
	          @SendDate ,
	          @MobileNumber ,
	          @MessageBody ,
	          @Status ,
	          @Sender,
	          @MessageType
	        )
	        select SCOPE_IDENTITY()
END


GO
