USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_StudentSiblingsInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_StudentSiblingsInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [varchar](50) NULL,
	[InstituteName] [nvarchar](50) NULL,
	[Profession] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentSiblingsInformation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_StudentSiblingsInfo]  WITH CHECK ADD  CONSTRAINT [FK_StudentSiblingsInformation_ss_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[st_StudentSiblingsInfo] CHECK CONSTRAINT [FK_StudentSiblingsInformation_ss_Student]
GO
