USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Book_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Book_Insert] (
@CategoryId int,
@SubCategoryId int,
@CountryId int,
@PublisherId int,
@LanguageId int,
@EditionId int,
@Title nvarchar(250),
@Author nvarchar(250),
@ISBN nvarchar(50),
@VolumeNo nvarchar(50),
@SelfNo nvarchar(10),
@CellNo nvarchar(10),
@IsAvailable bit,
@Stock int,
@SubTitle nvarchar(250),
@KeyWords nvarchar(250),
@Description nvarchar(Max),
@CoverPhoto nvarchar(250),
@PublishedDate Date,
@CreatedBy nvarchar(50),
@CratedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into lb_Book (CategoryId,SubCategoryId,PublisherId,LanguageId,EditionId,CountryId,Title,
	Subtitle,Author,ISBN,VolumeNo,SelfNo,CellNo,Status,Stock,Keywords,Description,CoverPhoto,PublishDate,CreatedBy,CreatedDate)
	values
	(@CategoryId,@SubCategoryId,@PublisherId,@LanguageId,@EditionId,@CountryId,@Title,
	@SubTitle,@Author,@ISBN,@VolumeNo,@SelfNo,@CellNo,@IsAvailable,@Stock,@KeyWords,@Description,@CoverPhoto,
	@PublishedDate,@CreatedBy,@CratedDate)
	
END


GO
