USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentType_GetByIsDefault]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PaymentType_GetByIsDefault] (

@IsMonthly bit,
@IsDefault bit

)
	
AS
BEGIN
	SET NOCOUNT ON;
	Select * from  dbo.fee_PaymentType 
	where IsMonthly=@IsMonthly and IsDefault=@IsDefault
END
GO
