USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertStudentToClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_InsertStudentToClass]
@StudentID int,
@MediumId int,
@RollNO int,
@Year nvarchar(50),
@ClassId int,
@CampusId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@IsPromoted bit,
@CreatedBy nvarchar(50)
as
INSERT Into er_StudentToClass
	(
	  StudentId,MediumId,Year,ClassId,CampusId,GroupId,ShiftId,SectionId,RollNo,CreatedBy,IsPromoted
	 )
	values(
	@StudentID  ,@MediumId,@Year ,@ClassId ,@CampusId, @GroupId ,@ShiftId ,@SectionId,@RollNO ,@CreatedBy,@IsPromoted
	)
	select SCOPE_IDENTITY()
GO
