USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_StudentGetForMarksDetails]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Report_StudentGetForMarksDetails] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select * 
from rs_ObtainMarks 
inner join er_StudentToClass on rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id
INNER JOIN bs_SubjectName ON rs_ObtainMarks.SubjectId=bs_SubjectName.Id
left join  bs_ClassName  on bs_ClassName.Id = er_StudentToClass.ClassId
left join  bs_Group  on bs_Group.Id = er_StudentToClass.GroupId
left join  bs_Section  on bs_Section.Id = er_StudentToClass.SectionId
left join  bs_Shift  on bs_Shift.Id = er_StudentToClass.ShiftId
left join  bs_Medium  on bs_Medium.Id = er_StudentToClass.MediumId
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id 
left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId  where ' +@Criteria
	EXECUTE sp_executesql @sql
END
GO
