USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Subject_SubjectToStudentInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Subject_SubjectToStudentInsert] (
@CreatedBy nvarchar(50),
@XML nvarchar(max)

)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into er_SubjectToStudent
	(
	  StudentToClassId,SubjectId,IsOptional,CreatedBy,CreatedDate
	)
	SELECT StuId,SubId,Optional,@CreatedBy,Getdate()
	FROM OPENXML(@pointerDoc, 'dsSubject/dtSubject',2)
	WITH (
	    StuId int,
		SubId int,
		Optional bit
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
