USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SMSTemplete_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 30-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SMSTemplete_Insert] (
	@Name nvarchar(250),
	@Variable nvarchar(500),
	@Message	nvarchar(max),
	@IsDefault bit
)
AS
BEGIN
if exists(select * from SMSTemplete where Name=@Name)
	select -1
else
Begin
	
	INSERT INTO SMSTemplete
	(
		Name,
		Variable,
		Message,
		IsDefault
	)
	VALUES
	(
		@Name,@Variable,@Message,@IsDefault
	)
	select SCOPE_IDENTITY()
end
END


GO
