USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SubjectToClass_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-07-2017
-- =============================================
create PROCEDURE [dbo].[USP_SubjectToClass_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from er_SubjectToClass where Id=@Id
END


GO
