USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MainHeadCode_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MainHeadCode_Update] (
@Id INT,
@MainCodeId BIGINT,
@CodeName NVARCHAR(50),
@Description NVARCHAR(500),
@AId BIGINT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_MainHeadCode set
	MainCodeId=@MainCodeId,
	CodeName=@CodeName,
	Description=@Description,
	AId=@AId
	
	where Id=@Id
  
END


GO
