USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_UpdateDueByStudentId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payment_UpdateDueByStudentId] (
@StudentId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update ss_Payment set DueAmount=0 where StudentId=@StudentId
END


GO
