USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SubCategory_GetSubCategoryByCategoryId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_SubCategory_GetSubCategoryByCategoryId] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select lb_SubCategory.*,lb_Category.Category 
	from lb_SubCategory 
	inner join lb_Category on lb_SubCategory.CategoryId=lb_Category.Id
	where lb_SubCategory.CategoryId=@Id
END


GO
