USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Role_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Role_Insert] (
@RoleId uniqueidentifier,
@RoleName nvarchar(256),
@CreatedBy nvarchar(256),
@CreateDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from sa_Role where RoleName=@RoleName)
		begin
			select -1
		end
	else
		begin
			insert into sa_Role(RoleId,RoleName,CreatedBy,CreateDate) values 
			(@RoleId,@RoleName,@CreatedBy,@CreateDate)
			select 1;
		end

	
  
END


GO
