USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBalanceByJrTranId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetBalanceByJrTranId] (
@JrTranId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select Balance from tbl_Account 
	WHERE AccountCodeId IN(SELECT AccountCodeId FROM dbo.tbl_Journal WHERE JrTranId=@JrTranId)
END


GO
