USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_ClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_ClassRoutine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[MediumId] [int] NULL,
	[CampusId] [int] NULL,
	[ClassId] [int] NULL,
	[GroupId] [int] NULL,
	[ShiftId] [int] NULL,
	[SectionId] [int] NULL,
	[Period] [int] NULL,
	[SubjectId] [int] NULL,
	[StartTime] [nvarchar](50) NULL,
	[EndTime] [nvarchar](50) NULL,
	[Day] [nvarchar](50) NULL,
	[TeacherId] [int] NULL,
 CONSTRAINT [PK_bs_ClassRoutine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
