USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PageContentBangla]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PageContentBangla]
(
@PageContentID int
)	
AS
BEGIN
	SET NOCOUNT ON;
	select PageContentID,PageName,
	PageContentBangla as PageContentAll from PageContent 
	where PageContentID=@PageContentID
END

GO
