USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notes_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-09-2017
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[USP_Notes_Update] (
@Id int,
@SubjectToClassId int,
@TitleInBangla nvarchar (250),
@Title nvarchar(250),
@ShortDescriptionInBangla nvarchar (250),
@ShortDescription nvarchar(250),
@DetailsInBangla nvarchar(max),
@Details nvarchar(max),
@Date datetime,
@UpdatedBy nvarchar(50),
@UpdatedDate DateTime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_Notes set
	SubjectToClassId=@SubjectToClassId,
	TitleInBangla=@TitleInBangla,	
	Title=@Title,
	ShortDescriptionInBangla=@ShortDescriptionInBangla,
	ShortDescription=@ShortDescription,
	DetailsInBangla=@DetailsInBangla,
	Details=@Details,
	Date=@Date,	
	UpdatedBy=@UpdatedBy,
	UpdatedDate=@UpdatedDate
	where Id=@Id
END

GO
