USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_HomeMenuInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_HomeMenuInsert]
@TextBan nvarchar(256),
@TextEng nvarchar(256),
@URL varchar(50),
@ParentId int,
@PageContentID int,
@CreatedBy varchar(50),
@CreatedDate date,
@Order int
as
Insert into HomeMenu (TextBan ,TextEng ,URL ,ParentId ,CreatedBy ,CreatedDate ,[Order],PageContentID)
Values(@TextBan ,@TextEng ,@URL ,@ParentId ,@CreatedBy ,@CreatedDate ,@Order,@PageContentID)
select Max(MenuID) from HomeMenu

GO
