USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountBalance_UpdateForDrAmount]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 12-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AccountBalance_UpdateForDrAmount] (
@JrTranId int,
@openamt FLOAT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update dbo.tbl_Account SET
	Balance=(@openamt - (select CASE WHEN DrAmount ='' THEN 0 ELSE DrAmount  END from tbl_Journal where JrTranId=@JrTranId))
	where AccountCodeId in (select AccountCodeId from tbl_Journal where JrTranId=@JrTranId)
  
END


GO
