USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_ParmanentAddress]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_ParmanentAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DivisionId] [int] NULL,
	[DistrictId] [int] NULL,
	[ThanaId] [int] NULL,
	[PostOffice] [nvarchar](250) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[PersonId] [int] NULL,
 CONSTRAINT [PK_st_ParmanentAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_ParmanentAddress]  WITH CHECK ADD  CONSTRAINT [FK_st_ParmanentAddress_st_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[st_Person] ([Id])
GO
ALTER TABLE [dbo].[st_ParmanentAddress] CHECK CONSTRAINT [FK_st_ParmanentAddress_st_Person]
GO
