USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPaymentIndividual]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payment_GetPaymentIndividual] (
@EmployeeId int,
@YearId int,
@GradeId int,
@LevelId int,
@CampusId int,
@MonthId nvarchar(50),
@PayrollTypeId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	  if EXISTS ( SELECT * FROM tbl_EmployeeSalary WHERE PayrollTypeId=@PayrollTypeId and MonthId=@MonthId and YearId=@YearId and CampusId=@CampusId and EmployeeId = @EmployeeId)
                   
             BEGIN 
             Select tbl_EmployeeSalary.*,tbl_PayrollType.PayrollType FROM tbl_EmployeeSalary 
             inner join tbl_PayrollType on tbl_EmployeeSalary.PayrollTypeId=tbl_PayrollType.Id
             WHERE PayrollTypeId=@PayrollTypeId and MonthId=@MonthId and EmployeeId = @EmployeeId and YearId=@YearId 
	         END
	         
	         ELSE
	         
	         BEGIN
	         SELECT '0' as EmployeeId, tbl_PayrollSetup.*,tbl_PayrollType.PayrollType FROM tbl_PayrollSetup
	         inner join tbl_PayrollType ON tbl_PayrollSetup.PayrollTypeId=tbl_PayrollType.Id
	         WHERE YearId=@YearId and CampusId=@CampusId and GradeId=@GradeId and LevelId=@LevelId and PayrollTypeId=@PayrollTypeId
	         END
END
GO
