USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentUpdateToPromotion]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[USP_StudentUpdateToPromotion] (
@Year NVARCHAR(50)=NULL,
@MediumId int,
@CampusId INT=NULL,
@ClassId INT=NULL,
@GroupId INT=NULL,
@ShiftId INT=NULL,
@SectionId INT=NULL,
@studentId INT=NULL,
@UpdatedBy NVARCHAR(50)=NULL
)
	
AS
	
BEGIN	
	Update er_StudentToClass set	
	Year=@Year,
	MediumId=@MediumId,
	CampusId=@CampusId,
	ClassId=@ClassId,
	GroupId=@GroupId,
	ShiftId=@ShiftId,
	SectionId=@SectionId,
	RollNo=0,
	UpdatedBy=@UpdatedBy,
	UpdatedDate=GetDate()
	where Id=@studentId
END
GO
