USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[view_TabulationSheet]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[view_TabulationSheet] 
AS
Select * from (
Select 
rs_ObtainMarks.StudentToClassId,
st_Person.NameEng,
bs_SubjectName.SubjectName,
er_StudentToClass.RollNo,
rs_ObtainMarks.YearId,
er_StudentToClass.MediumId,
er_StudentToClass.CampusId,
er_StudentToClass.ClassId,
er_StudentToClass.GroupId,
er_StudentToClass.ShiftId,
er_StudentToClass.SectionId,
rs_ObtainMarks.ExamTypeId,
bs_ExamType.ExamType,
rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks+rs_ObtainMarks.OtherMarks as ConvertedMarks,
ss_Student.RegNo
from rs_ObtainMarks
join er_StudentToClass on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id
join bs_SubjectName on rs_ObtainMarks.SubjectId=bs_SubjectName.Id
join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
join bs_ExamType on rs_ObtainMarks.ExamTypeId=bs_ExamType.Id
join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
join st_Person on ss_Student.PersonId=st_Person.Id
)tbl2
pivot (max( ConvertedMarks )
          FOR [SubjectName] IN (Bangla1st,Bangla2nd,English1st,English2nd,Maths)) AS PVTTable 





GO
