USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_All]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Get_All] (
@Table nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	set @sql='Select * from '+@Table
	EXECUTE sp_executesql @sql
END


GO
