USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetByIdWithFour]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetByIdWithFour] (
@Table nvarchar(250),
@Column1 nvarchar(250),
@Condition1 nvarchar(50),
@Column2 nvarchar(250),
@Condition2 nvarchar(50),
@Column3 nvarchar(250),
@Condition3 nvarchar(50),
@Column4 nvarchar(250),
@Condition4 nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	set @sql='Select * from '+@Table+' where '+@Column1+'='+@Condition1+ ' And '+@Column2+'='+@Condition2+' And '+@Column3+'='+@Condition3+' And '+@Column4+'='+@Condition4
	EXECUTE sp_executesql @sql
END


GO
