USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPreviousPaymentByStudentId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payment_GetPreviousPaymentByStudentId] (
@StudentId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select SUM(DueAmount) as Due from ss_Payment where StudentId=@StudentId
	group by StudentId
END


GO
