USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Class_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 04-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Class_Insert] (
@Class nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_ClassName where ClassName=@Class)
		begin
			select -1
		end
	else
		begin
			insert into bs_ClassName(ClassName) values (@Class)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
