USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_ProfitAndLoss]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[USP_Report_ProfitAndLoss] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='SELECT CASE WHEN MainCodeId = 4000 THEN MainCodeId ELSE NULL END AS ExpMainCodeId, 
CASE WHEN MainCodeId = 4000 THEN HeadCodeId ELSE NULL END AS ExpHeadCodeId, 
CASE WHEN MainCodeId = 4000 THEN HeadName ELSE NULL END AS ExpHeadName, 
CASE WHEN MainCodeId = 4000 THEN sum(DrAmount)  ELSE NULL END AS ExpAmount, 
CASE WHEN MainCodeId = 5000 THEN MainCodeId ELSE NULL END AS IMainCodeId, 
CASE WHEN MainCodeId = 5000 THEN HeadCodeId ELSE NULL END AS IHeadCodeId, 
CASE WHEN MainCodeId = 5000 THEN HeadName ELSE NULL END AS IHeadName, 
CASE WHEN MainCodeId = 5000 THEN sum(CrAmount)  ELSE NULL END AS IAmount , s.Name, s.Address
FROM vwProfitAndLoss pl , bs_SchoolInformation s
WHERE((MainCodeId = 4000) OR (MainCodeId = 5000)) And '+ @Criteria +'
                    
 group by  MainCodeId,HeadCodeId,HeadName , s.Name, s.Address' 
	EXECUTE sp_executesql @sql
END

GO
