USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[View_StudentAttendenceSummaryDetails]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_StudentAttendenceSummaryDetails]
AS

		SELECT st_Person.NameEng,ss_Attendence.Date,ss_Attendence.CreatedBy,ss_Attendence.IsPresent,ss_Attendence.CreatedDate AS CreatedTime,ss_Attendence.AttendenceType, 
	   ss_Student.Id AS StudentId,ss_Student.RegNo,er_StudentToClass.Id AS StudentToClassId,er_StudentToClass.RollNo,
	   (SELECT ClassName FROM bs_ClassName WHERE bs_ClassName.Id=er_StudentToClass.ClassId) AS Class,
	   (SELECT GroupName FROM bs_Group WHERE bs_Group.Id=er_StudentToClass.GroupId) AS GroupName,
	   (SELECT Shift FROM bs_Shift WHERE bs_Shift.Id=er_StudentToClass.ShiftId) AS Shift,
	   (SELECT Section FROM bs_Section WHERE bs_Section.Id=er_StudentToClass.SectionId) AS Section,
	   er_StudentToClass.Year AS AttendenceYear
	   
        FROM ss_Student  
		INNER JOIN er_StudentToClass ON ss_Student.Id=er_StudentToClass.StudentId
		INNER JOIN st_Person ON ss_Student.PersonId=st_Person.Id
		INNER JOIN ss_Attendence ON er_StudentToClass.Id=ss_Attendence.StudentToClassId	
		
	



GO
