USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetGradeByDesignation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetGradeByDesignation](
@DesignationId INT
)
AS BEGIN
		SELECT * FROM tbl_LevelToGrade
		INNER JOIN tbl_Grade on tbl_LevelToGrade.GradeId=tbl_Grade.Id
		WHERE DesignationId = @DesignationId
		END
GO
