USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Ledger_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Ledger_GetByCriteria] (
@Criteria nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select CONVERT(VARCHAR(24),dbo.tbl_Lgledger.TDate,107) as TDate, tbl_Lgledger.*, tbl_Account.AccountName, tbl_Sub_AccounHead.SubHeadName from tbl_Lgledger 
	   inner join tbl_Account on tbl_Lgledger.AccountCodeId = tbl_Account.AccountCodeId 
	   inner join tbl_Sub_AccounHead on tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId
	   where '+@Criteria 
		EXECUTE sp_executesql @sql
	end
	else
	begin
	set @sql='select CONVERT(VARCHAR(24),dbo.tbl_Lgledger.TDate,107) as TDate, tbl_Lgledger.*, tbl_Account.AccountName, tbl_Sub_AccounHead.SubHeadName from tbl_Lgledger 
	   inner join tbl_Account on tbl_Lgledger.AccountCodeId = tbl_Account.AccountCodeId 
	   inner join tbl_Sub_AccounHead on tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId'
		EXECUTE sp_executesql @sql
	end
END


GO
