USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Class_Get]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Shojib
-- Create date: 08-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_Class_Get] (
@ClassId int,
@Year int,
@Month int

)
	
AS
BEGIN
	SET NOCOUNT ON;
	 select *,
	(select SUM(Amount) from fee_PaymentForClass where ClassId=@ClassId and YearId=@Year and Month=@Month) as Total
	 from fee_PaymentForClass 
	inner join fee_PaymentType on fee_PaymentForClass.PaymentTypeId=fee_PaymentType.Id 
	inner join bs_Month on fee_PaymentForClass.Month=bs_Month.Id
	inner join bs_Year on fee_PaymentForClass.YearId=bs_Year.Id
	where ClassId=@ClassId and YearId=@Year and fee_PaymentForClass.Month=@Month
END

GO
