USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SMSTemplete_GetMarksSMSById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 20-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SMSTemplete_GetMarksSMSById] (
	@Id int
)
AS
BEGIN
	select * from SMSTemplete	
	WHERE Id=@Id AND Variable='Marks'
	
END


GO
