USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DailyOrWeeklyMarks_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_DailyOrWeeklyMarks_Update] (
@Id int,
@DailyOrWeeklyMarks nvarchar(200),
@Isdefault bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_DailyOrWeeklyMarks set
	DailyOrWeeklyMarks=@DailyOrWeeklyMarks,
	IsDefault=@Isdefault
	where Id=@Id
  
END


GO
