USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentForStudentUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PaymentForStudentUpdate]
@id int,
@Month int,
@Amount numeric,
@StartMonth int,
@EndMonth int,
@Remarks nvarchar(250),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
as

Update fee_PaymentForStudent Set

 Month=@Month,
 Amount=@Amount,
 StartMonth=@StartMonth,
 EndMonth=@EndMonth,
 Remarks=@Remarks,
 UpdatedBy=@UpdatedBy,
 UpdatedDate=@UpdatedDate 
 where Id=@id
GO
