USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Marks_InserXml]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 10-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Marks_InserXml] (
@XML nvarchar(max),
@Year int,
@BaseMarks decimal(5,2),
@ExamType int,
@CreatedBy nvarchar(50),
@IsPublishMarks bit,
@IsFinishMarks bit
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into rs_ObtainMarks
	(
	  StudentToClassId,SubjectId,AttendanceMarks,MonthlyMarks,SubjectiveMarks,ObjectiveMarks,PracticalMarks,OtherMarks,CreatedBy,YearId,ExamTypeId,BaseMarks,IsPublishMarks,IsFinishMarks
	)
	SELECT StId,SubId,Attendance,Monthly,Theory,Objective,Pracrical,SBS,@CreatedBy,@Year,@ExamType,@BaseMarks,@IsPublishMarks,@IsFinishMarks
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
		StId int,
		SubId int,
		Attendance decimal(18,2),
		Monthly decimal (18,2),
		Theory decimal(18,2),
		Objective decimal(18,2),
		Pracrical decimal(18,2),
		SBS decimal(18,2)
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
