USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tbl_PayrollSetup]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PayrollSetup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearId] [int] NULL,
	[CampusId] [int] NULL,
	[DesignationId] [int] NULL,
	[PayrollTypeId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[StartMonth] [int] NULL,
	[EndMonth] [int] NULL,
	[GradeId] [int] NULL,
	[LevelId] [int] NULL,
 CONSTRAINT [PK_tbl_PayrollSetup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
