USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_DeductionGetByTypeId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payroll_DeductionGetByTypeId] (
@Id int
)
AS
BEGIN
	SET NOCOUNT ON;
	select * from pr_DeductionToType
	where TypeId=@Id
END


GO
