USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetPaymentSetupByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetPaymentSetupByCriteria] (
@Criteria nvarchar(max)
)

	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='
	Select * from tbl_PayrollSetup	
	inner join tbl_PayrollType on tbl_PayrollSetup.PayrollTypeId=tbl_PayrollType.Id
    where ' +@Criteria
	+'order by PayrollTypeId'
	EXECUTE sp_executesql @sql
END
GO
