USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Role_DeleteByRoleName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
cREATE PROCEDURE [dbo].[USP_Role_DeleteByRoleName] (
@RoleName nvarchar(256)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	delete from aspnet_Roles where RoleName=@RoleName
END
GO
