USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_PresentAddressInsert_Queen]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 08-05-2017
-- =============================================
create PROCEDURE [dbo].[USP_Person_PresentAddressInsert_Queen] (
@PersonId int,
@Address nvarchar(256)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	insert into st_PresentAddress(
	PersonId,Address) values(@PersonId,@Address)
	
END



GO
