USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPaymentHistoryByClassId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payment_GetPaymentHistoryByClassId] (
@StudentToClassId int,
@ClassId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select bs_Year.Year,CONVERT(VARCHAR(10),dbo.ss_Payment.Date,103 ) as Date,ClassName, * 
	from ss_Payment 
	inner join fee_PaymentType on ss_Payment.PaymentTypeId=fee_PaymentType.Id
	inner join bs_Year on ss_Payment.Year=bs_Year.Id
	inner join er_StudentToClass on ss_Payment.StudentToClassId=er_StudentToClass.Id
	inner join bs_ClassName on ss_Payment.ClassId=bs_ClassName.Id
	
where StudentToClassId=@StudentToClassId and ss_Payment.ClassId=@ClassId
END
GO
