USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Role_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 30-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Role_Update] (
@RoleId uniqueidentifier,
@RoleName nvarchar(256),
@UpdatedBy nvarchar(256),
@UpdateDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update sa_Role set
	RoleName=@RoleName,
	UpdatedBy=@UpdatedBy,
	UpdateDate=@UpdateDate
	where RoleId=@RoleId
END


GO
