USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_ForAllClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 27-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Notice_ForAllClass] (
@Year int,
@MediumId int,
@CampusId int,
@ClassId int,
@NoticeId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
		begin
			insert into nt_NoticeForClass(Year,MediumId,CampusId,ClassId,NoticeId) values(@Year,@MediumId,@CampusId,@ClassId,@NoticeId)
		end
END


GO
