USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentForClassUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[USP_PaymentForClassUpdate]
@id int,
@YearID int,
@Month int,
@Amount numeric,
@UpdatedBy nvarchar(50),
@UpdatedDate date
as

Update fee_PaymentForClass Set
 YearID=@YearID,
 Month=@Month,
 Amount=@Amount,
 UpdatedBy=@UpdatedBy,
 UpdatedDate=@UpdatedDate where Id=@id


GO
