USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_GetByID]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 20-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_GetByID] (
@PersonID int
)
	
AS
BEGIN
	Select * from dbo.st_Person where Id= @PersonID
END


GO
