USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_InserDeductionToType]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_InserDeductionToType] (
@Xml nvarchar(MAX),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into pr_DeductionToType
	(
	  TypeId,DeductionId,DeductionPercent,CreatedBy,CreatedDate
	)
	SELECT TId,DId,Amount,@CreatedBy,@CreatedDate
	FROM OPENXML(@pointerDoc, 'dsDeduction/dtDeduction',2)
	WITH (
		TId int,
		DId int,
		Amount int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
