USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Income_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Income_Update] (
@Id int,
@Date datetime,
@Amount decimal(10,2),
@CategoryId int,
@Attachment nvarchar(250),
@Note nvarchar(MAX),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
Update dbo.acc_Income set 
IncomeCategoryId=@CategoryId,
Date=@Date,
Amount=@Amount,
Details=@Note,
Attachment=@Attachment,
UpdatedBy=@UpdatedBy,
UpdatedDate=@UpdatedDate
where Id=@Id
	
END


GO
