USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tblAboutUs]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAboutUs](
	[AboutUsID] [int] IDENTITY(1,1) NOT NULL,
	[AboutUsEnglish] [nvarchar](max) NULL,
	[AboutUsbangla] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[TextType] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblAboutUs] PRIMARY KEY CLUSTERED 
(
	[AboutUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
