USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tblGalleryImage]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGalleryImage](
	[GalleryImageID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageData] [nvarchar](50) NULL,
	[ImageDescription] [nvarchar](max) NULL,
	[ImageName] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ImageSize] [nvarchar](max) NULL,
	[ImageTitle] [nvarchar](500) NULL,
	[ImageUsedDriv] [nvarchar](50) NULL,
	[ImageIsActive] [bit] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblGalleryImage] PRIMARY KEY CLUSTERED 
(
	[GalleryImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGalleryImage] ADD  CONSTRAINT [DF_tblGalleryImage_ImageIsActive]  DEFAULT ((0)) FOR [ImageIsActive]
GO
