USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_Insert] (
@PersonId int,
@DesignationId int,
@TeacherPin nvarchar(50),
@NId nvarchar(50),
@JoinDate datetime,
@CreatedBy nvarchar(50),
@CreatedDate datetime,
@XmlEdu nvarchar(MAX),
@XmlTraining nvarchar(MAX)
) 
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @TeacherId int
	declare @pointerDocEdu int
	declare @pointerDocTrain int

	IF EXISTS (select * from tr_Teacher where TeacherPin=@TeacherPin)
		begin
		    delete  from st_Person where Id=@PersonId
			select -1
		end
	else
		begin
			insert into tr_Teacher(PersonId,DesignationId,TeacherPin,NId,Joindate,CreatedBy,CreatedDate) values (
			@PersonId,@DesignationId,@TeacherPin,@NId,@JoinDate,@CreatedBy,@CreatedDate)
			set @TeacherId=SCOPE_IDENTITY()

			------insert education----------------
			EXEC sp_xml_preparedocument @pointerDocEdu OUTPUT, @XmlEdu
	
			INSERT Into tr_Education
			(
			  TeacherId,
			  DegreeName,
			  Subject,
			  Board,
			  PassingYear,Grade,GPAScale, ResultDivision
			)
			SELECT @TeacherId,Degree,Sub,Brd,Year,Grade,scale,DivId
			FROM OPENXML(@pointerDocEdu, 'dsEducation/dtEducation',2)
			WITH (
				Degree nvarchar(256),
				Sub nvarchar(50),
				Brd nvarchar(256),
				Year nvarchar(50),
				Grade nvarchar(50),
				scale nvarchar(50),
				DivId nvarchar(50)
			) XMLReceiveDetailsTable
			EXEC sp_xml_removedocument @pointerDocEdu

			--------------------------------------------------------------------------------------------------------------
			-------------Training Insert-----------------

			EXEC sp_xml_preparedocument @pointerDocTrain OUTPUT, @XmlTraining
	
			INSERT Into tr_Training
			(
			  TeacherId,TrainingName,InstituteName,StartDate,EndDate,Topics,Duration
			)
			SELECT @TeacherId,Name,Ins,StD,EndD,Topic,Du
			FROM OPENXML(@pointerDocTrain, 'dsTraining/dtTraining',2)
			WITH (
				Name nvarchar(256),
				Ins nvarchar(50),
				StD datetime,
				EndD datetime,
				Topic nvarchar(50),
				Du nvarchar(50)
			) XMLReceiveDetailsTable
			EXEC sp_xml_removedocument @pointerDocTrain

			select @TeacherId
		end
END


GO
