USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_IncomeCategory_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_IncomeCategory_Update] (
@Id int,
@Category nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update acc_IncomeCategory set
	IncomeCategory=@Category
	where Id=@Id
  
END


GO
