USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TecherId_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TecherId_GetByPersonId]

	(@PersonId int
	)
AS
BEGIN
	SET NOCOUNT ON;
	select Id from tr_Teacher where PersonId=@PersonId
END


GO
