USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[ss_Payment]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ss_Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentToClassId] [int] NULL,
	[StudentId] [int] NULL,
	[Year] [nvarchar](50) NULL,
	[Month] [nvarchar](50) NULL,
	[MonthYear] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[DueAmount] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[TotalGiven] [decimal](18, 2) NULL,
	[BillNo] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[PaymentTypeId] [int] NULL,
	[ClassId] [int] NULL,
	[Remarks] [nvarchar](250) NULL,
 CONSTRAINT [PK_ss_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ss_Payment]  WITH CHECK ADD  CONSTRAINT [FK_ss_Payment_ss_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[ss_Payment] CHECK CONSTRAINT [FK_ss_Payment_ss_Student]
GO
