USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountHead_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AccountHead_Insert] (
@HeadCodeId BIGINT,
@HeadName NVARCHAR(50),
@AId BIGINT,
@Description NVARCHAR(500),
@MainCodeId BIGINT,
@UpdateOn DATETIME,
@Balance FLOAT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_AccountHead where HeadCodeId=@HeadCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_AccountHead
			(
			HeadCodeId,
			HeadName,
			AId,
			Description,
			MainCodeId,
			UpdateOn,
			Balance
			) 
			VALUES 
			(
			@HeadCodeId,
			@HeadName,
			@AId,
			@Description,
			@MainCodeId,
			@UpdateOn,
			@Balance
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
