USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Insertfee]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE proc [dbo].[USP_Payment_Insertfee]
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@Amount decimal(18,2),
@PaymentTypeId int,
@StartMonth int,
@EndMonth int,
@CreatedBy nvarchar(50),
@CreatedDate date

as

Insert into fee_PaymentSetup (YearId,MediumId,CampusId,ClassId,GroupId,ShiftId,SectionId,PaymentTypeId,StartMonth,EndMonth,Amount,CreatedBy,CreatedDate)
values (@YearId,@MediumId,@CampusId,@ClassId,@GroupId,@ShiftId,@SectionId,@PaymentTypeId,@StartMonth,@EndMonth,@Amount,@CreatedBy,@CreatedDate)

GO
