USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 12-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_Insert] (
@NameEng nvarchar(250),
@NameBan nvarchar(250),
@FatherNameEng nvarchar(250),
@FatherNameBan nvarchar(250),
@MotherNameEng nvarchar(250),
@MotherNameBan nvarchar(250),
@GenderId int,
@ReligionId int,	
@Nationality nvarchar(250),
@DateofBirth datetime,
@BirthCertificate nvarchar(250),
@PhoneNo nvarchar(250),
@Mobile nvarchar(250),
@PhoneHome nvarchar(250),
@MobileHome nvarchar(250),
@Email nvarchar(250),
@Fax nvarchar(250),
@BloodGroup nvarchar(250),
@FatherNId nvarchar(250),
@MotherNId nvarchar(250),
@IsFreedomFighter bit,
@IsTribal bit,
@IsPhysicallyDefect bit,
@FatherIncome int,
@MotherIncome int,
@FatherPhone nvarchar(50),
@MotherPhone nvarchar(250),
@FatherImage nvarchar(250),
@MotherImage nvarchar(250),
@FatherQualificationId int,
@FatherProfessionId int,
@MotherQualificationId int,
@MotherProfessionId int,
@PersonImage nvarchar(250),
@UserName nvarchar(50),
@NameLocalGuardian1 nvarchar(50),
@NameLocalGuardian2 nvarchar(50),
@LocalGuardian1Mobile nvarchar(20),
@LocalGuardian2Mobile nvarchar(20)
)
	
AS
BEGIN	

	IF EXISTS (select * from st_Person where UserName=@UserName)
		begin
			select -1
		end
	else
			insert into st_Person(
			NameEng,
			NameBan,
			FatherNameEng,
			FatherNameBan,
			MotherNameEng,
			MotherNameBan,
			GenderId,
			ReligionId,	
			Nationality,
			DateofBirth,
			BirthCertificate,
			PhoneNo,
			Mobile,
			PhoneHome,
			MobileHome,
			Email,
			Fax,
			BloodGroup,
			FatherNId,
			MotherNId,
			IsFreedomFighter,
			IsTribal,
			IsPhysicallyDefect,
			FatherIncome ,
			MotherIncome ,
			FatherPhone ,
			MotherPhone ,
			FatherImage ,
			MotherImage ,
			FatherQualificationId ,
			FatherProfessionId ,
			MotherQualificationId ,
			MotherProfessionId ,
			PersonImage ,
			UserName,
			NameLocalGuardian1,
			NameLocalGuardian2,
			LocalGuardian1Mobile,
			LocalGuardian2Mobile
			) 
			values
			(
			@NameEng,
			@NameBan,
			@FatherNameEng,
			@FatherNameBan,
			@MotherNameEng,
			@MotherNameBan,
			@GenderId,
			@ReligionId,	
			@Nationality,
			@DateofBirth,
			@BirthCertificate,
			@PhoneNo,
			@Mobile,
			@PhoneHome,
			@MobileHome,
			@Email,
			@Fax,
			@BloodGroup,
			@FatherNId,
			@MotherNId,
			@IsFreedomFighter,
			@IsTribal,
			@IsPhysicallyDefect,
			@FatherIncome ,
			@MotherIncome ,
			@FatherPhone ,
			@MotherPhone ,
			@FatherImage ,
			@MotherImage ,
			@FatherQualificationId ,
			@FatherProfessionId ,
			@MotherQualificationId ,
			@MotherProfessionId ,
			@PersonImage ,
			@UserName,
			@NameLocalGuardian1,
			@NameLocalGuardian2,
			@LocalGuardian1Mobile,
			@LocalGuardian2Mobile
			)		
			Select Max(ID) ID from dbo.st_Person
END
GO
