USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[ss_Attendence]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ss_Attendence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentToClassId] [int] NULL,
	[Date] [datetime] NULL,
	[IsPresent] [bit] NULL,
	[Month] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[AttendenceType] [tinyint] NULL,
 CONSTRAINT [PK_ss_Attendence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ss_Attendence]  WITH CHECK ADD  CONSTRAINT [FK_ss_Attendence_er_StudentToClass] FOREIGN KEY([StudentToClassId])
REFERENCES [dbo].[er_StudentToClass] ([Id])
GO
ALTER TABLE [dbo].[ss_Attendence] CHECK CONSTRAINT [FK_ss_Attendence_er_StudentToClass]
GO
