USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_EmployeePaidSalaryMonthly]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Get_EmployeePaidSalaryMonthly](
@EmployeeId INT,
@YearId INT,
@MonthId INT
)
AS BEGIN
		SELECT * FROM tbl_EmployeeAccount
		INNER JOIN bs_Month on tbl_EmployeeAccount.MonthId=bs_Month.Id
		INNER JOIN bs_Year on tbl_EmployeeAccount.YearId=bs_Year.Id
		WHERE EmployeeId=@EmployeeId AND YearId=@YearId AND MonthId=@MonthId
END
GO
