USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_Student_GetByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shojib
-- Create date: 08-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_Student_GetByCriteria] (
@StudentId int,
@Criteria nvarchar(max)

)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select *,
	(select SUM(Amount) from fee_PaymentForStudent where StudentId='+cast(@StudentId as nvarchar(10))+' and ' + @Criteria+') as Total
	 from fee_PaymentForStudent 
	inner join fee_PaymentType on fee_PaymentForStudent.PaymentTypeId=fee_PaymentType.Id 
	where StudentId='+cast(@StudentId as nvarchar(10))+' and ' + @Criteria
		EXECUTE sp_executesql @sql
	end
END


GO
