USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_RegistrationNo_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_RegistrationNo_Update] 
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_RegistrationNo
	set RegNo=RegNo+1
END


GO
