USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Delete]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Delete] (
@Table nvarchar(250),
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max);
	declare @_Id nvarchar(max);
	set @_Id= Cast(@Id as nvarchar(50))

	--delete from bs_Year where Id=4

	set @sql='delete from '+@Table+' where Id ='+ @_Id
	EXEC ( @sql )
END


GO
