USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_GetBySubjectId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_FailSystem_GetBySubjectId] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select rs_FailSystem.*
	from rs_FailSystem 
	where rs_FailSystem.SubjectToClassId=@Id
  
END


GO
