USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_Update] (
@Id int,
@NameEng nvarchar(250),
@NameBan nvarchar(250),
@Gender int,
@ReligionId int,	
@Nationality nvarchar(250),
@DateofBirth datetime,
@BirthCertificate nvarchar(50),
@PhoneNo nvarchar(250),
@Mobile nvarchar(250),
@PhoneHome nvarchar(250),
@MobileHome nvarchar(250),
@Email nvarchar(250),
@Fax nvarchar(250),
@BloodGroup nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_Person set
	NameEng=@NameEng,
	NameBan=@NameBan,
	GenderId=@Gender,
	ReligionId=@ReligionId,	
	Nationality=@Nationality,
	DateofBirth=@DateofBirth,
	BirthCertificate=@BirthCertificate,
	PhoneNo=@PhoneNo,
	Mobile=@Mobile,
	PhoneHome=@PhoneHome,
	MobileHome=@MobileHome,
	Email=@Email,
	Fax=@Fax,
	BloodGroup=@BloodGroup

	where Id=@Id
	
END
GO
