USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherPIN]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[USP_TeacherPIN] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select Max( CAST(TeacherPin AS INT))+1 from  dbo.tr_Teacher
END


GO
