USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentType_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 02-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_PaymentType_Insert] (
@Type nvarchar(250),
@IsMonthly bit,
@IsDefault bit,
@CreatedBy nvarchar(200),
@CreatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from fee_PaymentType where PaymentType=@Type)
		begin
			select -1
		end
	else
		begin
			insert into fee_PaymentType(PaymentType,IsMonthly,IsDefault,CreatedBy,CreatedDate) values (@Type,@IsMonthly,@IsDefault,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end

	
  
END
GO
