USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insertrs_Promotion]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_Insertrs_Promotion]
@ObtainMarksId int,
@PreviousRoll int,
@IsPromotion bit,
@TotalMarks decimal(5,2),
@NewRoll int

as

Insert into rs_Promotion
(ObtainMarksId,PreviousRoll,IsPromotion,TotalMarks,NewRoll)
Values
(@ObtainMarksId,@PreviousRoll,@IsPromotion,@TotalMarks,@NewRoll)




GO
