USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[view_EmployeeInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_EmployeeInfo] 
AS
select EmployeeId , tr_Teacher.EmployeeId as Employee, st_Person.Id as PersonId , NameEng, Campus, DesignationId,GradeId,LevelId,Gender,BloodGroup,CampusName,DateofBirth,PhoneHome,MobileHome,Mobile	
		from  st_Person
		inner join tr_Teacher on tr_Teacher.PersonId=st_Person.Id
		inner join bs_Gender on st_Person.GenderId=bs_Gender.Id
		inner join bs_CampusName on tr_Teacher.Campus=bs_CampusName.Id
		inner join tbl_Grade on tr_Teacher.GradeId=tbl_Grade.Id
		where tr_Teacher.IsActive=1
GO
