USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UseRollNo_Update]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_UseRollNo_Update] (
@Id int,
@IsRollNoUse bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	if(@Id !=0)	
	update bs_UseRoll set IsUseRollNo=@IsRollNoUse where Id=@Id
	else
	insert bs_UseRoll (IsUseRollNo)values(@IsRollNoUse)
	
  Select Max(ID) ID from dbo.bs_UseRoll
END


GO
