USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertTrainingInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[USP_InsertTrainingInfo]
@TrainingName nvarchar(50),
@InstituteName  nvarchar(50),
@StartDate date,
@EndDate date,
@TeacherID int,
@Topics  nvarchar(50),
@Duration int
as
Insert into dbo.tr_Training (TrainingName,InstituteName, StartDate, EndDate,TeacherID, Topics, Duration)
Values(
@TrainingName,
@InstituteName,
@StartDate,
@EndDate,
@TeacherID,
@Topics,
@Duration
)


GO
