USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPaymentHistoryByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payment_GetPaymentHistoryByCriteria] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select CONVERT(VARCHAR(10),dbo.ss_Payment.Date,103 ) as Date,ss_Student.RegNo,bs_Year.Year,ss_Payment.CreatedBy as ReceivedBy,* 
	from ss_Payment
	inner join bs_Year on ss_Payment.Year=bs_Year.Id 
	inner join fee_PaymentType on ss_Payment.PaymentTypeId=fee_PaymentType.Id
	inner join er_StudentToClass on ss_Payment.StudentToClassId=er_StudentToClass.Id
	inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
	inner join st_Person on st_Person.Id=ss_Student.PersonId
	inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
	inner join bs_CampusName on er_StudentToClass.CampusId =bs_CampusName.Id
	inner join bs_Medium on er_StudentToClass.MediumId = bs_Medium.Id
	
	Where ' + @Criteria+
	' Order by er_StudentToClass.CampusId,er_StudentToClass.MediumId,er_StudentToClass.ClassId,ss_Student.RegNo,ss_Payment.Date,ss_Payment.MonthYear'
		EXECUTE sp_executesql @sql
	end
END
GO
