USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTabulationSheetHeaderInfo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 18-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetTabulationSheetHeaderInfo] (
@Criteria nvarchar(max)
)
	
AS
BEGIN

	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
	   set @sql='
Select
er_StudentToClass.Id,
st_Person.NameEng,
st_Person.FatherNameEng,
st_Person.MotherNameEng,
bs_ClassName.ClassName,
bs_Group.GroupName,
bs_Shift.Shift,
bs_Section.Section,
bs_CampusName.CampusName,
bs_Year.Year,
rs_ObtainMarks.YearId,
rs_ObtainMarks.ExamTypeId,
bs_ExamType.ExamType
from dbo.er_StudentToClass
join dbo.ss_Student on er_StudentToClass.StudentID=ss_Student.Id
join dbo.st_Person on st_Person.Id=ss_Student.PersonID
join dbo.bs_ClassName on bs_ClassName.Id=er_StudentToClass.ClassID
join dbo.bs_Group on bs_Group.Id=er_StudentToClass.GroupID
join dbo.bs_Shift on bs_Shift.Id=er_StudentToClass.ShiftId
join dbo.bs_Section on bs_Section.ID=er_StudentToClass.SectionId
join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
join bs_Year on er_StudentToClass.Year=bs_Year.Id
join rs_ObtainMarks on rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id
join bs_ExamType on bs_ExamType.Id=rs_ObtainMarks.ExamTypeId
Where ' + @Criteria 
		EXECUTE sp_executesql @sql
	end
END



GO
