USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-03-2017
-- =============================================
CREATE proc [dbo].[USP_GetClassRoutine]
@Year nvarchar(max),
@MediumId int,
@CampusId int,
@ClassID int,
@GoupID int,
@ShiftID int,
@SectionID int
as
select * from (Select StartTime +'-'+EndTime + ' ' + bs_SubjectName.SubjectName +'-' + st_Person.NameEng as Routine,  bs_ClassRoutine.Day ,bs_ClassRoutine.Period from bs_ClassRoutine
join dbo.st_Person on st_Person.Id=bs_ClassRoutine.TeacherID
join dbo.bs_SubjectName on bs_SubjectName.Id=bs_ClassRoutine.SubjectId where Year=@Year and MediumId=@MediumId and CampusId=@CampusId and ClassId=@ClassID and GroupId=@GoupID and ShiftId=@ShiftID and SectionId=@SectionID)tbl1 
pivot (max( Routine )
          FOR [Day] IN (Saturday,Sunday,Monday,Tuesday,Wednesday, Thursday,Friday)) AS PVTTable


GO
