USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_News_GetByIdBangla]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_News_GetByIdBangla] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select Id,TitleInBangla as Title ,Date,ShortDescriptionInBangla as ShortDescription,DetailsInBangla as Details from bs_News
	where Id=@Id
END


GO
