USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Role_GetByRoleName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Role_GetByRoleName] (
@RoleName nvarchar(256)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select RoleId from aspnet_Roles where RoleName=@RoleName
END


GO
