USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Journal_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
CREATE PROCEDURE [dbo].[USP_Journal_Update](
@JrTranId INT,
@TDate DATETIME=NULL,
@VNo NVARCHAR(25)=NULL,
@MrNo  NVARCHAR(200)=NULL,
@Purpose NVARCHAR(200)=NULL,
@AId BIGINT=NULL,
@AccountCodeId NVARCHAR(25)=NULL,
@HeadCodeId BIGINT=NULL,
@DrAmount FLOAT=NULL,
@CrAmount FLOAT=NULL,
@Flag NVARCHAR(5)=NULL,
@Remarks NVARCHAR(200)=NULL,
@VType NVARCHAR(50)=NULL,
@PurchaseDate DATETIME=NULL,
@TentaiveDate DATETIME=NULL,
@ChequeNo NVARCHAR(200)=NULL,
@TrnId BIGINT=NULL,
@CDate DATETIME= NULL,
@UpdateBy NVARCHAR(50)=NULL,
@UpdateDate DATETIME= NULL,
@IsLgledger BIT=NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Journal set
	TDate=@TDate,
	VNo=@VNo,
	MrNo=@MrNo,
	Purpose=@Purpose,
	AId=@AId,
	AccountCodeId=@AccountCodeId,
	HeadCodeId=@HeadCodeId,
	DrAmount=@DrAmount,
	CrAmount=@CrAmount,
	Flag=@Flag,
	Remarks=@Remarks,
	VType=@VType,
	PurchaseDate=@PurchaseDate,
	TentaiveDate=@TentaiveDate,
	ChequeNo=@ChequeNo,
	TrnId=@TrnId,
	CDate=@CDate,
	UpdateBy=@UpdateBy,
	UpdateDate=@UpdateDate,
	IsLgledger=@IsLgledger
	where JrTranId=@JrTranId
END


GO
