USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetStudentSubjectWise]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_GetStudentSubjectWise] (
@ClassId int,
@GroupId int,
@SubjectId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	   select st_Person.*,ss_Student.Id as StudentId,ss_Student.RegNo,er_StudentToClass.RollNo, er_StudentToClass.Id as StudentToClassId,
	   (select ClassName from bs_ClassName where bs_ClassName.Id=er_StudentToClass.ClassId) as Class,
	   (select GroupName from bs_Group where bs_Group.Id=er_StudentToClass.GroupId) as GroupName,
	   (select Shift from bs_Shift where bs_Shift.Id=er_StudentToClass.ShiftId) as Shift,
	   (select Section from bs_Section where bs_Section.Id=er_StudentToClass.SectionId) as Section,
	   
	   (select SubjectiveMarks from rs_ObtainMarks where rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id and rs_ObtainMarks.SubjectId=@SubjectId) as SubjectiveMarks,
	   (select ObjectiveMarks from rs_ObtainMarks where rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id and rs_ObtainMarks.SubjectId=@SubjectId) as ObjectiveMarks,
	   (select PracticalMarks from rs_ObtainMarks where rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id and rs_ObtainMarks.SubjectId=@SubjectId) as PracticalMarks,
	   (select OtherMarks from rs_ObtainMarks where rs_ObtainMarks.StudentToClassId=er_StudentToClass.Id and rs_ObtainMarks.SubjectId=@SubjectId) as OtherMarks
	   
        from rs_ObtainMarks 
        inner join er_SubjectToStudent on rs_ObtainMarks.StudentToClassId=er_SubjectToStudent.StudentToClassId 
		inner join er_StudentToClass on er_SubjectToStudent.StudentToClassId=er_StudentToClass.Id
		inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id 
		inner join st_Person on ss_Student.PersonId= st_Person.Id
		where er_StudentToClass.ClassId=@ClassId and er_StudentToClass.GroupId=@GroupId and er_SubjectToStudent.SubjectId=@SubjectId
END


GO
