USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Book_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_Book_GetById] (
@Id int
)
AS
BEGIN
	SET NOCOUNT ON;
	select lb_Book.*, lb_Category.Category,lb_Country.Country,lb_Language.Language,lb_SubCategory.SubCategory, lb_Edition.Edition,lb_Publisher.Publisher from lb_Book inner join lb_Category 
				on lb_Book.CategoryId=lb_Category.Id inner join lb_SubCategory
				on lb_Book.SubCategoryId=lb_SubCategory.Id inner join lb_Country 
				on lb_Book.CountryId=lb_Country.Id inner join lb_Language
				on lb_Book.LanguageId=lb_Language.Id inner join lb_Publisher
				on lb_Book.PublisherId=lb_Publisher.Id inner join lb_Edition
				on lb_Book.EditionId=lb_Edition.Id where lb_Book.Id=@Id
END


GO
