USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_EducationUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_EducationUpdate] (
@Id int,
@DegreeName nvarchar(256),
@Board  nvarchar(256),
@Grade nvarchar(50),
@PassingYear nvarchar(50),
@Subject nvarchar(50),
@GPAScale nvarchar(50),
@ResultDivision nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
Update dbo.tr_Education set 
DegreeName=@DegreeName,
Board=@Board,
Grade=@Grade,
PassingYear=@PassingYear,
Subject=@Subject,
GPAScale=@GPAScale,
ResultDivision=@ResultDivision
where Id=@Id
End


GO
