USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_SchoolFeedback]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_SchoolFeedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[FeedBack] [nvarchar](50) NULL,
	[ChosenCauseOfSc] [nvarchar](250) NULL,
	[ExpectationFromSc] [nvarchar](250) NULL,
	[IsKnownAnyone] [nvarchar](50) NULL,
	[KnownName] [nvarchar](50) NULL,
	[KnowDesignation] [nvarchar](50) NULL,
 CONSTRAINT [PK_SchoolFeedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[st_SchoolFeedback]  WITH CHECK ADD  CONSTRAINT [FK_SchoolFeedback_SchoolFeedback] FOREIGN KEY([StudentID])
REFERENCES [dbo].[ss_Student] ([Id])
GO
ALTER TABLE [dbo].[st_SchoolFeedback] CHECK CONSTRAINT [FK_SchoolFeedback_SchoolFeedback]
GO
