USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_GetByClassAndGroupId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_FailSystem_GetByClassAndGroupId] (
@YearId int,
@CampusId int,
@ExamtypeId int,
@MediumId int,
@ClassId int,
@GroupId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select rs_FailSystem.*,bs_ClassName.Id as ClassId,bs_ClassName.ClassName,bs_Group.Id,bs_Group.GroupName,bs_Medium.Id,bs_Medium.MediumName,
	case when er_SubjectToClass.PaperNo=0 
			 then
				SubjectName
			 else
			   SubjectName+'-'+ cast(PaperNo as nvarchar(50)) end as SubjectName
	from rs_FailSystem 
	inner join er_SubjectToClass on rs_FailSystem.SubjectToClassId=er_SubjectToClass.Id
	inner join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
	inner join bs_ClassName on er_SubjectToClass.ClassId=bs_ClassName.Id
	inner join bs_Group on er_SubjectToClass.GroupId=bs_Group.Id
	inner join bs_Medium on er_SubjectToClass.MediumId=bs_Medium.Id
	where rs_FailSystem.YearId=@YearId and MediumId=@MediumId and  ClassId=@ClassId and GroupId=@GroupId and rs_FailSystem.CampusId=@CampusId and rs_FailSystem.ExamtypeId=@ExamtypeId
  
END


GO
