USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[pmtSlipNo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pmtSlipNo](
	[SlipNo] [int] NULL
) ON [PRIMARY]
GO
