USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentPromotion_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 10-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentPromotion_Update] (
@XML nvarchar(max),
@Year NVARCHAR(50)=NULL,
@ClassId INT=NULL,
@ShiftId INT=NULL,
@SectionId INT=NULL
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	Update er_StudentToClass set
	RollNo=Roll,
	Year=@Year,
	ClassId=@ClassId,
	ShiftId=@ShiftId,
	SectionId=@SectionId
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
		MarksId int,
		Roll int
		--StId int
		
	) XMLReceiveDetailsTable
	
	where StudentId=MarksId
	EXEC sp_xml_removedocument @pointerDoc
END


GO
