USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ExpenseCategory_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_ExpenseCategory_Insert] (
@Category nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from acc_ExpenseCategory where ExpenseCategory=@Category)
		begin
			select -1
		end
	else
		begin
			insert into acc_ExpenseCategory(ExpenseCategory) values (@Category)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
