USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insert_fee_PaymentForStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE proc [dbo].[USP_Insert_fee_PaymentForStudent]
@StudentToClassId int,
@Month int,
@Amount numeric,
@PaymentTypeID int,
@StartMonth int,
@EndMonth int,
@Remarks nvarchar(250),
@CreatedBy nvarchar(50),
@CreatedDate date


as
begin
 if exists (select * from fee_PaymentForStudent  where StudentToClassId=@StudentToClassId and Month=@Month and PaymentTypeId =@PaymentTypeID)

 begin
   select -1
 end
 else
 begin
 Insert into fee_PaymentForStudent (StudentToClassId,Month,PaymentTypeId,Amount,StartMonth,EndMonth,Remarks,CreatedBy,CreatedDate)
 values (@StudentToClassId,@Month,@PaymentTypeID,@Amount,@StartMonth,@EndMonth,@Remarks,@CreatedBy,@CreatedDate)
 end
end
GO
