USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2017
-- =============================================
CREATE proc [dbo].[USP_InsertClassRoutine]
@Year int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@Day nvarchar(50),
@PeriodNo int,
@SubjectId int,
@StartTime nvarchar(50),
@EndTime nvarchar(50),
@Teacher int
as
INSERT Into bs_ClassRoutine
	(
	  Year,MediumId,CampusId,ClassId,GroupId,ShiftId,SectionId,Day,Period,SubjectId,StartTime,EndTime,TeacherId
	)
	values (@Year,@MediumId,@CampusId,@ClassId,@GroupId,@ShiftId,@SectionId,@Day,@PeriodNo,@SubjectId,@StartTime,@EndTime,@Teacher)
	
Select max(Id) from bs_ClassRoutine


GO
