USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FailSystem_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_FailSystem_Insert] (
@YearId int,
@CampusId int,
@ExamtypeId int,
@SubjectToClassId int,
@Theory decimal(18,2),
@Objective decimal(18,2),
@CreatedBy nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from rs_FailSystem where SubjectToClassId=@SubjectToClassId AND YearId=@YearId AND CampusId=@CampusId AND ExamtypeId=@ExamtypeId)
		begin
			select -1
		end
	else
		begin
			insert into rs_FailSystem(SubjectToClassId,SubjectiveFailMarks,ObjectiveFailMarks,CreatedBy,CreatedDate,YearId,CampusId,ExamtypeId) 
			values (@SubjectToClassId,@Theory,@Objective,@CreatedBy,SYSDATETIME(),@YearId,@CampusId,@ExamtypeId)
			select SCOPE_IDENTITY()
		end
END

GO
