USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Expense_GetAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Expense_GetAll] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select acc_Expense.*, acc_ExpenseCategory.ExpenseCategory from acc_Expense inner join
	acc_ExpenseCategory on acc_Expense.ExpenseCategoryId=acc_ExpenseCategory.Id
END


GO
