USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Routine_ClassRoutineInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 09-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Routine_ClassRoutineInsert] (
@Xml nvarchar(MAX),
@Year nvarchar(50),
@CampusId nvarchar(50),
@ClassId nvarchar(50),
@GroupId nvarchar(50),
@ShiftId nvarchar(50),
@SectionId nvarchar(50),
@Day nvarchar(50)
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into bs_ClassRoutine
	(
	  Year,CampusId,ClassId,GroupId,ShiftId,SectionId,Day,Period,SubjectId,StartTime,EndTime,TeacherId
	)
	SELECT @Year,@CampusId,@ClassId,@GroupId,@ShiftId,@SectionId,@Day,PeriodNo,SubjectId,StartTime,EndTime,Teacher
	FROM OPENXML(@pointerDoc, 'dsRoutine/dtRoutine',2)
	WITH (
		PeriodNo int,
		SubjectId int,
		StartTime nvarchar(20),
		EndTime nvarchar(20),
		Teacher int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
