USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DailyMarks_InserXml]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 19-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_DailyMarks_InserXml] (
@XML nvarchar(max),
@Year int,
@ExamType int,
@OutOfMarks decimal(5,2),
@CreatedBy nvarchar(50),
@CreatedDate DATETIME,
@ExamDate DATETIME
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into rs_ObtainDailyMarks
	(
	  StudentToClassId,SubjectId,DailyGetMarks,Remarks,YearId,ExamTypeId,OutOfMarks,CreatedBy,CreatedDate,ExamDate
	)
	SELECT StId,SubId,DailyGetMarks,Remarks,@Year,@ExamType,@OutOfMarks,@CreatedBy,@CreatedDate,@ExamDate
	FROM OPENXML(@pointerDoc, 'dsMarks/dtMarks',2)
	WITH (
		StId int,
		SubId int,
		DailyGetMarks decimal(18,2),
		Remarks nvarchar(200)
		
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
