USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_UpdateAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_UpdateAll] (
@PaymentId int,
@BillNo nvarchar(50),
@Year nvarchar(50),
@Month nvarchar(50),
@MonthYear nvarchar(50),
@ClassId int,
@PaymentTypeId int,
@Date datetime,
@DueAmount  decimal(18,2),
@Amount decimal(18,2),
@TotalGiven decimal(18,2),
@Remarks nvarchar(250),
@UpdatedBy nvarchar(50),
@UpdatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update ss_Payment 
	set 
	BillNo=@BillNo,
	Year=@Year,
	Month=@Month,
	MonthYear=@MonthYear,
	ClassId=@ClassId,
	PaymentTypeId=@PaymentTypeId,
	Date=@Date,
	DueAmount=@DueAmount,
	Amount=@Amount,
	TotalGiven=@TotalGiven,
	Remarks=@Remarks, 
	UpdatedBy=@UpdatedBy, 
	UpdatedDate=@UpdatedDate 
	where Id=@PaymentId 
END

GO
