USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_UpdateStudentShip]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Student_UpdateStudentShip] (
@StatusId int,
@StudentId int,
@Date datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update ss_Student set 
	StatusId=@StatusId,
	UpdatedDate = @Date
	where Id=@StudentId
END
GO
