USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetStudentTabulationSheet]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shojib :D
-- Create date: 19-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetStudentTabulationSheet] (
@Criteria nvarchar(max)
)	
AS
BEGIN

	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
	   set @sql='Select *, B1+B2+E1+E2+Math as Total From           
(Select StudentToClassId,NameEng,RollNo,RegNo,ExamType, ISNULL(Bangla1st, 0) B1,ISNULL(Bangla2nd, 0) B2,ISNULL(English1st, 0) E1,ISNULL(English2nd, 0) E2,
ISNULL(Maths, 0) Math  from view_TabulationSheet
Where ' + @Criteria + ' )tbl1'+' order by Total DESC '

		EXECUTE sp_executesql @sql
	end
END


GO
