USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetForMonthlyForDue]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 24-09-2017
-- Description:	<Description,,>
-- =============================================
CREATE  PROCEDURE [dbo].[USP_Payment_GetForMonthlyForDue] (
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@PaymentTypeId int,
@StudentToClassId int,
@MonthId nvarchar(50)
)	
AS
BEGIN
	SET NOCOUNT ON;
	  if exists ( Select * from fee_PaymentForStudent where (@PaymentTypeId=-1 or PaymentTypeId in (@PaymentTypeId)) and Month=@MonthId and StudentToClassId = @StudentToClassId)
                   
             begin 
             Select fee_PaymentForStudent.*,fee_PaymentType.PaymentType from fee_PaymentForStudent 
             inner join fee_PaymentType on fee_PaymentForStudent.PaymentTypeId=fee_PaymentType.Id
             where (@PaymentTypeId=-1 or PaymentTypeId in (@PaymentTypeId)) and Month=@MonthId and StudentToClassId = @StudentToClassId 
	         end
	         
	         else
	         
	         begin
	        Select '0' as StudentToClassId, fee_PaymentSetup.*,fee_PaymentType.PaymentType from fee_PaymentSetup
	        inner join fee_PaymentType on fee_PaymentSetup.PaymentTypeId=fee_PaymentType.Id
	         where YearId=@YearId and MediumId=@MediumId and CampusId=@CampusId and  ClassId=@ClassId  and (@PaymentTypeId=-1 or PaymentTypeId in (@PaymentTypeId))
	         end
END
GO
