USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRemarksStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[USP_GetRemarksStudent] (
@StudentToClassId int
)
	
AS
BEGIN
	SET NOCOUNT ON;	
	Select * from st_Remarks Where StudentToClassId=@StudentToClassId
END
GO
