USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Insertss_Payment]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Insertss_Payment]
@StudentToClassId int,
@Year int,
@Month int,
@MonthYear nvarchar(50),
@Date datetime,
@DueAmount  decimal(18,2),
@Amount decimal(18,2),
@TotalGiven numeric,
@BillNo nvarchar(50),
@PaymentTypeId int,
@ClassId int,
@CreatedBy nvarchar(50),
@CreatedDate datetime

AS
BEGIN
	SET NOCOUNT ON;
		begin
			Insert into ss_Payment(StudentToClassId,Year,Month,MonthYear,Date,DueAmount,Amount,TotalGiven,BillNo,PaymentTypeId,ClassId,CreatedBy,CreatedDate)
Values(@StudentToClassId,@Year,@Month,@MonthYear,@Date,@DueAmount,@Amount,@TotalGiven,@BillNo,@PaymentTypeId,@ClassId,@CreatedBy ,@CreatedDate )
			select SCOPE_IDENTITY()
		end	
  
END
GO
