USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Report_AssestSchedule]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [sp_IncomeStateMent]

Create PROCEDURE [dbo].[Usp_Report_AssestSchedule] 
	

AS

	BEGIN
SELECT   datediff(dd,tbl_Journal.TDate,(getdate())),datediff(dd,tbl_Journal.TDate,(getdate()))-(month(getdate())*30), tbl_Sub_AccounHead.SubHeadName,tbl_Account.AccountCodeId, tbl_Journal.TDate, tbl_Journal.DrAmount AS Amount, '20%' AS [Dep Rate],
isnull((datediff(dd,tbl_Journal.TDate,getdate())-(month(getdate())*30))* ROUND(tbl_Journal.DrAmount * 20 / 100 / 365, 2),0) 'Accumulator', 
isnull(tbl_Journal.DrAmount-((datediff(dd,tbl_Journal.TDate,getdate())-(month(getdate())*30))* ROUND(tbl_Journal.DrAmount * 20 / 100 / 365, 2)),0) 'writtendownvalueuntillastyear', 
isnull(datediff(dd,tbl_Journal.TDate,getdate())* ROUND(tbl_Journal.DrAmount * 20 / 100 / 365, 2),0) 'Until Accumulator', 
isnull(tbl_Journal.DrAmount-((datediff(dd,tbl_Journal.TDate,getdate()))* ROUND(tbl_Journal.DrAmount * 20 / 100 / 365, 2)),0) 'writtendownvalue', 
                      ROUND(tbl_Journal.DrAmount * 20 / 100 / 365, 2) AS [Per Day Dep], ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) AS [Monthly Dep], 
                      ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) * 12 AS [1st Year], ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) 
                      * 12 AS [2nd Year], ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) * 12 AS [3rd Year], 
                      ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) * 12 AS [4th Year], ROUND(tbl_Journal.DrAmount * 20 / 100 / 365 * 30, 2) 
                      * 12 AS [5th Year],isnull( tbl_Journal.DrAmount,0) AS Total
FROM         tbl_Journal INNER JOIN
                      tbl_Account ON tbl_Journal.AccountCodeId = tbl_Account.AccountCodeId RIGHT OUTER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId
WHERE     (tbl_Sub_AccounHead.SubHeadCodeId IN (9002001, 9002003, 9002004, 9002005, 9002008))


	END


GO
