USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Notice_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
		begin
			select bs_Notice.*,CONVERT(VARCHAR(11),Date,106) as NoticeDate,nt_NoticeForClass.Id as class_NId,
nt_NoticeForStudent.Id as student_NId, nt_NoticeForStudent.IsSeen as student_IsSeen, nt_NoticeForStudent.SeenDate as student_SeenDate,
nt_NoticeForTeacher.Id as teacher_NId, nt_NoticeForTeacher.IsSeen as teacher_IsSeen, nt_NoticeForTeacher.SeenDate as teacher_SeenDate 
from bs_Notice 
full outer join nt_NoticeForTeacher on bs_Notice.Id=nt_NoticeForTeacher.NoticeId
full outer join nt_NoticeForStudent on bs_Notice.Id=nt_NoticeForStudent.NoticeId
full outer join nt_NoticeForClass on bs_Notice.Id=nt_NoticeForClass.NoticeId 
where bs_Notice.Id=@Id
		end
END


GO
