USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_EmailTemplate_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_EmailTemplate_Update] (
	@Id int,
	@Variables nvarchar(500),
	@TemplateName	nvarchar(100),
	@Subject	nvarchar(100),
	@Body Text
)
AS
BEGIN
	
	UPDATE EmailTemplate SET
	TemplateName= @TemplateName	,
	Variables=@Variables,
	Subject= @Subject,
	Body=@Body
	WHERE Id = @Id
END


GO
