USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[View_StudentAttendenceSummary]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[View_StudentAttendenceSummary]
As

		select st_Person.NameEng,ss_Attendence.Date,ss_Attendence.CreatedBy,ss_Attendence.IsPresent,ss_Attendence.CreatedDate as CreatedTime,ss_Attendence.AttendenceType, 
	   ss_Student.Id as StudentId,ss_Student.RegNo,er_StudentToClass.Id as StudentToClassId,er_StudentToClass.RollNo,
	   (select Year from bs_Year where bs_Year.Id=er_StudentToClass.Year) as AttendenceYear,
	   (select CampusName from bs_CampusName where bs_CampusName.Id=er_StudentToClass.CampusId) as CampusName,
	   (select ClassName from bs_ClassName where bs_ClassName.Id=er_StudentToClass.ClassId) as Class,
	   (select GroupName from bs_Group where bs_Group.Id=er_StudentToClass.GroupId) as GroupName,
	   (select Shift from bs_Shift where bs_Shift.Id=er_StudentToClass.ShiftId) as Shift,
	   (select Section from bs_Section where bs_Section.Id=er_StudentToClass.SectionId) as Section,
	   (select MediumName from bs_Medium where bs_Medium.Id=er_StudentToClass.MediumId) as MediumName
	   
	   
        from ss_Student  
		inner join er_StudentToClass on ss_Student.Id=er_StudentToClass.StudentId
		inner join st_Person on ss_Student.PersonId=st_Person.Id
		inner join ss_Attendence on er_StudentToClass.Id=ss_Attendence.StudentToClassId	
		
		
		





GO
