USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_IncomeCategory_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 30-03-2016
-- =============================================
create PROCEDURE [dbo].[USP_IncomeCategory_Insert] (
@Category nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from acc_IncomeCategory where IncomeCategory=@Category)
		begin
			select -1
		end
	else
		begin
			insert into acc_IncomeCategory(IncomeCategory) values (@Category)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
