USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Year_Update]    Script Date: 2025-10-28 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 11-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Year_Update] (
@Id int,
@Year nvarchar(250),
@Isdefault bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_Year set
	Year=@Year,
	IsDefault=@Isdefault
	where Id=@Id
  
END


GO
