USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PaymentFee_GetWithouDefault]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_PaymentFee_GetWithouDefault] (
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@ShiftId int,
@SectionId int,
@StudentToClassId int,
@IsMonthly bit,
@IsDefault bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	 if exists (select * from fee_PaymentForStudent inner join fee_PaymentType on fee_PaymentForStudent.PaymentTypeId=fee_PaymentType.Id	
	  where fee_PaymentType.IsDefault=@IsDefault and fee_PaymentType.IsMonthly=@IsMonthly and StudentToClassId =@StudentToClassId)
                   
             begin 
	         select fee_PaymentForStudent.Id as PaymentToClassID, PaymentTypeID as Id,fee_PaymentType.PaymentType,fee_PaymentForStudent.*,
	         er_StudentToClass.*,er_StudentToClass.Year as YearId, bs_ClassName.ClassName,bs_Year.Year, bs_CampusName.CampusName,bs_Group.GroupName,bs_Shift.Shift,bs_Section.Section, bs_Medium.MediumName
	         from fee_PaymentForStudent 
	         inner join er_StudentToClass on fee_PaymentForStudent.StudentToClassId=er_StudentToClass.Id
	         inner join fee_PaymentType on fee_PaymentForStudent.PaymentTypeId=fee_PaymentType.Id
	         inner join bs_Year on er_StudentToClass.Year=bs_Year.Id
			 inner join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
	         inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
			 inner join bs_Group on er_StudentToClass.GroupId=bs_Group.Id
			 inner join bs_Shift on er_StudentToClass.ShiftId=bs_Shift.Id
			 inner join bs_Section on er_StudentToClass.SectionId=bs_Section.Id
			 inner join bs_Medium on er_StudentToClass.MediumId = bs_Medium.Id
	         	
	         where fee_PaymentType.IsDefault=@IsDefault and fee_PaymentType.IsMonthly=@IsMonthly and StudentToClassId =@StudentToClassId
	         end
	         
	         else
	         
	         begin
	         Select fee_PaymentSetup.Id as PaymentToClassID, PaymentTypeID as Id,'0' as StudentToClassId,fee_PaymentSetup.YearId,fee_PaymentType.PaymentType,fee_PaymentSetup.*,bs_ClassName.ClassName,bs_Year.Year, bs_CampusName.CampusName,bs_Group.GroupName,bs_Shift.Shift,bs_Section.Section
	         from fee_PaymentSetup
	         inner join fee_PaymentType on fee_PaymentSetup.PaymentTypeId=fee_PaymentType.Id	
	         inner join bs_Year on fee_PaymentSetup.YearId=bs_Year.Id
			 inner join bs_CampusName on fee_PaymentSetup.CampusId=bs_CampusName.Id
	         inner join bs_ClassName on fee_PaymentSetup.ClassId=bs_ClassName.Id
			 inner join bs_Group on fee_PaymentSetup.GroupId=bs_Group.Id
			 inner join bs_Shift on fee_PaymentSetup.ShiftId=bs_Shift.Id
			 inner join bs_Section on fee_PaymentSetup.SectionId=bs_Section.Id
			 inner join bs_Medium on fee_PaymentSetup.MediumId = bs_Medium.Id
	
	         where YearId=@YearId and MediumId=@MediumId and CampusId=@CampusId and  ClassId=@ClassId and GroupId=@GroupId and ShiftId=@ShiftId and SectionId=@SectionId and fee_PaymentType.IsDefault=@IsDefault and fee_PaymentType.IsMonthly=@IsMonthly
	          end
END
GO
