USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_GetAll] 
	
AS
BEGIN
	SET NOCOUNT ON;
		select st_Person.*,
		st_PresentAddress.*,
		st_ParmanentAddress.*,
		tr_Teacher.Id as TeacherId,
		tr_Teacher.TeacherPin,
		tr_Teacher.Joindate,
		tr_Teacher.NId,
                Convert(varchar(50),tr_Teacher.EmployeeId) as EmployeeId,
		bs_Designation.Designation,
		st_PresentAddress.Address as PresentAddress
		from tr_Teacher 
		inner join st_Person on tr_Teacher.PersonId=st_Person.Id 
		inner join bs_Designation on tr_Teacher.DesignationId=bs_Designation.Id
		inner join bs_Gender on st_Person.GenderId=bs_Gender.Id
		left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
		left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId 
		where tr_Teacher.IsActive=1 
END
GO
