USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_FatherInformation_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_FatherInformation_Update] (
@Id int,
@FatherNameEng nvarchar(250),
@FatherNameBan nvarchar(250),
@FatherNId nvarchar(250),
@FatherIncome int,
@FatherPhone nvarchar(50),
@FatherQualificationId int,
@FatherProfessionId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_Person set
	FatherNameEng=@FatherNameEng,
	FatherNameBan=@FatherNameBan,
	FatherNId=@FatherNId,
	FatherIncome =@FatherIncome,
	FatherPhone =@FatherPhone,
	FatherQualificationId=@FatherQualificationId ,
	FatherProfessionId =@FatherProfessionId

where Id=@Id
END


GO
