USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateRemarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_UpdateRemarks] (
@StudentToClassId int,
@Remarks varchar(Max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS(Select * from st_Remarks where StudentToClassId=@StudentToClassId)
		Update st_Remarks 
		set 	
		Remarks=@Remarks where StudentToClassId=@StudentToClassId
    ELSE
       Insert Into 
       st_Remarks(StudentToClassId,Remarks) Values(@StudentToClassId,@Remarks)

END

GO
