USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetStudentResultForHigher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 25-04-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetStudentResultForHigher] (
@Criteria nvarchar(max)
)	
AS
BEGIN

	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
	   set @sql='Select * from (
Select 
rs_ObtainMarks.StudentToClassId,
rs_ObtainMarks.AttendanceMarks,
rs_ObtainMarks.MonthlyMarks,
rs_ObtainMarks.SubjectiveMarks,
rs_ObtainMarks.ObjectiveMarks,
rs_ObtainMarks.PracticalMarks,
rs_ObtainMarks.OtherMarks ,
er_StudentToClass.RollNo,
er_StudentToClass.[Year],
bs_ClassName.ClassName,
bs_CampusName.CampusName,
bs_ExamType.ExamType,
(100 * (rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks+rs_ObtainMarks.OtherMarks)/ rs_ObtainMarks.BaseMarks) as ConvertedMarks,
rs_ObtainMarks.SubjectID,
rs_ObtainMarks.IsPublishMarks,
rs_ObtainMarks.IsFinishMarks,
st_Person.NameEng,
st_Person.FatherNameEng,
st_Person.MotherNameEng,
ss_Student.RegNo
from rs_ObtainMarks
join er_StudentToClass on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id
join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
join bs_ExamType on rs_ObtainMarks.ExamTypeId=bs_ExamType.Id
join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
join st_Person on ss_Student.PersonId=st_Person.Id
 Where ' + @Criteria + ')tbl2
join 
(
Select Max(SubjectiveMarks + ObjectiveMarks+ PracticalMarks + OtherMarks+MonthlyMarks+AttendanceMarks) as highest  , SubjectName,SubjectID,OrderBy from rs_ObtainMarks
join bs_SubjectName on bs_SubjectName.Id=rs_ObtainMarks.SubjectID
 group by SubjectName, SubjectID,OrderBy  )tbl
on tbl2.SubjectID =tbl.SubjectID'
+' order by tbl.OrderBy ASC '
		EXECUTE sp_executesql @sql
	end
END


GO
