USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[nt_NoticeForStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nt_NoticeForStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SutdentToClassId] [int] NULL,
	[NoticeId] [int] NULL,
	[IsSeen] [bit] NULL,
	[SeenDate] [datetime] NULL,
 CONSTRAINT [PK_nt_StudentNotice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[nt_NoticeForStudent] ADD  CONSTRAINT [DF_nt_StudentNotice_IsSeen]  DEFAULT ((0)) FOR [IsSeen]
GO
