USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_News]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitleInBangla] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[Date] [datetime] NULL,
	[ShortDescriptionInBangla] [nvarchar](250) NULL,
	[ShortDescription] [nvarchar](250) NULL,
	[DetailsInBangla] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[Photo] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_bs_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
