USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[aspnet_Roles_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 15-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[aspnet_Roles_Update] (
@RoleId uniqueidentifier,
@RoleName nvarchar(256)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from aspnet_Roles where RoleName=@RoleName)
		begin
			select -1
		end
	else
		begin
			update aspnet_Roles set
			RoleName=@RoleName,
			LoweredRoleName=LOWER(@RoleName) where RoleId=@RoleId
			select 1
		end
	
END


GO
