USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Role_IdByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Role_IdByUserName] (
@UserName nvarchar(256)
)
AS
BEGIN
	SET NOCOUNT ON;
	select sa_Role.Id from aspnet_Users 
	inner join aspnet_UsersInRoles on aspnet_Users.UserId=aspnet_UsersInRoles.UserId 
	inner join sa_Role on aspnet_UsersInRoles.RoleId=sa_Role.RoleId where aspnet_Users.UserName=@UserName
END


GO
