USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[acc_Expense]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_Expense](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseCategoryId] [int] NULL,
	[ExpenseBy] [nvarchar](50) NULL,
	[ExpenseDate] [datetime] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Purpose] [nvarchar](max) NULL,
	[Attachment] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_acc_Expense] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
