USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PersonId_GetByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_PersonId_GetByUserName] (
@UserName nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select Id from st_Person where UserName=@UserName
END


GO
