USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_InsertStudentPayment]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payment_InsertStudentPayment] (
@Xml nvarchar(MAX),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into ss_Payment
	(
	  StudentId,Year,Month,Amount,TotalGiven,DueAmount,CreatedBy,CreatedDate
	)
	SELECT StudentId,Year,Month,Total,Paid,Due,@CreatedBy,@CreatedDate
	FROM OPENXML(@pointerDoc, 'dsStudentPayment/TotalPayment',2)
	WITH (
		StudentId int,
		Year int,
		Month int,
		Total decimal(5,2),
		Paid decimal(5,2),
		Due decimal(5,2)
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
