USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_HomeMenuInsertParent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================

CREATE proc [dbo].[USP_HomeMenuInsertParent]
@TextBan nvarchar(256),
@TextEng varchar(256),
@URL varchar(50),
@ParentId int,
@CreatedBy varchar(50),
@CreatedDate date,
@Order int
as
Insert into HomeMenu (TextBan ,TextEng ,URL ,ParentId ,CreatedBy ,CreatedDate ,[Order])
Values(@TextBan ,@TextEng ,@URL ,@ParentId ,@CreatedBy ,@CreatedDate ,@Order)
select Max(MenuID) from HomeMenu

GO
