USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllStudents]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 08-11-201
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetAllStudents]
AS
BEGIN
	SET NOCOUNT ON;
	Select * from dbo.er_StudentToClass 
JOIN dbo.ss_Student ON ss_Student.Id = er_StudentToClass.StudentId
JOIN dbo.st_Person ON st_Person.Id = ss_Student.PersonId
where ss_Student.IsActive=1
ORDER BY dbo.er_StudentToClass.RollNo ASC
END
GO
