USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Account_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Account_Update] (
@Id INT,
@AccountCodeId NVARCHAR(25),
@AccountName NVARCHAR(50),
@AId BIGINT,
@SubHeadId BIGINT,
@Description NVARCHAR(500),
@Status NVARCHAR(50),
@Balance FLOAT,
@OpenDate DATETIME,
@UpdateBy NVARCHAR(50),
@UpdateDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Account set
	AccountCodeId=@AccountCodeId,
	AccountName=@AccountName,
	AId=@AId,
	SubHeadId=@SubHeadId,
	Description=@Description,
	Status=@Status,
	Balance=@Balance,
	OpenDate=@OpenDate,
	UpdateBy=@UpdateBy,
	UpdateDate=@UpdateDate
	
	where Id=@Id
  
END


GO
