USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[View_AssetShedule]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_AssetShedule]
AS
SELECT     dbo.ViewAAD.SubHeadName, ISNULL(dbo.ViewAD.[During Balance], 0) AS Opening, ISNULL(dbo.ViewAAD.[Auddition Balance], 0) AS Audition, 
                      ISNULL(dbo.ViewAD.[During Balance], 0) + ISNULL(dbo.ViewAAD.[Auddition Balance], 0) AS [Total Balance], ISNULL(dbo.ViewAAD.Description, 0) 
                      AS Description, ISNULL(dbo.ViewAD.[During Depre], 0) AS [During Depre], ISNULL(dbo.ViewAAD.[Auddition Depre], 0) AS [Auddition Depre], 
                      ISNULL(dbo.ViewAD.[During Depre], 0) + ISNULL(dbo.ViewAAD.[Auddition Depre], 0) AS [Total Depre], ISNULL(dbo.ViewAD.[During Balance], 0) 
                      + ISNULL(dbo.ViewAAD.[Auddition Balance], 0) AS Writtenvalue
FROM         dbo.ViewAAD LEFT OUTER JOIN
                      dbo.ViewAD ON dbo.ViewAAD.SubHeadId = dbo.ViewAD.SubHeadId



GO
