USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[vwProfitAndLoss]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[vwProfitAndLoss] as
   SELECT ah.MainCodeId,
          ah.HeadCodeId,
          ah.HeadName,
          l.DrAmount,
          l.CrAmount,
          l.TDate
         
     FROM tbl_Lgledger l
          LEFT OUTER JOIN tbl_Account a
             ON l.AccountCodeId = a.AccountCodeId
             inner join tbl_Sub_AccounHead sah on sah.SubHeadCodeId = a.SubHeadId
          LEFT OUTER JOIN tbl_AccountHead ah
             ON sah.HeadCodeId = ah.HeadCodeId
    WHERE (ah.MainCodeId = 4000) OR (ah.MainCodeId = 5000);

GO
