USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_Student_DuePement]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Get_Student_DuePement]
 (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='select st_person .NameEng,st_person.Mobile,st_person.Id,ss_Payment.StudentId,ss_Payment.Month,ss_Payment.Date,ss_Payment.DueAmount,ss_Payment.Amount,
		ss_Payment.TotalGiven,ss_Payment.CreatedBy,ss_Payment.CreatedDate,
		ss_Payment.UpdatedBy,ss_Payment.UpdatedDate	,	
		er_StudentToClass.ClassId,er_StudentToClass.GroupId,
		er_StudentToClass.ShiftId,er_StudentToClass.SectionId,er_StudentToClass.Year,
		bs_ClassName.ClassName,bs_Group.GroupName,bs_Section.Section,bs_Shift.Shift  
		from ss_student
		inner join st_person on st_person.Id= ss_student.PersonId
		inner join ss_Payment on ss_student.id = ss_Payment.StudentId
		inner join er_StudentToClass on er_StudentToClass.StudentId=ss_student.id 
		inner join bs_ClassName on bs_ClassName.Id=er_StudentToClass.Classid
		inner join bs_Group on bs_Group.Id=er_StudentToClass.GroupId
		inner join bs_Shift on bs_Shift.Id=er_StudentToClass.ShiftId
		inner join bs_Section on bs_Section.Id=er_StudentToClass.Sectionid where ss_Payment.DueAmount>0 and er_StudentToClass.' + @Criteria
		EXECUTE sp_executesql @sql
	end
END



GO
