USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertChairmanContent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================
--Author: LITON
--Date:26-02-2017
--========================================
CREATE proc [dbo].[USP_InsertChairmanContent]

@Titel nvarchar(500),
@TitleBangla nvarchar(500),
@Name nvarchar(50),
@NameBangla nvarchar(250),
@Designation nvarchar(500),
@DesignationBangla nvarchar(500),
@Photo nvarchar(250),
@Address nvarchar(max),
@AddressBangla nvarchar(max),
@Description nvarchar(max),
@DescriptionBangla nvarchar(max)

as

Insert Into tblChairmanContent
(Titel,TitleBangla,Name,NameBangla,Designation,DesignationBangla,Address,AddressBangla,Description,DescriptionBangla,Photo) 
values (@Titel,@TitleBangla,@Name,@NameBangla,@Designation,@DesignationBangla,@Address,@AddressBangla,@Description,@DescriptionBangla,@Photo)

Select  max(ChairmanContentID) from tblChairmanContent

GO
