USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_TeacherEducation_GetByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_TeacherEducation_GetByPersonId] (
@TeacherId int
)
	
AS
BEGIN
	select * from tr_Education where TeacherId=@TeacherId
END


GO
