USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_DeleteByPersonId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 03-10-2017
-- =============================================
create PROCEDURE [dbo].[USP_Teacher_DeleteByPersonId] (
@PersonId int,
@UpdatedBy nvarchar(50),
@UpdatedDate DateTime,
@IsActive bit
)
AS
BEGIN
	SET NOCOUNT ON;
	update tr_Teacher set
	UpdatedBy=@UpdatedBy,
	UpdatedDate=@UpdatedDate,
	IsActive=@IsActive
	where PersonId=@PersonId
END
GO
