USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPaymentHistoryByBillNo]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_GetPaymentHistoryByBillNo] (
@BillNo nvarchar(50)
)	
AS
BEGIN
	SET NOCOUNT ON;
	select bs_Year.Year,CONVERT(VARCHAR(10),dbo.ss_Payment.Date,103 ) as Date, * 
	from ss_Payment
	inner join er_StudentToClass on ss_Payment.StudentToClassId=er_StudentToClass.Id
	inner join fee_PaymentType on ss_Payment.PaymentTypeId=fee_PaymentType.Id	 
	inner join bs_Year on ss_Payment.Year=bs_Year.Id
	inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
	inner join st_Person on ss_Student.PersonId=st_Person.Id
	inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
	inner join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
	inner join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
where BillNo=@BillNo
END

GO
