USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_District_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_District_GetById] (
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select * from bs_District where Id=@Id
END


GO
