USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MessageCredit_BalanceUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MessageCredit_BalanceUpdate] (
@Id INT,
@SendQuantity INT=NULL,
@AvailableBalance DECIMAL(10,2)=NULL
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update MessageCredit set
	
	SendQuantity=@SendQuantity,
	AvailableBalance=@AvailableBalance
	
	where Id=@Id
  
END


GO
