USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_SchoolInformation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_SchoolInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Code] [nvarchar](50) NULL,
	[Logo] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[Type] [nvarchar](50) NULL,
	[EstablishedDate] [datetime] NULL,
	[EstablishedBy] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[EstablishedYear] [nvarchar](5) NULL,
 CONSTRAINT [PK_bs_SchoolInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
