USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetRolesByUser]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_GetRolesByUser] (
@UserName nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select RoleName from aspnet_Roles
	
	INNER JOIN aspnet_UsersInRoles ON aspnet_Roles.RoleId=aspnet_UsersInRoles.RoleId
    INNER JOIN aspnet_Users ON aspnet_UsersInRoles.UserId=aspnet_Users.UserId

	 where UserName=@UserName
END

GO
