USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Task_GetChild]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Task_GetChild] (
@ParentId int,
@RoleId int
)
AS
BEGIN
	SET NOCOUNT ON;
	if(@RoleId=4)
	begin
		select * from sa_TaskManager where parentId=@ParentId
	end
	else
	begin
		select * from sa_RoleToTask 
		inner join sa_TaskManager on sa_RoleToTask.TaskId=sa_TaskManager.Id 
		where sa_RoleToTask.RoleId=@RoleId and sa_TaskManager.ParentId=@ParentId
	end
END


GO
