USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[rs_Grade]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rs_Grade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [nvarchar](10) NULL,
	[GradePoint] [decimal](5, 2) NULL,
	[StartMarks] [decimal](5, 2) NULL,
	[EndMarks] [decimal](5, 2) NULL,
	[Remarks] [nvarchar](250) NULL,
	[StartPoint] [decimal](5, 2) NULL,
	[EndPoint] [decimal](5, 2) NULL,
 CONSTRAINT [PK_rs_Grade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
