USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sub_Voucher_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 06-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Sub_Voucher_Update] (
@Id INT,
@SubVoucherId NVARCHAR(20),
@VoucherCodeId NVARCHAR(50),
@SubVoucherName NVARCHAR(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Sub_Voucher set
	SubVoucherId=@SubVoucherId ,
	VoucherCodeId=@VoucherCodeId,
	SubVoucherName=@SubVoucherName
	
	where Id=@Id
  
END


GO
