USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SubjectToClass_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-07-2017
-- =============================================
create PROCEDURE [dbo].[USP_SubjectToClass_Update] (
@Id int,
@YearId int,
@MediumId int,
@CampusId int,
@ClassId int,
@GroupId int,
@SubjectId int,
@CategoryId int,
@OrderBy int,
@PaperNo int,
@IsOPtional bit,
@UpdatedBy nvarchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;
	update er_SubjectToClass set
	YearId=@YearId,
	MediumId=@MediumId,
	CampusId=@CampusId,
	ClassId=@ClassId,
	GroupId=@GroupId,
	SubjectId=@SubjectId,
	CategoryId=@CategoryId,
	OrderBy=@OrderBy,
	PaperNo=@PaperNo,
	IsOptional=@IsOPtional,
	UpdatedBy=@UpdatedBy,
	UpdatedDate=GETDATE()
	where Id=@Id  
END
GO
