USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Library_IssueBookInserted]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Library_IssueBookInserted] (
@XML nvarchar(max),
@PersonId int,
@IssueDate datetime,
@ReturnDate datetime,
@IssuedBy nvarchar(50)
)
	
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	INSERT Into lb_IssueBook
	(
	  BookId,IsReturn,PersonId,IssueDate,ReturnDate,IssuedBy
	)
	SELECT Id,IsReturn,@PersonId,@IssueDate,@ReturnDate,@IssuedBy
	FROM OPENXML(@pointerDoc, 'dsIssueBook/dtIssueBook',2)
	WITH (
		Id int,
		IsReturn bit
		
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
