USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Country_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Country_Update] (
@Id int,
@Country nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	
	Update  lb_Country set Country=@Country
	where Id=@Id
END


GO
