USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_AttendenceGetByDate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Teacher_AttendenceGetByDate] (
@Date datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select tr_Attendence.*, st_Person.NameEng from tr_Attendence inner join tr_Teacher on tr_Attendence.TeacherId=tr_Teacher.Id
inner join st_Person on tr_Teacher.PersonId=st_Person.Id where tr_Attendence.Date=@Date
END


GO
