USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Journal_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 03-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[USP_Journal_Insert] (

@JrTranId int,
@TDate DATETIME=NULL,
@VNo NVARCHAR(25)=NULL,
@MrNo  NVARCHAR(200)=NULL,
@Purpose NVARCHAR(200)=NULL,
@AId BIGINT=NULL,
@AccountCodeId NVARCHAR(25)=NULL,
@HeadCodeId BIGINT=NULL,
@DrAmount FLOAT=NULL,
@CrAmount FLOAT=NULL,
@Flag NVARCHAR(5)=NULL,
@Remarks NVARCHAR(200)=NULL,
@VType NVARCHAR(50)=NULL,
@PurchaseDate DATETIME=NULL,
@TentaiveDate DATETIME=NULL,
@ChequeNo NVARCHAR(200)=NULL,
@TrnId BIGINT=NULL,
@CDate DATETIME= NULL,
@CreatedBy NVARCHAR(50)=NULL,
@CreatedDate DATETIME= NULL,
@IsLgledger BIT=NULL

)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO dbo.tbl_Journal
	        ( 
	        JrTranId,
            TDate,
            VNo,
            MrNo,
            Purpose,
            AId,
            AccountCodeId,
            HeadCodeId ,
            DrAmount,
            CrAmount,
            Flag,
            Remarks,
            VType,
            PurchaseDate,
            TentaiveDate,
            ChequeNo,
            TrnId,
            CDate,
            CreatedBy,
            CreatedDate,
            IsLgledger
	        )
	VALUES  ( 
	@JrTranId,
	        @TDate,
            @VNo,
            @MrNo,
            @Purpose,
            @AId,
            @AccountCodeId,
            @HeadCodeId ,
            @DrAmount,
            @CrAmount,
            @Flag,
            @Remarks,
            @VType,
            @PurchaseDate,
            @TentaiveDate,
            @ChequeNo,
            @TrnId,
            @CDate,
            @CreatedBy,
            @CreatedDate,
            @IsLgledger
	        )
END


GO
