USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Grade_GetAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Grade_GetAll] 
AS
BEGIN
	SET NOCOUNT ON;
	select *,
	(CAST(cast(rs_Grade.StartMarks as int) as varchar)+'-'+CAST(cast(rs_Grade.EndMarks as int) as varchar)) as ClassInterval 
	from rs_Grade
	order by EndMarks desc
END


GO
