USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MotherInformation_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_MotherInformation_Update] (
@Id int,
@MotherNameEng nvarchar(250),
@MotherNameBan nvarchar(250),
@MotherNId nvarchar(250),
@MotherIncome int,
@MotherPhone nvarchar(250),
@MotherQualificationId int,
@MotherProfessionId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_Person set
	MotherNameEng=@MotherNameEng,
	MotherNameBan=@MotherNameBan,
	MotherNId=@MotherNId,
	MotherIncome =@MotherIncome,
	MotherPhone=@MotherPhone ,
	MotherQualificationId =@MotherQualificationId,
	MotherProfessionId =@MotherProfessionId
	where Id=@Id
END


GO
