USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_TypeUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_TypeUpdate] (
@Id int,
@Type nvarchar(50),
@ScaleId int,
@Basic decimal(10,2)
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	SET NOCOUNT ON;
	update pr_Type set
	Type=@Type,
	ScaleId=@ScaleId,
	Basic=@Basic
	where Id=@Id
END


GO
