USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Notice_ForSpecificTeacher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Notice_ForSpecificTeacher] (
@Xml nvarchar(MAX)

)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into nt_NoticeForTeacher
	(
	  TeacherId,NoticeId
	)
	SELECT Id, NoticeId
	FROM OPENXML(@pointerDoc, 'dsPerson/dtPerson',2)
	WITH (
		Id int,
		NoticeId int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
