USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetHigherClassStudentResult]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetHigherClassStudentResult] (
@Criteria nvarchar(max)
)	
AS
BEGIN

	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	if(@Criteria<>'')
	begin
	   set @sql='Select * from (
Select 
rs_ObtainMarks.StudentToClassId,
rs_ObtainMarks.AttendanceMarks,
rs_ObtainMarks.MonthlyMarks,
rs_ObtainMarks.SubjectiveMarks,
rs_ObtainMarks.ObjectiveMarks,
rs_ObtainMarks.PracticalMarks,
rs_ObtainMarks.OtherMarks ,
rs_FailSystem.SubjectiveFailMarks,
rs_FailSystem.ObjectiveFailMarks,
er_StudentToClass.RollNo,
er_StudentToClass.[Year],
bs_ClassName.ClassName,
bs_Group.GroupName,
bs_Shift.Shift as ShiftName,
bs_Section.Section as SectionName,
bs_CampusName.CampusName,
bs_Medium.MediumName,
er_StudentToClass.MediumId,
er_StudentToClass.ClassId,
er_StudentToClass.GroupId,
bs_ExamType.ExamType,
(rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks) as ConvertedMarks,
rs_ObtainMarks.SubjectID,
rs_ObtainMarks.IsPublishMarks,
rs_ObtainMarks.IsFinishMarks,
st_Person.NameEng,
st_Person.FatherNameEng,
st_Person.MotherNameEng,
ss_Student.RegNo,
(rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100 as TotalMarks,
rs_ObtainMarks.BaseMarks,
er_SubjectToStudent.IsOptional,
bs_Year.Year as AcademicYear
from rs_ObtainMarks
join er_StudentToClass on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id
join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
join bs_Group on er_StudentToClass.GroupId=bs_Group.Id
join bs_Shift on er_StudentToClass.ShiftId=bs_Shift.Id
join bs_Section on er_StudentToClass.SectionId=bs_Section.Id
join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
join bs_ExamType on rs_ObtainMarks.ExamTypeId=bs_ExamType.Id
join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
join st_Person on ss_Student.PersonId=st_Person.Id
join er_SubjectToClass on rs_ObtainMarks.SubjectId=er_SubjectToClass.Id
join bs_Year on rs_ObtainMarks.YearId=bs_Year.Id
join bs_OutOfMarks on rs_ObtainMarks.BaseMarks=bs_OutOfMarks.OutOfMarks
join rs_FailSystem on er_SubjectToClass.Id=rs_FailSystem.SubjectToClassId and rs_ObtainMarks.ExamTypeId=rs_FailSystem.ExamtypeId
Join er_SubjectToStudent on rs_ObtainMarks.StudentToClassId=er_SubjectToStudent.StudentToClassId and rs_ObtainMarks.SubjectId=er_SubjectToStudent.SubjectId

Where ' + @Criteria + ' )tbl2
join 
(
Select Max(SubjectiveMarks + ObjectiveMarks+ PracticalMarks + OtherMarks+MonthlyMarks+AttendanceMarks) as highest  , SubjectName,er_SubjectToClass.Id as SubjectID, er_SubjectToClass.OrderBy from rs_ObtainMarks
join er_SubjectToClass on er_SubjectToClass.Id=rs_ObtainMarks.SubjectID
join bs_SubjectName on bs_SubjectName.Id=er_SubjectToClass.SubjectId
group by SubjectName, er_SubjectToClass.Id, er_SubjectToClass.OrderBy)tbl
on tbl2.SubjectID =tbl.SubjectID '
+' order by tbl.OrderBy ASC '
		EXECUTE sp_executesql @sql
	end
END
GO
