USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Ledger_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 03-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[USP_Ledger_Insert]
    (
      @SrNo BIGINT ,
      @TDate DATETIME = NULL ,
      @AccountCodeId NVARCHAR(25) = NULL ,
      @OpeningBalance FLOAT = NULL ,
      @DrAmount FLOAT = NULL ,
      @CrAmount FLOAT = NULL ,
      @ClBalance FLOAT = NULL ,
      @JrTranId BIGINT = NULL ,
      @CreatedBy NVARCHAR(50) = NULL ,
      @CreatedDate DATETIME = NULL
    )
AS
    BEGIN
        SET NOCOUNT ON;
        INSERT  INTO dbo.tbl_Lgledger
                ( SrNo,
                  TDate ,
                  AccountCodeId ,
                  OpBalance ,
                  DrAmount ,
                  CrAmount ,
                  ClBalance ,
                  JrTranId ,
                  Createby ,
                  CreateDate            
	            )
        VALUES  ( @SrNo,
                  @TDate ,
                  @AccountCodeId ,
                  @OpeningBalance ,
                  @DrAmount ,
                  @CrAmount ,
                  @ClBalance ,
                  @JrTranId ,
                  @CreatedBy ,
                  @CreatedDate 
	            )
    END


GO
