USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Status_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Status_Update] (
@Id int,
@Status nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_Status set
	Status=@Status
	where Id=@Id
  
END
GO
