USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_User_GetAllAdminUser]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_User_GetAllAdminUser]

AS
BEGIN
	SET NOCOUNT ON;
  
   begin
		   SELECT 
			aspnet_Users.UserName,
	
			aspnet_Roles.RoleName 
			
		FROM aspnet_Users 
			INNER JOIN aspnet_Membership ON aspnet_Users.UserId = aspnet_Membership.UserId 
			INNER JOIN aspnet_UsersInRoles ON aspnet_Users.UserId = aspnet_UsersInRoles.UserId 
			INNER JOIN aspnet_Roles ON aspnet_UsersInRoles.RoleId = aspnet_Roles.RoleId 
		where aspnet_Roles.RoleName not in ('Student','Teacher')
		order by aspnet_Users.UserName
   end
  

END
GO
