USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Main_Voucher_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 06-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Main_Voucher_Insert] (
@VoucherCodeId NVARCHAR(20),
@VoucherName NVARCHAR(50),
@CreatedBy NVARCHAR(50),
@CreatedDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from tbl_Main_Voucher where VoucherCodeId=@VoucherCodeId)
		begin
			select -1
		end
	else
		begin
			insert into tbl_Main_Voucher
			(
			VoucherCodeId,
			VoucherName,
			CreatedBy,
			CreatedDate
			) 
			VALUES 
			(
			@VoucherCodeId,
			@VoucherName,
			@CreatedBy,
			@CreatedDate
			)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
