USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Sub_AccounHead_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Sub_AccounHead_Update] (
@Id INT,
@SubHeadCodeId BIGINT,
@SubHeadName NVARCHAR(50),
@Description NVARCHAR(500),
@HeadCodeId BIGINT,
@UpdateBy NVARCHAR(50),
@UpdateDate DATETIME
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_Sub_AccounHead set
	SubHeadCodeId=@SubHeadCodeId,
	SubHeadName=@SubHeadName,
	Description=@Description,
	HeadCodeId=@HeadCodeId,
	UpdateBy=@UpdateBy,
	UpdateDate=@UpdateDate
	
	where Id=@Id
  
END


GO
