USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Profession_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Profession_Insert] (
@Profession nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_Profession where Profession=@Profession)
		begin
			select -1
		end
	else
		begin
			insert into bs_Profession(Profession) values (@Profession)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
