USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetExistingExamRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 09-03-2017
-- =============================================
CREATE Proc [dbo].[USP_GetExistingExamRoutine]
@Year int,
@MediumId int,
@CampusId int,
@ClassID int,
@ExamTypeID int,
@GroupID int,
@ShiftID int
as
Select ROW_NUMBER() over (order by Id ) as PeriodNo , * from dbo.bs_ExamRoutine 
Where Year=@Year and MediumId=@MediumId and CampusId=@CampusId and ClassID=@ClassID and ExamTypeID=@ExamTypeID and GroupID=@GroupID and ShiftId=@ShiftID


GO
