USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetOptionalSubjectByCriteria]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetOptionalSubjectByCriteria](

@Criteria nvarchar(max)
)
AS BEGIN
	SET NOCOUNT ON;
	DECLARE @sql nvarchar(max)
	IF(@Criteria<>'')
	BEGIN
		SET @sql='SELECT * FROM er_SubjectToStudent

INNER JOIN er_StudentToClass ON er_SubjectToStudent.StudentToClassId=er_StudentToClass.Id
INNER JOIN er_SubjectToClass ON er_SubjectToStudent.SubjectId=er_SubjectToClass.Id
INNER JOIN ss_Student ON er_StudentToClass.StudentId=ss_Student.Id
INNER JOIN bs_SubjectName ON er_SubjectToClass.SubjectId = bs_SubjectName.Id
WHERE ' + @Criteria
		EXECUTE sp_executesql @sql
	END
END
GO
