USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StaticContent_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_StaticContent_Update]
	@PageName nvarchar(50),
	@Content nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
    
    update bs_StaticContent set
	 Contents=@Content
	 where PageName=@PageName
    
	
END


GO
