USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_InsertForClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_InsertForClass] (
@Xml nvarchar(MAX),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
AS
DECLARE 
		@pointerDoc int
BEGIN
	
	EXEC sp_xml_preparedocument @pointerDoc OUTPUT, @xml
	
	INSERT Into fee_PaymentForClass
	(
	  PaymentTypeId,YearId,[Month],ClassId,Amount,CreatedBy,CreatedDate
	)
	SELECT PayID,YId,MID,CID,Amount,@CreatedBy,@CreatedDate
	FROM OPENXML(@pointerDoc, 'dsPayment/dtPayment',2)
	WITH (
		PayID int,
		YId int,
		MID nvarchar(50),
		CID int,
		Amount int
	) XMLReceiveDetailsTable
	
	
	EXEC sp_xml_removedocument @pointerDoc
END


GO
