USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountType_GetDataByAccountTypeId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=================================
--Author: LITON
--Date: 11-02-2017
--=================================
CREATE PROCEDURE [dbo].[USP_AccountType_GetDataByAccountTypeId]
(
@AccTypeId INT
)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM dbo.AccountTypeCodeId 
	WHERE AccountTypeCodeId=@AccTypeId
END


GO
