USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Setting_GeneralSettingUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Setting_GeneralSettingUpdate] (
@Theme nvarchar(20),
@DateFormat nvarchar(20),
@TimeZone nvarchar(5),
@Button nvarchar(20),
@Panel nvarchar(20)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update bs_GeneralSetting set Theme=@Theme,DateFormat=@DateFormat,TimeZone=@TimeZone,Button=@Button,Panel=@Panel
END


GO
