USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MessageCreditInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MessageCreditInsert] (

@PurchaseDate DATETIME=NULL,
@PurchaseQuantity INT=NULL,
@SendQuantity INT=NULL,
@Balance  DECIMAL(10,2)=NULL,
@AvailableBalance  DECIMAL(10,2)=NULL,
@TransactionNumber NVARCHAR(50)=NULL,
@Status BIT=NULL,
@CreatedBy NVARCHAR(50)=NULL,
@CreatedDate DATETIME=NULL,
@IsDefault BIT=NULL
)
AS
BEGIN
SET NOCOUNT ON;
	IF EXISTS (select * from MessageCredit where TransactionNumber=@TransactionNumber)
		begin
			select -1
		end
	else
		begin
			insert into MessageCredit
			(PurchaseDate ,
	          PurchaseQuantity ,
	          SendQuantity,
	          Balance ,
	          AvailableBalance,
	          TransactionNumber ,
	          Status,
	          CreatedBy,
	          CreatedDate,
	          IsDefault) 
	          VALUES ( 
	          @PurchaseDate ,
	          @PurchaseQuantity ,
	          @SendQuantity,
	          @Balance ,
	          @AvailableBalance,
	          @TransactionNumber ,
	          @Status,
	          @CreatedBy,
	          @CreatedDate,
	          @IsDefault
	          )
			select SCOPE_IDENTITY()
		end
END

GO
