USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAboutUs]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_UpdateAboutUs] (
@AboutUsID int,
@AboutUsEnglish nvarchar(max),
@AboutUsbangla nvarchar(max),
@Remarks nvarchar(max),
@TextType nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tblAboutUs set
	AboutUsEnglish=@AboutUsEnglish,
	AboutUsbangla=@AboutUsbangla,
	Remarks = @Remarks,
	TextType = @TextType
	where AboutUsID=@AboutUsID  
	Select AboutUsID from tblAboutUs where AboutUsID=@AboutUsID
END

GO
