USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_Update] (
@Id int,
@DesignationId int,
@CampusId int,
@NId nvarchar(50),
@GradeId int,
@LevelId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tr_Teacher set
	DesignationId=@DesignationId,
	Campus=@CampusId,
	NId=@NId,
	GradeId=@GradeId,
	LevelId=@LevelId
	where PersonId=@Id
	
END
GO
