USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[bs_Notes]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bs_Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectToClassId] [int] NULL,
	[TitleInBangla] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[Date] [datetime] NULL,
	[ShortDescriptionInBangla] [nvarchar](250) NULL,
	[ShortDescription] [nvarchar](250) NULL,
	[DetailsInBangla] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_bs_Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[bs_Notes]  WITH CHECK ADD  CONSTRAINT [FK_bs_Notes_bs_Notes] FOREIGN KEY([SubjectToClassId])
REFERENCES [dbo].[er_SubjectToClass] ([Id])
GO
ALTER TABLE [dbo].[bs_Notes] CHECK CONSTRAINT [FK_bs_Notes_bs_Notes]
GO
ALTER TABLE [dbo].[bs_Notes]  WITH CHECK ADD  CONSTRAINT [FK_bs_Notes_tr_Teacher] FOREIGN KEY([SubjectToClassId])
REFERENCES [dbo].[er_SubjectToClass] ([Id])
GO
ALTER TABLE [dbo].[bs_Notes] CHECK CONSTRAINT [FK_bs_Notes_tr_Teacher]
GO
