USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_GetWhoseMarksNotEntry]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Student_GetWhoseMarksNotEntry] (
@Criteria nvarchar(max),
@SubjectId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select ss_Student.RegNo,er_StudentToClass.Id as StudentToClassId,CampusName,ClassName,GroupName,MediumName,Shift,Section,er_StudentToClass.*,
st_Person.*
from er_StudentToClass 
inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
inner join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
inner join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
inner join bs_Group on er_StudentToClass.GroupId=bs_Group.Id
inner join bs_Section on er_StudentToClass.SectionId=bs_Section.Id
inner join bs_Shift on er_StudentToClass.ShiftId=bs_Shift.Id
inner join bs_Year on er_StudentToClass.Year=bs_Year.Id
inner join st_Person on ss_Student.PersonId=st_Person.Id
left outer join st_PresentAddress on st_Person.Id=st_PresentAddress.PersonId 
left outer join st_ParmanentAddress on st_Person.Id=st_ParmanentAddress.PersonId where ' +@Criteria+
'Order by RegNo'
	EXECUTE sp_executesql @sql
END
GO
