USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllTeacherByYearCampus]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAllTeacherByYearCampus]
(
 @CampusId int
)
AS
BEGIN
	SET NOCOUNT ON;
	    Select * from dbo.st_Person
		join dbo.tr_Teacher on tr_Teacher.PersonID=st_Person.Id
		where Campus = @CampusId and IsActive='true'
		ORDER BY dbo.tr_Teacher.Id ASC	
END
GO
