USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Student_BasicInformationInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Student_BasicInformationInsert] (
@NameEng nvarchar(50),
@NameBan nvarchar(20),
@GenderId int,
@ReligionId int,
@DateofBirth datetime,
@BirthCertificate nvarchar(50),
@PhoneNo nvarchar(20),
@Mobile nvarchar(20),
@PhoneHome nvarchar(20),
@MobileHome nvarchar(20),
@BloodGroup nvarchar(10),
@UserName nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (select * from st_Person where UserName=@UserName)
		begin
			select -1
		end
	else
		begin
			insert into st_Person(
			NameEng,
			NameBan,
			GenderId,
			ReligionId,	
			DateofBirth,
			BirthCertificate,
			PhoneNo,
			Mobile,
			PhoneHome,
			MobileHome,
			BloodGroup,
			UserName) values(
			@NameEng,
			@NameBan,
			@GenderId,
			@ReligionId,
			@DateofBirth,
			@BirthCertificate,
			@PhoneNo,
			@Mobile,
			@PhoneHome,
			@MobileHome,
			@BloodGroup,
			@UserName
			)
			select SCOPE_IDENTITY()
			end
	
END


GO
