USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Group_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Group_Insert] (
@Group nvarchar(250)
)
	
AS
BEGIN

	IF EXISTS (select * from bs_Group where GroupName=@Group)
		begin
			select -1
		end
	else
		begin
			insert into bs_Group(GroupName) values (@Group)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
