USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payment_GetPaymentHistoryByStudentId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 13-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payment_GetPaymentHistoryByStudentId] (
@StudentToClassId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select bs_Year.Year,bs_Month.Month, * 
	from ss_Payment 
	inner join er_StudentToClass on ss_Payment.StudentToClassId=er_StudentToClass.Id
	inner join ss_Student on er_StudentToClass.StudentId = ss_Student.Id
	inner join st_Person on ss_Student.PersonId = st_Person.Id
	inner join bs_Year on ss_Payment.Year=bs_Year.Id
	inner join bs_Month on ss_Payment.Month=bs_Month.Id
where StudentToClassId=@StudentToClassId
END


GO
