USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_GetUniqueVisit]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Dashboard_GetUniqueVisit] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select Value from bs_UniqueVisit
END


GO
