USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllStudent_Queen]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================
-- Author:		Liton
-- Create date: 08-05-2017
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetAllStudent_Queen] 
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *
	  FROM [dbo].[InfoGeneral]
	  Where InfoGeneral.Branch='ADB'
END


---CONVERT(VARCHAR(24),InfoGeneral.BirthDate,103) as SBirthDate,CONVERT(VARCHAR(24),InfoGeneral.AdmissionDate,103) as SadmissionDate
GO
