USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetSetMarksById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_GetSetMarksById] (
@Id int,
@ExamtypeId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM er_SubjectToClass
	INNER JOIN rs_FailSystem ON er_SubjectToClass.Id=rs_FailSystem.SubjectToClassId
	where er_SubjectToClass.Id=@Id
END
GO
