USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Task_GetAll]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Task_GetAll] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select *,
case when r.ParentId=0 then 'Root'
else (select TextEng from sa_TaskManager as t where t.Id=r.ParentId) end as Parent from sa_TaskManager as r
END


GO
