USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_DeductionInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_DeductionInsert] (
@Deduction nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from pr_Deduction where Deduction=@Deduction)
		begin
			select -1
		end
	else
		begin
			insert into pr_Deduction(Deduction) values (@Deduction)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
