USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_BloodGroup_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 16-03-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_BloodGroup_Insert] (
@BloodGroup nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_BloodGroup where BloodGroup=@BloodGroup)
		begin
			select -1
		end
	else
		begin
			insert into bs_BloodGroup(BloodGroup) values (@BloodGroup)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
