USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_InsertPayScale]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_InsertPayScale] (
@TypeId int,
@PinCode nvarchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from pr_StaffToType where TypeId=@TypeId and PinCode=@PinCode)
		begin
			select -1
		end
	else
		begin
			insert into pr_StaffToType(TypeId,PinCode) Values (@TypeId, @PinCode)
		end
END


GO
