USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tblStudentAdmission]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentAdmission](
	[StudentAdmissionID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNo] [int] NULL,
	[SurName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[NameBanlga] [nvarchar](50) NULL,
	[FatherNameEng] [nvarchar](50) NULL,
	[FatherNameBan] [nvarchar](50) NULL,
	[MotherNameEng] [nvarchar](50) NULL,
	[MotherNameBan] [nvarchar](50) NULL,
	[ReligionId] [int] NULL,
	[Nationality] [nvarchar](50) NULL,
	[DateofBirth] [datetime] NULL,
	[PhoneNo] [nvarchar](20) NULL,
	[Mobile] [nvarchar](20) NULL,
	[PhoneHome] [nvarchar](20) NULL,
	[MobileHome] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[FatherNId] [nvarchar](50) NULL,
	[MotherNId] [nvarchar](50) NULL,
	[IsFreedomFighter] [bit] NULL,
	[IsTribal] [bit] NULL,
	[IsPhysicallyDefect] [bit] NULL,
	[FatherIncome] [int] NULL,
	[MotherIncome] [int] NULL,
	[FatherPhone] [nvarchar](50) NULL,
	[MotherPhone] [nvarchar](50) NULL,
	[FatherImage] [nvarchar](250) NULL,
	[MotherImage] [nvarchar](250) NULL,
	[FatherQualificationId] [int] NULL,
	[FatherProfessionId] [int] NULL,
	[MotherQualificationId] [int] NULL,
	[MotherProfessionId] [int] NULL,
	[PersonImage] [nvarchar](250) NULL,
	[SignatureImage] [nvarchar](250) NULL,
	[GenderId] [int] NULL,
	[BirthCertificate] [nvarchar](50) NULL,
	[PresentDivisionId] [int] NULL,
	[PresentDistrictId] [int] NULL,
	[PresentThanaId] [int] NULL,
	[PresentPostOffice] [nvarchar](250) NULL,
	[PresentPostalCode] [nvarchar](50) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[DivisionId] [int] NULL,
	[DistrictId] [int] NULL,
	[ThanaId] [int] NULL,
	[PostOffice] [nvarchar](250) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[AvoidGames] [nvarchar](50) NULL,
	[AvoidGamesDetails] [nvarchar](50) NULL,
	[SchoolVersion] [nvarchar](50) NULL,
	[ClassApplyingFor] [nvarchar](50) NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsPayment] [bit] NOT NULL,
	[AdmissionYear] [nvarchar](50) NULL,
	[NameLocalGuardian1] [nvarchar](50) NULL,
	[NameLocalGuardian2] [nvarchar](50) NULL,
	[LocalGuardian1Mobile] [nvarchar](20) NULL,
	[LocalGuardian2Mobile] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblStudentAdmission] PRIMARY KEY CLUSTERED 
(
	[StudentAdmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblStudentAdmission] ADD  CONSTRAINT [DF_tblStudentAdmission_SerialNo]  DEFAULT ((0)) FOR [SerialNo]
GO
ALTER TABLE [dbo].[tblStudentAdmission] ADD  CONSTRAINT [DF_tblStudentAdmission_FatherIncome]  DEFAULT ((0)) FOR [FatherIncome]
GO
ALTER TABLE [dbo].[tblStudentAdmission] ADD  CONSTRAINT [DF_tblStudentAdmission_MotherIncome]  DEFAULT ((0)) FOR [MotherIncome]
GO
ALTER TABLE [dbo].[tblStudentAdmission] ADD  CONSTRAINT [DF_tblStudentAdmission_IsPayment]  DEFAULT ((0)) FOR [IsPayment]
GO
