USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Library_IssuedBook_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 15-01-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Library_IssuedBook_Update] (
@Id int,
@IsReturn bit,
@ReceivedBy nvarchar(50),
@ReceivedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update lb_IssueBook set
	IsReturn=@IsReturn,
	ReceivedBy=@ReceivedBy,
	ReceivedDate=@ReceivedDate
	
	where Id=@Id
  
END


GO
