USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[view_MarkSheet_ForJunior]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_MarkSheet_ForJunior] 
AS

Select 
rs_ObtainMarks.StudentToClassId,
rs_ObtainMarks.AttendanceMarks,
rs_ObtainMarks.MonthlyMarks,
rs_ObtainMarks.SubjectiveMarks,
rs_ObtainMarks.ObjectiveMarks,
rs_ObtainMarks.PracticalMarks,
rs_ObtainMarks.OtherMarks,
er_StudentToClass.RollNo,
er_StudentToClass.[Year],
bs_ClassName.ClassName,
bs_CampusName.CampusName,
bs_Medium.MediumName,
bs_SubjectName.SubjectName,
bs_Group.GroupName,
bs_Shift.Shift,
bs_Section.Section,
er_StudentToClass.MediumId,
er_StudentToClass.ClassId,
er_StudentToClass.GroupId,
er_StudentToClass.ShiftId,
er_StudentToClass.SectionId,
er_StudentToClass.CampusId,
rs_ObtainMarks.ExamTypeId,
bs_ExamType.ExamType,
(rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks) as ConvertedMarks,
rs_ObtainMarks.SubjectID,
rs_ObtainMarks.IsPublishMarks,
rs_ObtainMarks.IsFinishMarks,
st_Person.NameEng,
st_Person.FatherNameEng,
st_Person.MotherNameEng,
ss_Student.RegNo,
(rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100 as TotalMarks,
"Grade"=(CASE
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 33 THEN 'F'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 40 THEN 'D'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 50 THEN 'C'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 60 THEN 'B'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 70 THEN 'A-'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) < 80 THEN 'A'
WHEN ((rs_ObtainMarks.SubjectiveMarks+ rs_ObtainMarks.ObjectiveMarks+rs_ObtainMarks.PracticalMarks+rs_ObtainMarks.MonthlyMarks+rs_ObtainMarks.AttendanceMarks)/rs_ObtainMarks.BaseMarks*100) >= 80 THEN 'A+'
END)
,
rs_ObtainMarks.BaseMarks,
bs_Year.Year as AcademicYear
from rs_ObtainMarks
join er_StudentToClass on rs_ObtainMarks.StudentToClassId= er_StudentToClass.Id
join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
join bs_ExamType on rs_ObtainMarks.ExamTypeId=bs_ExamType.Id
join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
join bs_Group on er_StudentToClass.GroupId=bs_Group.Id
join bs_Shift on er_StudentToClass.ShiftId=bs_Shift.Id
join bs_Section on er_StudentToClass.SectionId=bs_Section.Id
join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
join st_Person on ss_Student.PersonId=st_Person.Id
join er_SubjectToClass on rs_ObtainMarks.SubjectId=er_SubjectToClass.Id
join bs_SubjectName on er_SubjectToClass.SubjectId=bs_SubjectName.Id
join bs_Year on rs_ObtainMarks.YearId=bs_Year.Id
join bs_OutOfMarks on rs_ObtainMarks.BaseMarks=bs_OutOfMarks.OutOfMarks


GO
