USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_ContactInfo_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 23-07-2017
-- =============================================
create PROCEDURE [dbo].[USP_ContactInfo_Insert] (
@Name nvarchar(250),
@Email nvarchar(50),
@Mobile nvarchar(50),
@Subject nvarchar(300),
@Message nvarchar(500)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from bs_ContactInfo where Name=@Name and Email=@Email and Mobile=@Mobile)
		begin
			select -1
		end
	else
		begin
			insert into bs_ContactInfo(Name, Email, Mobile, Subject, Message, Date) values (@Name, @Email, @Mobile, @Subject, @Message, GETDATE())
			select SCOPE_IDENTITY()
		end

END
GO
