USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_SalaryScaleGetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Payroll_SalaryScaleGetById] (
@Id int
)
AS
BEGIN
	SET NOCOUNT ON;
	select * from pr_SalaryScale
	where Id=@Id
END


GO
