USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Library_BasicSetup_GetById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Library_BasicSetup_GetById] (
@Table nvarchar(250),
@Id int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	set @sql='Select * from '+@Table+' Where Id='+cast(@Id as varchar(50))
	EXECUTE sp_executesql @sql
END


GO
