USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_AccountHead_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 04-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_AccountHead_Update] (
@Id INT,
@HeadCodeId BIGINT,
@HeadName NVARCHAR(50),
@AId BIGINT,
@Description NVARCHAR(500),
@MainCodeId BIGINT,
@UpdateOn DATETIME,
@Balance FLOAT
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update tbl_AccountHead set
	HeadCodeId=@HeadCodeId,
	HeadName=@HeadName,
	AId=@AId,
	Description=@Description,
	MainCodeId=@MainCodeId,
	UpdateOn=@UpdateOn,
	Balance=@Balance
	
	where Id=@Id
  
END


GO
