USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_HomeMenuUpdatePublish]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE proc [dbo].[USP_HomeMenuUpdatePublish]
@MenuID int,
@IsPublish bit,
@PublishStartDate datetime,
@PublishEndDate datetime
as
Update  HomeMenu set
IsPublish = @IsPublish,
PublishStartDate =@PublishStartDate,
PublishEndDate=@PublishEndDate
Where MenuID=@MenuID

GO
