USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_SalaryScaleInsert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Payroll_SalaryScaleInsert] (
@Scale nvarchar(50),
@Description nvarchar(250)
)
AS
BEGIN
	SET NOCOUNT ON;
	insert into pr_SalaryScale (Scale,[Description]) values(@Scale,@Description)
	select SCOPE_IDENTITY()
END


GO
