USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_GetALLSchoolInformation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 07-05-2017
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_Report_GetALLSchoolInformation] 

AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM [dbo].[bs_SchoolInformation]
END

GO
