USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[tr_Training]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tr_Training](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingName] [nvarchar](256) NULL,
	[InstituteName] [nvarchar](256) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[TeacherId] [int] NULL,
	[Topics] [nvarchar](256) NULL,
	[Duration] [nvarchar](50) NULL,
 CONSTRAINT [PK_tr_Training] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tr_Training] ADD  CONSTRAINT [DF_tr_Training_Duration]  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[tr_Training]  WITH CHECK ADD  CONSTRAINT [FK_tr_Training_tr_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[tr_Teacher] ([Id])
GO
ALTER TABLE [dbo].[tr_Training] CHECK CONSTRAINT [FK_tr_Training_tr_Teacher]
GO
