USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetTeacherAttendence]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_GetTeacherAttendence] 
@TeacherId int,
@Year nvarchar(50),
@Month nvarchar(50)
	
AS
BEGIN
	SET NOCOUNT ON;
		select tr_Teacher.Id, st_Person.NameEng, tr_Attendence.Date,tr_Attendence.InTime,tr_Attendence.OutTime,tr_Attendence.Year,tr_Attendence.Month from tr_Teacher
        inner join  st_Person on tr_Teacher.PersonId=st_Person.Id  inner join tr_Attendence on tr_Teacher.Id=tr_Attendence.TeacherId
		where tr_Teacher.Id=@TeacherId and Year=@Year and Month=@Month	
END


GO
