USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteClassRoutine]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteClassRoutine]

@Id int
as

DELETE FROM bs_ClassRoutine 
WHERE Id = @Id


GO
