USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_AttendenceInserted]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Teacher_AttendenceInserted] (
@Date datetime,
@TId int,
@TimeIn nvarchar(50),
@OutTime nvarchar(50),
@Year nvarchar(50),
@Month nvarchar(50),
@CreatedBy nvarchar(50),
@CreatedDate datetime

)
AS

BEGIN
	
	
	
	INSERT Into tr_Attendence
	(
	  Date,TeacherId,InTime,OutTime,Year,Month,CreatedBy,CreatedDate
	)
	values ( @Date,@TId,@TimeIn,@OutTime,@Year,@Month,@CreatedBy,@CreatedDate)

END

GO
