USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[fee_PaymentForClass]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fee_PaymentForClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearId] [int] NULL,
	[Month] [nvarchar](50) NULL,
	[PaymentTypeId] [int] NULL,
	[Amount] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_fee_PaymentForClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
