USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Task_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Task_Update] (
@Id int,
@TextEng nvarchar(256),
@TextBan nvarchar(256),
@URL nvarchar(256),
@ParentId int,
@UpdatedBy nvarchar(256),
@UpdatedDate datetime,
@Icon nvarchar(100)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update sa_TaskManager set
	TextEng=@TextEng,
	TextBan=@TextBan,
	URL=@URL,
	ParentId=@ParentId,
	Icon=@Icon,
	UpdatedBy=@UpdatedBy,
	UpdatedDate=@UpdatedDate

	where Id=@Id
END


GO
