USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[costgoods]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[costgoods]
AS
SELECT     x.openStockRowMat, y.purchaseRowMat, x.openStockRowMat + y.purchaseRowMat AS 'stock+purch', z.CloseStockRowMat, 
                      x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat AS 'Row Materials Used', m.openStolckPackMat, n.PurchPackMat, 
                      m.openStolckPackMat + n.PurchPackMat AS 'Add', o.closeStockPackMat, 
                      m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat AS 'PackMaterUsed', p.directLabor, 
                      (x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat) + (m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat) 
                      + p.directLabor AS 'Prim Cost', q.factoryManfacOH, (x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat) 
                      + (m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat) + p.directLabor + q.factoryManfacOH AS 'Manufacturing Cost', r.OpeningWIP, 
                      s.ClosingWIP, r.OpeningWIP - s.ClosingWIP AS 'less', ((x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat) 
                      + (m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat) + p.directLabor + q.factoryManfacOH) + (r.OpeningWIP - s.ClosingWIP) 
                      AS CostOfGoodsManufacture, t.openFinishGoods, ((x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat) 
                      + (m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat) + p.directLabor + q.factoryManfacOH) + (r.OpeningWIP - s.ClosingWIP) 
                      + t.openFinishGoods AS goodsavailableforsales, u.closeFinishGoods, ((x.openStockRowMat + y.purchaseRowMat - z.CloseStockRowMat) 
                      + (m.openStolckPackMat + n.PurchPackMat - o.closeStockPackMat) + p.directLabor + q.factoryManfacOH) + (r.OpeningWIP - s.ClosingWIP) 
                      + t.openFinishGoods - u.closeFinishGoods AS costofgoodsSold
FROM         (SELECT     ISNULL(SUM(dbo.tbl_Lgledger.DrAmount), 0) AS openStockRowMat
                      FROM        tbl_Account INNER JOIN
                                              tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                                              tbl_AccountHead ON tbl_Sub_AccounHead.HeadCodeId = tbl_AccountHead.HeadCodeId INNER JOIN
                                              tbl_Lgledger ON tbl_Account.AccountCodeId = tbl_Lgledger.AccountCodeId
                       WHERE      (dbo.tbl_Account.SubHeadId = '4003001')) AS x CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_11.DrAmount), 0) AS purchaseRowMat
                            FROM          dbo.tbl_Account AS TBLACCOUNT_11 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_11 ON TBLACCOUNT_11.SubHeadId = TBLSUBACCHEAD_11.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_11 ON TBLSUBACCHEAD_11.HeadCodeId = TBLACCHEAD_11.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_11 ON TBLACCOUNT_11.AccountCodeId = TBLGLEDGER_11.AccountCodeId
                            WHERE      (TBLACCOUNT_11.SubHeadId = '4003002')) AS y CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_10.DrAmount), 0) AS CloseStockRowMat
                            FROM          dbo.tbl_Account AS TBLACCOUNT_10 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_10 ON TBLACCOUNT_10.SubHeadId = TBLSUBACCHEAD_10.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_10 ON TBLSUBACCHEAD_10.HeadCodeId = TBLACCHEAD_10.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_10 ON TBLACCOUNT_10.AccountCodeId = TBLGLEDGER_10.AccountCodeId
                            WHERE      (TBLACCOUNT_10.SubHeadId = '4003003')) AS z CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_9.DrAmount), 0) AS openStolckPackMat
                            FROM          dbo.tbl_Account AS TBLACCOUNT_9 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_9 ON TBLACCOUNT_9.SubHeadId = TBLSUBACCHEAD_9.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_9 ON TBLSUBACCHEAD_9.HeadCodeId = TBLACCHEAD_9.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_9 ON TBLACCOUNT_9.AccountCodeId = TBLGLEDGER_9.AccountCodeId
                            WHERE      (TBLACCOUNT_9.SubHeadId = '4003004')) AS m CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_8.DrAmount), 0) AS PurchPackMat
                            FROM          dbo.tbl_Account AS TBLACCOUNT_8 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_8 ON TBLACCOUNT_8.SubHeadId = TBLSUBACCHEAD_8.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_8 ON TBLSUBACCHEAD_8.HeadCodeId = TBLACCHEAD_8.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_8 ON TBLACCOUNT_8.AccountCodeId = TBLGLEDGER_8.AccountCodeId
                            WHERE      (TBLACCOUNT_8.SubHeadId = '4003005')) AS n CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_7.DrAmount), 0) AS closeStockPackMat
                            FROM          dbo.tbl_Account AS TBLACCOUNT_7 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_7 ON TBLACCOUNT_7.SubHeadId = TBLSUBACCHEAD_7.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_7 ON TBLSUBACCHEAD_7.HeadCodeId = TBLACCHEAD_7.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_7 ON TBLACCOUNT_7.AccountCodeId = TBLGLEDGER_7.AccountCodeId
                            WHERE      (TBLACCOUNT_7.SubHeadId = '4003006')) AS o CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_6.DrAmount), 0) AS directLabor
                            FROM          dbo.tbl_Account AS TBLACCOUNT_6 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_6 ON TBLACCOUNT_6.SubHeadId = TBLSUBACCHEAD_6.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_6 ON TBLSUBACCHEAD_6.HeadCodeId = TBLACCHEAD_6.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_6 ON TBLACCOUNT_6.AccountCodeId = TBLGLEDGER_6.AccountCodeId
                            WHERE      (TBLACCOUNT_6.SubHeadId = '4003007')) AS p CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_5.DrAmount), 0) AS factoryManfacOH
                            FROM          dbo.tbl_Account AS TBLACCOUNT_5 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_5 ON TBLACCOUNT_5.SubHeadId = TBLSUBACCHEAD_5.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_5 ON TBLSUBACCHEAD_5.HeadCodeId = TBLACCHEAD_5.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_5 ON TBLACCOUNT_5.AccountCodeId = TBLGLEDGER_5.AccountCodeId
                            WHERE      (TBLACCOUNT_5.SubHeadId = '4003008')) AS q CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_4.DrAmount), 0) AS OpeningWIP
                            FROM          dbo.tbl_Account AS TBLACCOUNT_4 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_4 ON TBLACCOUNT_4.SubHeadId = TBLSUBACCHEAD_4.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_4 ON TBLSUBACCHEAD_4.HeadCodeId = TBLACCHEAD_4.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_4 ON TBLACCOUNT_4.AccountCodeId = TBLGLEDGER_4.AccountCodeId
                            WHERE      (TBLACCOUNT_4.SubHeadId = '4003009')) AS r CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_3.DrAmount), 0) AS ClosingWIP
                            FROM          dbo.tbl_Account AS TBLACCOUNT_3 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_3 ON TBLACCOUNT_3.SubHeadId = TBLSUBACCHEAD_3.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_3 ON TBLSUBACCHEAD_3.HeadCodeId = TBLACCHEAD_3.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_3 ON TBLACCOUNT_3.AccountCodeId = TBLGLEDGER_3.AccountCodeId
                            WHERE      (TBLACCOUNT_3.SubHeadId = '40030010')) AS s CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_2.DrAmount), 0) AS openFinishGoods
                            FROM          dbo.tbl_Account AS TBLACCOUNT_2 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_2 ON TBLACCOUNT_2.SubHeadId = TBLSUBACCHEAD_2.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_2 ON TBLSUBACCHEAD_2.HeadCodeId = TBLACCHEAD_2.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_2 ON TBLACCOUNT_2.AccountCodeId = TBLGLEDGER_2.AccountCodeId
                            WHERE      (TBLACCOUNT_2.SubHeadId = '40030011')) AS t CROSS JOIN
                          (SELECT     ISNULL(SUM(TBLGLEDGER_1.CrAmount), 0) AS closeFinishGoods
                            FROM          dbo.tbl_Account AS TBLACCOUNT_1 INNER JOIN
                                                   dbo.tbl_Sub_AccounHead AS TBLSUBACCHEAD_1 ON TBLACCOUNT_1.SubHeadId = TBLSUBACCHEAD_1.SubHeadCodeId INNER JOIN
                                                   dbo.tbl_AccountHead AS TBLACCHEAD_1 ON TBLSUBACCHEAD_1.HeadCodeId = TBLACCHEAD_1.HeadCodeId INNER JOIN
                                                   dbo.tbl_Lgledger AS TBLGLEDGER_1 ON TBLACCOUNT_1.AccountCodeId = TBLGLEDGER_1.AccountCodeId
                            WHERE      (TBLACCOUNT_1.SubHeadId = '40030012')) AS u



GO
