USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Income_Insert]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 30-05-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Income_Insert] (
@Date datetime,
@Amount decimal(10,2),
@CategoryId int,
@Attachment nvarchar(250),
@Note nvarchar(MAX),
@CreatedBy nvarchar(50),
@CreatedDate datetime
)
	
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO acc_Income(IncomeCategoryId,Date,Amount,Details,Attachment,CreatedBy,CreatedDate) VALUES
	(@CategoryId,@Date,@Amount,@Note,@Attachment,@CreatedBy,@CreatedDate)
END


GO
