USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_GetTeacher]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Dashboard_GetTeacher] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select COUNT(Id) as Teacher from tr_Teacher
	where tr_Teacher.IsActive=1
END
GO
