USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Marks_DeleteMarks]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_Marks_DeleteMarks] 

	
@Id nvarchar(50)
as

DELETE FROM rs_ObtainMarks
WHERE Id = @Id
GO
