USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Dashboard_GetStudent]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 08-11-201
-- =============================================
CREATE PROCEDURE [dbo].[USP_Dashboard_GetStudent] 
	
AS
BEGIN
	SET NOCOUNT ON;
	select COUNT(Id) as Student 
	from ss_Student
	where ss_Student.IsActive=1
END
GO
