USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Thana_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Thana_Update] (
@Id int,
@DistrictId int,
@Thana nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_Thana set
	Thana=@Thana,
	DistrictId=@DistrictId
	where Id=@Id  
END


GO
