USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Payroll_AmountUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Payroll_AmountUpdate]
@id int,
@YearId int,
@CampusId int,
@DesignationId int,
@StartMonth int,
@EndMonth int,
@Amount decimal(18,2),
@UpdateBy nvarchar(50),
@UpdateDate datetime
as

Update tbl_PayrollSetup Set
YearId=@YearId,
CampusId=@CampusId,
DesignationId=@DesignationId,
 Amount=@Amount,
 StartMonth=@StartMonth,
 EndMonth=@EndMonth,
 UpdateBy=@UpdateBy,
 UpdateDate=@UpdateDate 
 where Id=@id
GO
