USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertGalleryImage]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================
--Author: LITON
--Date:04-02-2017
--========================================

CREATE proc [dbo].[USP_InsertGalleryImage]

@ImageData nvarchar(50),
@ImageDescription nvarchar(max),
@ImageName nvarchar(max),
@ImagePath nvarchar(max),
@ImageSize nvarchar(max),
@ImageTitle nvarchar(500),
@ImageUsedDriv nvarchar(50),
@ImageIsActive bit,
@CreateBy nvarchar(50),
@Remarks nvarchar(500)

as

Insert Into dbo.tblGalleryImage
(ImageData,ImageDescription,ImageName,ImagePath,ImageSize,ImageTitle,ImageUsedDriv,ImageIsActive,CreateBy,Remarks) 
values (@ImageData,@ImageDescription,@ImageName,@ImagePath,@ImageSize,@ImageTitle,@ImageUsedDriv,@ImageIsActive,@CreateBy,@Remarks)

Select  max(GalleryImageID) from tblGalleryImage

GO
