USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[ss_Student]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ss_Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NULL,
	[RegNo] [nvarchar](50) NULL,
	[AdmissionDate] [datetime] NULL,
	[AdmissionYear] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[StatusId] [int] NULL,
	[Zigatola] [int] NULL,
	[Adabor] [int] NULL,
	[CollegeScience] [int] NULL,
	[CollegeBusiness] [int] NULL,
	[EMediumAdabor] [int] NULL,
	[EMediumZigatola] [int] NULL,
 CONSTRAINT [PK_ss_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ss_Student]  WITH CHECK ADD  CONSTRAINT [FK_ss_Student_st_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[st_Person] ([Id])
GO
ALTER TABLE [dbo].[ss_Student] CHECK CONSTRAINT [FK_ss_Student_st_Person]
GO
