USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCampusByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_GetCampusByUserName] (
@UserName nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select  bs_CampusName.Id, bs_CampusName.CampusName from st_Person
	
INNER JOIN aspnet_Users ON st_Person.UserName=aspnet_Users.UserName
INNER JOIN aspnet_UsersInRoles ON aspnet_Users.UserId=aspnet_UsersInRoles.UserId
INNER JOIN tr_Teacher ON st_Person.Id=tr_Teacher.PersonId
INNER JOIN bs_CampusName ON tr_Teacher.Campus=bs_CampusName.Id


	 where aspnet_Users.UserName=@UserName
END
GO
