USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Person_OtherInfoUpdate]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-12-2016
-- =============================================
CREATE PROCEDURE [dbo].[USP_Person_OtherInfoUpdate] (
@Id int,
@IsFreedomFighter bit,
@IsTribal bit,
@IsPhysicallyDefect bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update st_Person set
	IsFreedomFighter=@IsFreedomFighter,
	IsTribal=@IsTribal,
	IsPhysicallyDefect=@IsPhysicallyDefect
	where Id=@Id
END


GO
