USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateGalleryImage]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================
--Author: LITON
--Date:26-02-2017
--========================================
CREATE proc [dbo].[USP_UpdateGalleryImage]
@GalleryImageID int,
@ImageIsActive bit


as
Update tblGalleryImage
Set ImageIsActive=@ImageIsActive

where GalleryImageID=@GalleryImageID

Select GalleryImageID from tblGalleryImage where GalleryImageID=@GalleryImageID

GO
