USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetUserPasswordByUserName]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetUserPasswordByUserName]
@UserName varchar(50)
as
Select * from aspnet_Users u
join dbo.aspnet_Membership m
on u.UserID= m.UserID
where UserName=@UserName


GO
