USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Teacher_GetAllTeacherAttendence]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 07-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_Teacher_GetAllTeacherAttendence] 
@TeacherId int,
@Year nvarchar(50),
@Month nvarchar(50)
	
AS
BEGIN
	SET NOCOUNT ON;
		select Date,InTime,OutTime from  tr_Attendence
		where TeacherId=@TeacherId and Year=@Year and Month=@Month	
END


GO
