USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_StudentData_Insert_Queen]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Liton
-- Create date: 29-02-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_StudentData_Insert_Queen] (
@PersonId int,
@RegNo nvarchar(50),
@AddmissionDate DateTime,
@CreatedBy nvarchar(50),
@CreatedDate nvarchar(50)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (select * from ss_Student where RegNo=@RegNo)
		begin
		    delete  from st_Person where Id=@PersonId
			select -1
		end
	else
		begin
			insert into ss_Student(PersonId,RegNo,AdmissionDate,CreatedBy,CreatedDate) values (
			@PersonId,@RegNo,@AddmissionDate,@CreatedBy,@CreatedDate)
			select SCOPE_IDENTITY()
		end

	
  
END


GO
