USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[ViewAAD]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewAAD]
AS
SELECT     tbl_Account.SubHeadId, tbl_Sub_AccounHead.SubHeadName, SUM(tbl_Lgledger.DrAmount) AS [Auddition Balance], 
                      SUM(ROUND(tbl_Lgledger.DrAmount * tbl_Sub_AccounHead.Description / 100 / 365 * DATEDIFF(dd, tbl_Lgledger.TDate, GETDATE()), 2)) 
                      AS [Auddition Depre], tbl_Sub_AccounHead.Description
FROM         tbl_Lgledger INNER JOIN
                      tbl_Account ON tbl_Lgledger.AccountCodeId = tbl_Account.AccountCodeId INNER JOIN
                      tbl_Sub_AccounHead ON tbl_Account.SubHeadId = tbl_Sub_AccounHead.SubHeadCodeId
WHERE     (tbl_Account.SubHeadId IN ('9002001', '9002002', '9002003', '9002004', '9002005', '9002006', '9002007', '9002008', '9002009')) AND 
                      (YEAR(tbl_Lgledger.TDate) = YEAR(GETDATE()))
GROUP BY tbl_Sub_AccounHead.SubHeadName, tbl_Account.SubHeadId, tbl_Sub_AccounHead.Description



GO
