USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Medium_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
CREATE PROCEDURE [dbo].[USP_Medium_Update] (
@Id int,
@Prefix nvarchar(50),
@YearFormat int,
@StyleId int,
@IsRegNoUse bit
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update bs_Medium set
	Prefix=@Prefix,
	YearStyle=@YearFormat,
	StyleId=@StyleId,
	IsRegNoUse=@IsRegNoUse	
	where Id=@Id
  Select Max(ID) ID from dbo.bs_Medium
END


GO
