USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Publisher_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Debashish Mondal
-- Create date: 29-09-2015
-- =============================================
create PROCEDURE [dbo].[USP_Publisher_Update] (
@Id int,
@Publisher nvarchar(250)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	Update lb_Publisher set Publisher=@Publisher
	where Id=@Id
END


GO
