USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[st_ProfileLog]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[st_ProfileLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentToClassId] [int] NULL,
	[Year] [nvarchar](50) NULL,
	[MediumId] [int] NULL,
	[CampusId] [int] NULL,
	[ClassId] [int] NULL,
	[GroupId] [int] NULL,
	[ShiftId] [int] NULL,
	[SectionId] [int] NULL,
	[previousRoll] [nvarchar](50) NOT NULL,
	[IsPromotion] [bit] NULL,
	[SubjectiveMarks] [decimal](5, 2) NULL,
	[ObjectiveMarks] [decimal](5, 2) NULL,
	[PracticalMarks] [decimal](5, 2) NULL,
	[OtherMarks] [decimal](5, 2) NULL,
	[AttendanceMarks] [decimal](5, 2) NULL,
	[MonthlyMarks] [decimal](5, 2) NULL,
	[TotalMarks] [decimal](5, 2) NULL,
	[NewRoll] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_st_ProfileLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
