USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Roll_Chacked]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Roll_Chacked] (
@Criteria nvarchar(max)
)
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)

	if(@Criteria<>'')
	begin
	   set @sql='Select * from er_StudentToClass  where '+@Criteria 
		EXECUTE sp_executesql @sql
	end
END


GO
