USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_SMSTemplete_GetEditById]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 23-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_SMSTemplete_GetEditById] (
	@Id int
)
AS
BEGIN
	select * from SMSTemplete	
	WHERE Id=@Id
	
END


GO
