USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_MessageCredit_Update]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_MessageCredit_Update] (
@Id int,
@PurchaseDate DATETIME=NULL,
@PurchaseQuantity INT=NULL,
@Balance  DECIMAL(10,2)=NULL,
@TransactionNumber NVARCHAR(50)=NULL,
@Status BIT=NULL,
@IsDefault BIT=NULL
)
	
AS
BEGIN
	SET NOCOUNT ON;
	update MessageCredit set
	PurchaseDate=@PurchaseDate,
	PurchaseQuantity=@PurchaseQuantity,
	Balance=@Balance,
	TransactionNumber=@TransactionNumber,
	Status=@Status,
	IsDefault=@IsDefault
	where Id=@Id
  
END


GO
