USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_Report_GetStudentInformation]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Report_GetStudentInformation] (
@Criteria nvarchar(max)
)
	
AS
BEGIN
	SET NOCOUNT ON;
	declare @sql nvarchar(max)
	set @sql='select st_Person.NameEng,st_Person.FatherNameEng,st_Person.MotherNameEng,  Convert(varchar,st_Person.DateofBirth,103) as DateofBirth,bs_BloodGroup.BloodGroup,bs_ClassName.ClassName, bs_Group.GroupName, bs_Shift.Shift,bs_Section.Section,bs_CampusName.CampusName,
			ss_Student.RegNo,Convert(varchar,ss_Student.UpdatedDate,103) as UpdatedDate ,er_StudentToClass.RollNo,bs_Year.Year, st_Person.Mobile,st_Person.PersonImage,bs_Medium.MediumName
			from er_StudentToClass 
			inner join ss_Student on er_StudentToClass.StudentId=ss_Student.Id
			inner join st_Person on ss_Student.PersonId=st_Person.Id
			inner join bs_Medium on er_StudentToClass.MediumId=bs_Medium.Id
			inner join bs_ClassName on er_StudentToClass.ClassId=bs_ClassName.Id
			inner join bs_Group on er_StudentToClass.GroupId=bs_Group.Id
			inner join bs_Shift on er_StudentToClass.ShiftId=bs_Shift.Id
			inner join bs_Section on er_StudentToClass.SectionId=bs_Section.Id
			inner join bs_CampusName on er_StudentToClass.CampusId=bs_CampusName.Id
			inner join bs_Year on er_StudentToClass.Year=bs_Year.Id
			left outer join bs_BloodGroup on st_Person.BloodGroup=bs_BloodGroup.Id  
			where
			
			 '+@Criteria
 + 'order by CONVERT(INT,REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(ss_Student.RegNo,''-'',''''),''CS'',''''),''CB'',''''),''ZT'',''''),''ZE'','''')) asc'

EXECUTE sp_executesql @sql
END
GO
