USE [DB_A12E6A_queenschool]
GO
/****** Object:  View [dbo].[cc3]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[cc3]
AS
SELECT     ISNULL(SUM(dbo.tbl_Lgledger.DrAmount), 0) AS TotalInvenTories
FROM         dbo.tbl_Account INNER JOIN
                      dbo.tbl_Sub_AccounHead ON dbo.tbl_Account.SubHeadId = dbo.tbl_Sub_AccounHead.SubHeadCodeId INNER JOIN
                      dbo.tbl_AccountHead ON dbo.tbl_Sub_AccounHead.HeadCodeId = dbo.tbl_AccountHead.HeadCodeId INNER JOIN
                      dbo.tbl_Lgledger ON dbo.tbl_Account.AccountCodeId = dbo.tbl_Lgledger.AccountCodeId
WHERE     (dbo.tbl_Account.SubHeadId IN ('4003003', '4003006', '4003010', '4003012'))



GO
