USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_PresentAdd_Delete]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[USP_PresentAdd_Delete] (
@PersonId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	delete st_PresentAddress where PersonId=@PersonId
END
GO
