USE [DB_A12E6A_queenschool]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetProfitByJrTranId]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LITON
-- Create date: 29-01-2017
-- =============================================
CREATE PROCEDURE [dbo].[USP_GetProfitByJrTranId] (
@JrTranId int
)
	
AS
BEGIN
	SET NOCOUNT ON;
	select CASE WHEN DrAmount ='' THEN  CrAmount ELSE CrAmount END from tbl_Journal WHERE JrTranId=@JrTranId
END


GO
