USE [DB_A12E6A_queenschool]
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 2025-10-28 6:47:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[Branch] [nvarchar](255) NULL,
	[Sl] [float] NULL,
	[Code] [nvarchar](255) NULL,
	[Source] [nvarchar](255) NULL,
	[Level] [nvarchar](255) NULL,
	[ID] [float] NULL,
	[1stAdmissionDate] [datetime] NULL,
	[StudentName] [nvarchar](255) NULL,
	[District] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[BirthDate] [datetime] NULL,
	[Section] [nvarchar](255) NULL,
	[OptionalSub] [nvarchar](255) NULL,
	[AdditionalSub] [nvarchar](255) NULL,
	[FatherName] [nvarchar](255) NULL,
	[MotherName] [nvarchar](255) NULL,
	[Phone1] [nvarchar](255) NULL,
	[Phone2] [nvarchar](255) NULL,
	[SpecialNotes] [nvarchar](255) NULL,
	[Counselor] [nvarchar](255) NULL,
	[Studentship] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL
) ON [PRIMARY]
GO
