<section class="page page--teachers">
  <div
    class="page__section"
    data-vue-app="TeacherDetailApp"
    data-state-id="teacher-detail-state"
  ></div>

  <noscript>
    <%- include("./_detail-fallback", { teacher, csrfToken }) %>
  </noscript>
</section>

<script type="application/json" id="teacher-detail-state">
  <%- detailState || '{}' %>
</script>
