<section class="page page--teachers">
  <div
    class="page__section"
    data-vue-app="TeacherListApp"
    data-state-id="teacher-index-state"
  ></div>

  <noscript>
    <%- include("./_index-fallback", { teachers, search, csrfToken }) %>
  </noscript>
</section>

<script type="application/json" id="teacher-index-state">
  <%- indexState || '{}' %>
</script>
