<section class="page page--students">
  <div
    class="page__section"
    data-vue-app="StudentDetailApp"
    data-state-id="student-detail-state"
  ></div>

  <noscript>
    <%- include("./_detail-fallback", { student, csrfToken }) %>
  </noscript>
</section>

<script type="application/json" id="student-detail-state">
  <%- detailState || '{}' %>
</script>
