<section class="page page--students">
  <div
    class="page__section"
    data-vue-app="StudentListApp"
    data-state-id="student-index-state"
  ></div>

  <noscript>
    <%- include("./_index-fallback", { students, search, csrfToken }) %>
  </noscript>
</section>

<script type="application/json" id="student-index-state">
  <%- indexState || '{}' %>
</script>
